Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

feat: add analyze scripts
  apps/react-native/package.json
Due: prettier --write

chore(deps): align packages/ui with 373-ui-components-assets
  packages/ui/src/assets/animations/creating-account-dark.json
  packages/ui/src/assets/animations/creating-account-light.json
  packages/ui/src/assets/animations/loading-bar-dark.json
  packages/ui/src/assets/animations/loading-bar-light.json
  packages/ui/src/assets/animations/shield-with-lock-dark-2.json
  packages/ui/src/assets/animations/shield-with-lock-light-2.json
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/LottieView.web.tsx
  packages/ui/src/components/RecipientItem.tsx
  packages/ui/src/components/ShieldAnimation.tsx
  packages/ui/src/components/ToastContext.tsx
  packages/ui/src/components/onboarding/AccountCreationLoadingState.tsx
  packages/ui/src/components/onboarding/BackupOptionCard.tsx
  packages/ui/src/components/onboarding/FeatureItem.tsx
  packages/ui/src/components/onboarding/OnboardingHeader.tsx
  packages/ui/src/components/onboarding/ProfileTypeCard.tsx
  packages/ui/src/components/onboarding/index.ts
  packages/ui/src/theme.ts
  packages/ui/src/utils/lottie-image-injection.ts
Due: eslint --cache --fix, prettier --write

chore(deps): remove unused NotificationToggle component
  packages/ui/src/components/onboarding/NotificationToggle.tsx
Due: eslint --cache --fix, prettier --write

refactor(deps): remove redundant GradientBackground wrapper
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
  packages/ui/src/components/onboarding/GradientBackground.tsx
Due: eslint --cache --fix, prettier --write

feat(screens): add i18n translation for Recommended badge
  packages/screens/src/locales/en.json
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: add pdf upload method for jsonimport
  apps/extension/build/webpack.common.config.ts
  apps/extension/package.json
  apps/extension/src/ui/components/import-components/JsonImport.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat(deps): add recommended translation for all languages
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

chore(deps): remove unused translation keys
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

chore(deps): remove unused termsAndPrivacy translation key
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

feat(deps): add recommended translation and remove unused keys
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

feat(deps): add complete onboarding translations for all languages
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

fix(deps): add missing skipWarning translations
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

fix(deps): add missing translation keys to all locales
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

feat: add image optimization to lint-staged and scripts
  .claude/settings.local.json
  .lintstagedrc.json
  full_bg_light.png
  package.json
  pnpm-lock.yaml
  scripts/optimize-images.js
Due: eslint --cache --fix, prettier --write

fix: remove testing image
  full_bg_light.png
Due: none

fix: format the json after import
  apps/extension/src/ui/components/import-components/JsonImport.tsx
Due: eslint --cache --fix, prettier --write

feat: add bulk image optimization script
  package.json
  pnpm-lock.yaml
  scripts/bulk-optimize-images.js
Due: eslint --cache --fix, prettier --write

fix: remove imagemin-cli from devDependencies
  package.json
  pnpm-lock.yaml
  scripts/bulk-optimize-images.js
Due: eslint --cache --fix, prettier --write

feat: add EIP-1559 (#1994)
  apps/react-native/ios/FRW/Foundation/Model/Error.swift
  apps/react-native/ios/FRW/Modules/EVM/ViewModel/EVMModels.swift
  apps/react-native/ios/FRW/Modules/TrustProvider/TrustJSMessageHandler.swift
  apps/react-native/ios/FRW/Resource/en.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/zh-Hans.lproj/Localizable.strings
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/WalletConnectEVMHandler.swift
Due: none

fix(react-native): fix dark mode theme detection in onboarding screens
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
  packages/screens/src/onboarding/GetStartedScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: rn screen type and some ui
  app/src/main/java/com/flowfoundation/wallet/page/main/presenter/DrawerLayoutContent.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/ReactNativeActivity.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/BridgeModels.kt
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-en-rUS/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-es-rUS/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-hi-rIN/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rHK/strings.xml
  app/src/main/res/values-zh-rSG/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/strings.xml
Due: none

373 - onboarding localization keys + missing keys from other screens (#930)
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

feat: add redirect handling after WalletConnect approval
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/Utils.kt
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/WalletConnectRequestDispatcher.kt
Due: none

feat: fix build error
  app/src/main/java/com/flowfoundation/wallet/reactnative/ReactNativeActivity.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/BridgeModels.kt
Due: none

Create BridgeModels.kt
  app/src/main/java/com/flowfoundation/wallet/bridge/BridgeModels.kt
Due: none

feat: add drop file method
  apps/extension/_raw/_locales/en/messages.json
  apps/extension/_raw/_locales/ja/messages.json
  apps/extension/_raw/_locales/ru/messages.json
  apps/extension/_raw/_locales/zh_CN/messages.json
  apps/extension/src/messages.json
  apps/extension/src/ui/components/import-components/JsonImport.tsx
Due: eslint --cache --fix, prettier --write

fix(react-native): add debug logging for theme detection in GetStartedScreen
  packages/screens/src/onboarding/GetStartedScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix(react-native): remove duplicate onboarding sections from locale files
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

fix: add missing string
  app/src/main/res/values/strings.xml
  build.gradle
Due: none
