Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

Update Info.plist
  apps/react-native/ios/FRW/App/Env/Prod/Info.plist
Due: none

Update presubmit.yml
  apps/react-native/ios/.github/workflows/presubmit.yml
Due: prettier --write

feat: add tx hash calc
  packages/wallet/README.md
  packages/wallet/src/__tests__/eth-transaction-hash.test.ts
  packages/wallet/src/index.ts
  packages/wallet/src/services/eth-transaction-hash.ts
Due: eslint --cache --fix, prettier --write

feat: import external seed phrase and pk register a flow address if doesnt have
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/account-management.ts
  apps/extension/src/core/service/openapi.ts
  apps/extension/src/ui/components/import-components/ImportTabs.tsx
  apps/extension/src/ui/components/import-components/KeyImport.tsx
  apps/extension/src/ui/components/import-components/SeedPhraseImport.tsx
  apps/extension/src/ui/views/Welcome/Register/index.tsx
  apps/extension/src/ui/views/Welcome/import-profile/index.tsx
Due: eslint --cache --fix, prettier --write

fix: return correct txid and fix the get parent address function using uid
  apps/extension/src/background/controller/provider/controller.ts
  apps/extension/src/core/service/userWallet.ts
Due: eslint --cache --fix, prettier --write

feat: add private key unit test
  packages/wallet/src/__tests__/wallet-eoa.test.ts
  packages/wallet/src/keys/private-key.ts
  packages/wallet/src/keys/seed-phrase-key.ts
  packages/wallet/src/services/key-indexer.ts
  packages/wallet/src/wallet/wallet.ts
Due: eslint --cache --fix, prettier --write

ci: update presubmit ai model to sonnet 4.5
  .github/workflows/presubmit.yml
Due: prettier --write

feat: make signatureAlgorithm as optional params
  packages/wallet/src/__tests__/eth-signer.test.ts
  packages/wallet/src/__tests__/wallet-eoa.test.ts
  packages/wallet/src/keys/private-key.ts
Due: eslint --cache --fix, prettier --write

chore: update pnpm lock file
  pnpm-lock.yaml
Due: prettier --write

fix: also use privatekey to generate eoa
  apps/extension/src/core/service/wallet-manager.ts
  apps/extension/src/ui/hooks/use-account-hooks.ts
  apps/extension/src/ui/hooks/useProfileHook.ts
Due: eslint --cache --fix, prettier --write

ci: fix unknown llm model issue
  .github/workflows/presubmit.yml
Due: prettier --write

fix: revert LLM model back to sonnet 4
  .github/workflows/presubmit.yml
Due: prettier --write

chore: move Account folder
  packages/wallet/src/Account/COA.ts
  packages/wallet/src/Account/ChildAccount.ts
  packages/wallet/src/Account/EVMAccount.ts
  packages/wallet/src/Account/FlowAccount.ts
  packages/wallet/src/Account/index.ts
Due: eslint --cache --fix, prettier --write

chore: update folder name
  packages/wallet/src/__tests__/COA.test.ts
  packages/wallet/src/__tests__/EVMAccount.test.ts
  packages/wallet/src/__tests__/FlowAccount.test.ts
  packages/wallet/src/account/childAccount.ts
  packages/wallet/src/account/coa.ts
  packages/wallet/src/account/evmAccount.ts
  packages/wallet/src/account/flowAccount.ts
  packages/wallet/src/account/index.ts
Due: eslint --cache --fix, prettier --write

chore: update file name
  packages/wallet/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: separate web views
  packages/screens/src/receive/ReceiveScreen.query.native.tsx
  packages/screens/src/receive/ReceiveScreen.query.tsx
  packages/screens/src/receive/ReceiveScreen.query.web.tsx
Due: eslint --cache --fix, prettier --write

ci: remove push trigger from the extension ci
  .github/workflows/extension-build.yml
Due: prettier --write

chore: update ci config
  .github/workflows/packages.yml
Due: prettier --write

feat: add bip39 support on wallet package
  packages/wallet/src/__tests__/bip39.test.ts
  packages/wallet/src/crypto/bip39.ts
  packages/wallet/src/crypto/wallet-core-provider.ts
  packages/wallet/src/index.ts
Due: eslint --cache --fix, prettier --write

chore: update account config
  packages/workflow/tests/utils/accounts.ts
Due: eslint --cache --fix, prettier --write

fix: separate web views
  packages/screens/package.json
  packages/screens/src/receive/ReceiveScreen.query.web.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

chore: update gas limit config
  packages/workflow/src/send/utils.ts
Due: eslint --cache --fix, prettier --write

ci: split unit test and e2e test
  .github/workflows/extension-build.yml
  .github/workflows/extension-e2e.yml
  README.md
Due: prettier --write

Revert "ci: split unit test and e2e test"
  .github/workflows/extension-build.yml
  .github/workflows/extension-e2e.yml
  README.md
Due: prettier --write

fix: address feedback
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/receive/ReceiveScreen.query.native.tsx
  packages/screens/src/receive/ReceiveScreen.query.web.tsx
  packages/stores/src/index.ts
  packages/stores/src/receiveStore.ts
Due: eslint --cache --fix, prettier --write

fix: address feedback
  packages/ui/src/components/AccountCard.tsx
Due: eslint --cache --fix, prettier --write

fix: address feedback
  packages/ui/src/components/AccountSelector.tsx
Due: eslint --cache --fix, prettier --write

test: update test script
  packages/workflow/tests/send.ft.script.test.ts
Due: eslint --cache --fix, prettier --write

fix: fix ci build error
  .github/workflows/extension-build.yml
Due: prettier --write

ci: update manual input to selection
  .github/workflows/extension-e2e.yml
Due: prettier --write

fix: change eoa account when switching profile, update account sidebar ui
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/ui/components/account/account-listing.tsx
Due: eslint --cache --fix, prettier --write

ci: fix e2e error
  .github/workflows/extension-e2e.yml
  README.md
  apps/extension/e2e/utils/loader.ts
Due: eslint --cache --fix, prettier --write

fix: update account listing
  apps/extension/src/ui/components/account/account-listing.tsx
Due: eslint --cache --fix, prettier --write

feat: display eoa account in send workflow
  apps/extension/package.json
  apps/extension/src/bridge/PlatformContext.tsx
Due: eslint --cache --fix, prettier --write

ci: update ci scripts to fix issue
  .github/workflows/balance-monitor.yml
  .github/workflows/extension-e2e.yml
  scripts/derive-extension-id.js
  scripts/monitor-balance.js
  scripts/notify-discord.js
Due: eslint --cache --fix, prettier --write

fix: sendworkflow eoa bridge
  apps/extension/src/background/controller/provider/controller.ts
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/core/service/userWallet.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/stores/src/sendStore.ts
  packages/ui/src/components/ConfirmationAnimation.tsx
Due: eslint --cache --fix, prettier --write

fix: fix eoa to coa error
  packages/workflow/src/send/tokenStrategies.ts
Due: eslint --cache --fix, prettier --write

feat: shared lib for qr code share
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/package.json
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/package.json
  packages/screens/src/receive/ReceiveScreen.query.native.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write
