Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,webp}": ["node scripts/optimize-images.js"]
}

feat: open flag coa to eoa
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
Due: none

fix: wrap erro
  apps/react-native/ios/FRW/Modules/Profile/DeveloperMode/DeveloperModeView.swift
Due: none

feat: update flow-wallet-kit
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/react-native/ios/FRW/Modules/Wallet/WalletAccount/WalletAccount+FlowWalletKit.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManger+Account.swift
Due: none

feat: update authn background
  apps/react-native/ios/FRW/Modules/Browser/View/Auth/AuthnAccountsView.swift
  apps/react-native/ios/FRW/Modules/Browser/View/Auth/AuthnView.swift
Due: none

feat: update eoa account
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManger+Account.swift
Due: none

fix: eoa transaction
  apps/react-native/ios/FRW/Modules/TrustProvider/TrustJSMessageHandler.swift
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/WalletConnectEVMHandler.swift
Due: none

chore: stash commit
  apps/extension/e2e/utils/helper.ts
  packages/screens/src/migration/InfoScreen.query.tsx
  packages/screens/src/migration/MigrationScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: update podfile.lock
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/Podfile.lock
Due: none

feat: update COA status on account switch in side menu
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
  apps/react-native/ios/Podfile.lock
  apps/react-native/ios/main.jsbundle
Due: none

fix: evm addr checlsum
  packages/workflow/package.json
  packages/workflow/src/send/tokenStrategies.ts
Due: eslint --cache --fix, prettier --write

chore: remove log
  packages/workflow/src/send/tokenStrategies.ts
Due: eslint --cache --fix, prettier --write

fix: confirmation drawer
  packages/ui/src/components/ConfirmationDrawer.tsx
Due: eslint --cache --fix, prettier --write

fix: align summary text
  packages/ui/src/components/ConfirmationDrawer.tsx
Due: eslint --cache --fix, prettier --write

fix: control the incompatible state using the inbox feature flag
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: deriveindex for privatekey
  apps/extension/src/core/service/wallet-manager.ts
Due: eslint --cache --fix, prettier --write

fix: send index
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/core/service/wallet-manager.ts
  apps/extension/src/ui/views/Approval/components/EthApproval/EthConnect/index.tsx
Due: eslint --cache --fix, prettier --write

fix: update account display and edit
  apps/extension/src/core/service/account-management.ts
  apps/extension/src/ui/views/Setting/AccountList/AccountDetail.tsx
Due: eslint --cache --fix, prettier --write

feat: loss localized
  apps/react-native/ios/FRW/Modules/Wallet/Receive/ReceiveQRView.swift
Due: none

fix: async fetch coa after create account
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuView.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
Due: none

fix: searchable on iOS 26
  apps/react-native/ios/FRW/Modules/NFT/Views/NFTAddCollectionView.swift
Due: none

feat: update ui and asset review ui
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/migration/MigrationScreen.query.tsx
  packages/types/src/Migration.ts
  packages/ui/src/components/migration/MigrationAssetDrawer.tsx
  packages/ui/src/components/migration/index.ts
Due: eslint --cache --fix, prettier --write

feat: bump version number
  apps/extension/package.json
Due: prettier --write

fix: turn off feature flag
  apps/extension/src/ui/components/account-menu/MenuDrawer.tsx
  apps/extension/src/ui/views/Setting/index.tsx
Due: eslint --cache --fix, prettier --write

fix: hide coa toggle
  apps/react-native/ios/FRW/Modules/Profile/DeveloperMode/DeveloperModeView.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletAccount/WalletAccount.swift
  apps/react-native/ios/FRW/Services/Manager/LocalUserDefaults.swift
Due: none

feat: add log
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
Due: none

feat: add log and check coa
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletAccount/WalletAccount.swift
Due: none

fix: eth sign with address
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/stores/src/sendStore.ts
  packages/ui/src/components/AccountSelector.tsx
  packages/workflow/src/send/types.ts
  packages/workflow/src/send/utils.ts
Due: eslint --cache --fix, prettier --write

fix: update ui
  apps/extension/_raw/_locales/en/messages.json
  apps/extension/package.json
  apps/extension/src/core/service/coinList.ts
  apps/extension/src/core/utils/fclConfig.ts
  apps/extension/src/ui/components/account-menu/AddAccountPopup.tsx
  apps/extension/src/ui/components/account/account-card.tsx
  packages/cadence/package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: remove AccountType check for eoa
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManger+Account.swift
Due: none

feat: update bg color for AddAccount
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/AddAccount/AddAccountSheet.swift
  apps/react-native/ios/FRW/Resource/Colors.xcassets/Brain/Core/Drawer.colorset/Contents.json
  apps/react-native/ios/FRW/UI/Component/AdaptiveHostingController.swift
  apps/react-native/ios/FRW/UI/Extension/Color.swift
  apps/react-native/ios/FRW/UI/Extension/UIColor.swift
Due: prettier --write

fix: update assets count when passing to sendworkflow
  apps/extension/src/bridge/PlatformContext.tsx
Due: eslint --cache --fix, prettier --write

fix: fcl config
  packages/cadence/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: replace icon by svg
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/AddAccount/AddAccountSheet.swift
  apps/react-native/ios/FRW/Resource/Assets.xcassets/wallet/icon-plus-circle.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/wallet/icon-plus-circle.imageset/icon-plus-circle.svg
  apps/react-native/ios/FRW/Resource/Assets.xcassets/wallet/icon_create_evm.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/wallet/icon_create_evm.imageset/icon_create_evm.svg
Due: prettier --write

feat: update flowscan url endpoint and fix eoa custom avatar
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/core/service/transaction-activity.ts
  apps/extension/src/core/service/userWallet.ts
  packages/api/src/explorer.ts
  packages/api/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: remove api and use link click
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/transaction-activity.ts
  apps/extension/src/ui/hooks/useTransferListHook.ts
  apps/extension/src/ui/views/TransferList/index.tsx
  packages/api/src/explorer.ts
  packages/api/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: add erc20 token balance check with coa account in send workflow
  packages/screens/src/receive/ReceiveScreen.query.native.tsx
  packages/screens/src/receive/ReceiveScreen.query.web.tsx
  packages/screens/src/send/SelectTokensScreen.query.tsx
  packages/screens/src/send/SendToScreen.query.tsx
  packages/stores/src/account-visibility.ts
  packages/stores/src/index.ts
  packages/stores/src/tokenStore.query.ts
  packages/types/src/BridgeHandler.ts
  packages/ui/src/components/AccountSelector.tsx
Due: eslint --cache --fix, prettier --write

fix: resolve ERC20 balance race condition during login
  apps/react-native/ios/FRW/Modules/Wallet/WalletAccount/WalletAccount.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/Operations/ProfileLoginHandler.swift
  apps/react-native/ios/FRW/Services/Token/EVMTokenBalanceProvider.swift
Due: none

fix: hide entire account group when main account is manually hidden
  apps/react-native/ios/FRW/Modules/Profile/AccountList/AccountListView.swift
  apps/react-native/ios/FRW/Modules/Profile/AccountList/CadenceAccountView.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
Due: none

fix: nft loading
  apps/extension/src/ui/components/NFTs/CollectionDetailGrid.tsx
  apps/extension/src/ui/components/NFTs/GridView.tsx
  apps/extension/src/ui/components/NFTs/SearchDialog.tsx
Due: eslint --cache --fix, prettier --write

fix: unify NFT claim flow to use ClaimTokenDetailScreen
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write
