Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,webp}": ["node scripts/optimize-images.js"]
}

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: prettier --write

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: prettier --write

fix: swap entrance logic
  app/src/main/java/com/flowfoundation/wallet/page/token/detail/presenter/TokenDetailPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/wallet/dialog/SwapProviderDialog.kt
  app/src/main/java/com/flowfoundation/wallet/page/wallet/presenter/WalletHeaderPresenter.kt
  app/src/main/res/drawable-xxhdpi/ic_increment_finance.webp
  app/src/main/res/drawable-xxhdpi/ic_punch_swap.webp
  app/src/main/res/drawable-xxhdpi/ic_trado.webp
  app/src/main/res/layout/dialog_swap_provider.xml
Due: node scripts/optimize-images.js

chore: bump version to r3.0.7
  gradle.properties
Due: none

feat: update ProfileModel codable
  apps/react-native/ios/FRW/Modules/Login/ViewModel/LoginViewModelProtocol.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/Models/ProfileModel.swift
Due: none

feat: add remote flag wrap for eoa
  apps/react-native/ios/FRW/Modules/Profile/DeveloperMode/DeveloperModeView.swift
  apps/react-native/ios/FRW/Modules/TrustProvider/TrustJSMessageHandler.swift
  apps/react-native/ios/FRW/Resource/en.lproj/Localizable.strings
  apps/react-native/ios/FRW/Services/Manager/Config/RemoteConfig.swift
  apps/react-native/ios/FRW/Services/Manager/Config/RemoteConfigManager.swift
  apps/react-native/ios/FRW/Services/Manager/LocalUserDefaults.swift
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/WalletConnectEVMHandler.swift
Due: none

feat: blocto migration ui
  packages/screens/src/backup/BackupMnemonicScreen.query.tsx
  packages/screens/src/backup/BackupTipScreen.query.tsx
  packages/screens/src/backup/backup.types.ts
  packages/screens/src/backup/index.ts
  packages/screens/src/index.ts
  packages/screens/src/locales/en.json
Due: eslint --cache --fix, prettier --write

feat: mgiration page
  apps/extension/src/ui/assets/icons/settings/Migration.tsx
  apps/extension/src/ui/views/Dashboard/index.tsx
  apps/extension/src/ui/views/InnerRoute.tsx
  apps/extension/src/ui/views/Setting/Migration/index.tsx
  apps/extension/src/ui/views/Setting/index.tsx
  packages/icons/assets/settings.svg
  packages/icons/assets/zap.svg
  packages/icons/src/react-native/Settings.generated.tsx
  packages/icons/src/react-native/Zap.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/Settings.generated.tsx
  packages/icons/src/web/Zap.generated.tsx
  packages/icons/src/web/index.generated.ts
  packages/screens/src/index.ts
  packages/screens/src/locales/en.json
  packages/screens/src/migration/InfoScreen.query.tsx
  packages/screens/src/migration/MigrationScreen.query.tsx
  packages/screens/src/migration/index.ts
  packages/ui/src/components/migration/MigrationAccountCard.tsx
  packages/ui/src/components/migration/MigrationAssetDrawer.tsx
  packages/ui/src/components/migration/MigrationFeatureItem.tsx
  packages/ui/src/components/migration/MigrationInfoBanner.tsx
  packages/ui/src/components/migration/MigrationProgressBar.tsx
  packages/ui/src/components/migration/MigrationProgressIndicator.tsx
  packages/ui/src/components/migration/MigrationStatusMessage.tsx
  packages/ui/src/components/migration/index.ts
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: blocto migration ui
  packages/screens/src/backup/BackupMnemonicScreen.query.tsx
  packages/screens/src/backup/BackupTipScreen.query.tsx
  packages/screens/src/backup/backup.types.ts
  packages/screens/src/locales/en.json
  packages/ui/src/components/onboarding/TipCard.tsx
  packages/ui/src/components/onboarding/index.ts
Due: eslint --cache --fix, prettier --write

feat: blocto migration ui
  packages/screens/src/backup/BackupTipScreen.query.tsx
  packages/ui/src/components/onboarding/TipCard.tsx
Due: eslint --cache --fix, prettier --write

feat: blocto migration ui
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

feat: blocto migration ui
  packages/screens/src/backup/BackupMnemonicScreen.query.tsx
  packages/screens/src/hooks/index.ts
  packages/screens/src/hooks/use-copy-to-clipboard.ts
  packages/screens/src/index.ts
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
  packages/ui/src/components/onboarding/MnemonicGrid.tsx
  packages/ui/src/components/onboarding/index.ts
Due: eslint --cache --fix, prettier --write

feat: blocto migration ui
  packages/screens/src/backup/BackupMnemonicScreen.query.tsx
  packages/screens/src/backup/BackupTipScreen.query.tsx
  packages/screens/src/locales/en.json
  packages/ui/src/components/onboarding/MnemonicGrid.tsx
Due: eslint --cache --fix, prettier --write

feat: add localization
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

chore: generate build for testing (#1036)
  apps/react-native/scripts/bridge-codegen.js
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

feat: update RN
  apps/react-native/ios/FRW/Modules/Profile/ProfileViewModel.swift
  apps/react-native/ios/FRW/Services/Manager/Transaction/TransactionHolder.swift
  apps/react-native/ios/main.jsbundle
Due: none

fix: resolve migration package lint errors and add proper typing
  packages/migration/CHANGELOG.md
  packages/migration/README.md
  packages/migration/__tests__/index.test.ts
  packages/migration/__tests__/utils/accounts.ts
  packages/migration/__tests__/utils/authz.ts
  packages/migration/__tests__/utils/crypto.ts
  packages/migration/__tests__/utils/index.ts
  packages/migration/package.json
  packages/migration/src/index.ts
  packages/migration/src/utils/index.ts
  packages/migration/tsconfig.json
  packages/migration/tsup.config.ts
  packages/types/src/Migration.ts
  packages/types/src/index.ts
  packages/ui/src/components/HtmlView.web.tsx
  pnpm-lock.yaml
  tsconfig.eslint.json
Due: eslint --cache --fix, prettier --write

fix: replace deprecated substr with substring
  packages/migration/src/utils/index.ts
Due: eslint --cache --fix, prettier --write

feat: add sctipts for add keys and revoke keys
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Base/add_and_revoke_keys.cdc
Due: eslint --cache --fix, prettier --write

feat: eoa add parent for RN
  apps/react-native/ios/FRW/Modules/Wallet/WalletAccount/WalletAccount+FlowWalletKit.swift
Due: none

900 - re-implement missing native recovery screen entry points (#2367)
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeScreen.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/handlers/UIBridgeHandler.kt
Due: none

feat: start with onboard for no profile
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModule+Onboard.swift
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideContainerView.swift
  apps/react-native/ios/FRW/Services/Router/Coordinator.swift
Due: none

feat: switch root between RN and SideContainerView
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
  apps/react-native/ios/FRW/Services/Router/Coordinator.swift
Due: none

feat: add animation and setup flag
  apps/react-native/ios/FRW/Services/Router/Coordinator.swift
Due: none

feat: add restore from icloud
  apps/react-native/ios/FRW/Foundation/Bridge/NativeScreenName.swift
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
Due: none

fix: add wrap eoa tx switch button
  app/src/main/java/com/flowfoundation/wallet/manager/config/AppConfig.kt
  app/src/main/java/com/flowfoundation/wallet/manager/evm/Utils.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/subpage/developer/presenter/DeveloperModePresenter.kt
  app/src/main/java/com/flowfoundation/wallet/utils/PreferenceUtils.kt
  app/src/main/res/layout/activity_developer_mode_setting.xml
  app/src/main/res/values/strings.xml
Due: none

feat: seed phrase backup page
  app/src/main/java/com/flowfoundation/wallet/manager/account/AccountManager.kt
  app/src/main/java/com/flowfoundation/wallet/page/account/AccountListActivity.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/ProfileFragmentViewModel.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/compose/SettingScreen.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/subpage/wallet/WalletSettingActivity.kt
  app/src/main/java/com/flowfoundation/wallet/page/restore/keystore/PrivateKeyStoreCryptoProvider.kt
  app/src/main/java/com/flowfoundation/wallet/page/security/recovery/SecurityRecoveryActivity.kt
  app/src/main/res/drawable/bg_round_warning.xml
  app/src/main/res/drawable/ic_seed_phrase_copy_with_gap.xml
  app/src/main/res/layout/activity_security_recovery.xml
  app/src/main/res/layout/fragment_backup_recovery_phrase_info.xml
  app/src/main/res/layout/fragment_backup_seed_phrase_info.xml
  app/src/main/res/layout/fragment_view_recovery_phrase.xml
  app/src/main/res/layout/fragment_wallet_create_mnemonic.xml
  app/src/main/res/values/colors.xml
Due: none

chore: fix typo
  packages/migration/src/utils/index.ts
Due: eslint --cache --fix, prettier --write

fix: testing feedback
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

feat: add localization - blocto (#1074)
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write
