Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

Revert "Merge remote-tracking branch 'origin/feature/1063-key-rotation-merge-dev' into 1121-extension-update-blocto-key"
  packages/workflow/src/send/tokenStrategies.ts
Due: eslint --cache --fix, prettier --write

Reapply "Merge remote-tracking branch 'origin/feature/1063-key-rotation-merge-dev' into 1121-extension-update-blocto-key"
  packages/workflow/src/send/tokenStrategies.ts
Due: eslint --cache --fix, prettier --write

feat: add pt on commit button
  packages/screens/src/keyrotation/KeyRotationMnemonicScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: analytics js
  apps/extension/build/webpack.common.config.ts
  apps/extension/tsconfig.json
  packages/analytics/src/index.ts
  packages/analytics/src/providers/console.ts
  packages/analytics/src/providers/mixpanel.ts
  packages/ui/src/components/TokenAmountInput.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: extension bug
  apps/extension/src/core/service/keyring/index.ts
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/ui/components/account/account-listing.tsx
  apps/extension/src/ui/hooks/use-key-rotation-check.ts
  apps/extension/src/ui/views/Dashboard/index.tsx
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: update display
  apps/extension/src/ui/components/account/account-listing.tsx
  apps/extension/src/ui/views/Dashboard/index.tsx
Due: eslint --cache --fix, prettier --write

fix: remove contract name check for evm nft
  apps/extension/src/ui/components/NFTs/NFTSendButton.tsx
Due: eslint --cache --fix, prettier --write

feat: uncomment revoke keys action
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Base/add_and_revoke_keys.cdc
Due: eslint --cache --fix, prettier --write

fix: remove console log
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/background/utils/firebaseConfig.ts
  apps/extension/src/core/service/googleDrive.ts
  apps/extension/src/core/service/keyring/index.ts
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/data-model/local-data-keys.ts
  packages/ui/src/components/NFTSelectionBar.tsx
Due: eslint --cache --fix, prettier --write

feat: update key type
  packages/services/src/KeyRotationService.ts
Due: eslint --cache --fix, prettier --write

feat: wait txid to be sealed
  packages/cadence/src/index.ts
  packages/services/src/KeyRotationService.ts
  packages/workflow/src/keyRotation/keyRotation.ts
Due: eslint --cache --fix, prettier --write

feat: wait txid to be sealed
  packages/cadence/src/index.ts
  packages/workflow/src/keyRotation/keyRotation.ts
Due: eslint --cache --fix, prettier --write

fix: account key type issue
  packages/services/src/KeyRotationService.ts
Due: eslint --cache --fix, prettier --write

feat: rename key model to avoid conflict
  packages/services/src/KeyRotationService.ts
  packages/types/src/KeyRotation.ts
  packages/utils/src/key-rotation.ts
  packages/workflow/src/keyRotation/index.ts
Due: eslint --cache --fix, prettier --write

fix: incorrect evm contract address issue
  packages/stores/src/sendStore.ts
  packages/workflow/src/key-rotation/types/index.ts
Due: eslint --cache --fix, prettier --write

chore: stash commit
  apps/extension/src/background/utils/mixpanel-analytics.ts
  apps/extension/src/shared/types/tracking-types.ts
Due: eslint --cache --fix, prettier --write

fix: keylist
  apps/extension/src/ui/views/Setting/KeyList/KeyList.tsx
Due: eslint --cache --fix, prettier --write

feat: support login v4 + add missing bridge methods for analytics package
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/stores/src/sendStore.ts
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

feat: update version number
  apps/extension/package.json
Due: prettier --write

Hotfix/1064 ios integration implement key rotation workflow integration (#2265)
  apps/react-native/ios/.gitignore
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/App/AppDelegate.swift
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
  apps/react-native/ios/FRW/Foundation/Model/Error.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/KeyStoreLoginViewModel.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/PrivateKeyLoginViewModel.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/SeedPhraseLoginViewModel.swift
  apps/react-native/ios/FRW/Modules/MultiRestore/ViewModel/RestoreMultiConnectViewModel.swift
  apps/react-native/ios/FRW/Modules/PushAlert/PushAlertView.swift
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Modules/Wallet/FlowWalletKit/KeyChainAccessibilityUpdate.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/BloctoDetectorService.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap+React.swift
  apps/react-native/ios/FRW/Services/Router/RouteableUIHostingController.swift
  apps/react-native/ios/Podfile.lock
  apps/react-native/ios/main.jsbundle
Due: none

fix(stores): remove static MixpanelProvider export to prevent RN crash
  packages/analytics/src/index.ts
Due: eslint --cache --fix, prettier --write

feat(ci): add project-level Claude Code configuration
  .claude/settings.json
  .claude/settings.local.json
Due: prettier --write

docs(ci): add Claude Code plugin installation guide and script
  .claude/README.md
  .claude/install-plugins.sh
  CLAUDE.md
Due: prettier --write

feat: new screen for keystore migration
  packages/screens/src/index.ts
  packages/screens/src/keystoremigration/KeystoreMigrationTipScreen.query.tsx
  packages/screens/src/keystoremigration/index.ts
  packages/screens/src/keystoremigration/keystoremigration.types.ts
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: eslint --cache --fix, prettier --write

fix: string for pad
  apps/extension/src/core/service/userWallet.ts
Due: eslint --cache --fix, prettier --write

fix: update import
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/index.generated.ts
  packages/migration/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add screen view track
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/background/utils/mixpanel-analytics.ts
  apps/extension/src/core/service/analytics.ts
  apps/extension/src/shared/types/tracking-types.ts
  apps/extension/src/ui/views/InnerRoute.tsx
  packages/analytics/src/examples/new-events-usage.ts
Due: eslint --cache --fix, prettier --write

Dev copy (#2271)
  apps/react-native/ios/.gitignore
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/App/AppDelegate.swift
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
  apps/react-native/ios/FRW/Foundation/Model/Error.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/LoginViewModelProtocol.swift
  apps/react-native/ios/FRW/Modules/MultiRestore/ViewModel/RestoreMultiConnectViewModel.swift
  apps/react-native/ios/FRW/Modules/PushAlert/PushAlertView.swift
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/BloctoDetectorService.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap+React.swift
  apps/react-native/ios/FRW/Services/Router/RouteableUIHostingController.swift
  apps/react-native/ios/main.jsbundle
Due: none

310/897 ios upgrade register endpoint from v3 to v4 (#2264)
  apps/react-native/ios/FRW.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModule+Onboard.swift
  apps/react-native/ios/FRW/Modules/Login/SyncAddDeviceView.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/LoginViewModelProtocol.swift
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Network/FRW/FRWAPI+User.swift
  apps/react-native/ios/FRW/Services/Network/FRW/Model/Request/UserRequests.swift
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
  node scripts/optimize-images.js: any of: *.{png,jpg,jpeg,gif,webp}
