Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,webp}": ["node scripts/optimize-images.js"]
}

fix(react-native): remove receiver label and use edit icon in ClaimAssetDrawer
  packages/ui/src/components/ClaimAssetDrawer.tsx
Due: eslint --cache --fix, prettier --write

feat(react-native): hide price chart section when no data is available
  packages/screens/src/tokens/ClaimTokenDetailScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: earn button on home (#2337)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Define/AppUrl.swift
  apps/react-native/ios/FRW/Modules/Wallet/TokenDetail/TokenDetailView.swift
  apps/react-native/ios/FRW/Modules/Wallet/TokenDetail/TokenDetailViewModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/View/EarnBanner.swift
  apps/react-native/ios/FRW/Modules/Wallet/View/EarnButton.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletHomeView.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletViewModel.swift
  apps/react-native/ios/FRW/Resource/Assets.xcassets/wallet/earn_icon.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/wallet/earn_icon.imageset/earn_icon.svg
  apps/react-native/ios/FRW/Resource/Assets.xcassets/wallet/earn_icon_36.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/wallet/earn_icon_36.imageset/earn_icon_36.pdf
Due: prettier --write

311/1235 ios coa to eoa asset migration (#2435)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels+Extension.swift
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModule+CoaToEoa.swift
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
  apps/react-native/ios/FRW/Modules/EVM/View/EVMTagView.swift
  apps/react-native/ios/FRW/Modules/NFT/NFTModel/NFTModel.swift
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuView.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletAccount/WalletAccount+Bridge.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletAccount/WalletAccount+Helpers.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletAccount/WalletAccount+Mock.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletAccount/WalletAccount.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/Services/ProfileFetchService.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap+React.swift
  apps/react-native/ios/FRW/Services/Token/TokenBalanceHandler.swift
  apps/react-native/ios/main.jsbundle
Due: none

feat(react-native): add Add NFT Collection screen with Android entry point
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/index.ts
  packages/screens/src/nfts/AddNFTCollectionScreen.query.tsx
  packages/screens/src/nfts/index.ts
  packages/screens/src/tokens/ClaimTokensScreen.query.tsx
  packages/stores/src/tokenStore.query.ts
  packages/ui/src/components/ClaimNFTCollectionRow.tsx
  packages/ui/src/index.ts
  packages/ui/src/types/index.ts
Due: eslint --cache --fix, prettier --write

feat(react-native): add NFT claim detail screen and wire claim navigation
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/icons/assets/arrow-down-wide-narrow.svg
  packages/screens/src/index.ts
  packages/screens/src/nfts/ClaimNFTDetailScreen.query.tsx
  packages/screens/src/nfts/index.ts
  packages/screens/src/tokens/ClaimTokensScreen.query.tsx
  packages/screens/src/tokens/claim-types.ts
  packages/screens/src/tokens/index.ts
Due: eslint --cache --fix, prettier --write

feat: add translations for AddNFTCollection and ClaimNFTDetail screens
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

feat: add ClaimNFTAssetDrawer and wire into NFT claim detail screen
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/nfts/ClaimNFTDetailScreen.query.tsx
  packages/ui/src/components/ClaimNFTAssetDrawer.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: nft claim detail UI fixes
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/nfts/ClaimNFTDetailScreen.query.tsx
  packages/ui/src/components/ClaimNFTCollectionRow.tsx
  packages/ui/src/components/NFTCard.tsx
Due: eslint --cache --fix, prettier --write

fix: match nft tab separator indentation to tokens tab
  packages/ui/src/components/ClaimNFTCollectionRow.tsx
Due: eslint --cache --fix, prettier --write

fix: use MultipleNFTsPreview in claim drawer and rename button to claim assets
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/nfts/ClaimNFTDetailScreen.query.tsx
  packages/ui/src/components/ClaimNFTAssetDrawer.tsx
Due: eslint --cache --fix, prettier --write

fix: drawer title claim assets, non-expandable nft preview, remove verified icon
  packages/screens/src/locales/en.json
  packages/screens/src/nfts/ClaimNFTDetailScreen.query.tsx
  packages/ui/src/components/ClaimNFTAssetDrawer.tsx
Due: eslint --cache --fix, prettier --write

fix: reduce bottom padding on nft preview row in claim drawer
  packages/ui/src/components/ClaimNFTAssetDrawer.tsx
  packages/ui/src/components/MultipleNFTsPreview.tsx
Due: eslint --cache --fix, prettier --write

fix: derive flowIdentifier and convert SVG logos in NFT catalog fetch
  packages/stores/src/tokenStore.query.ts
Due: eslint --cache --fix, prettier --write

fix: correct flowIdentifier construction and restore logos in NFT catalog
  packages/screens/src/nfts/AddNFTCollectionScreen.query.tsx
  packages/stores/src/assets/nft_collections_mainnet.json
  packages/stores/src/assets/nft_collections_testnet.json
  packages/stores/src/tokenStore.query.ts
Due: eslint --cache --fix, prettier --write

fix: replace for-of and Map with reduce for Hermes compatibility in NFT catalog
  packages/stores/src/tokenStore.query.ts
Due: eslint --cache --fix, prettier --write

chore: remove ios submodule
  .gitmodules
Due: none

feat: restore the UI and only add the scrollview
  packages/screens/src/migration/InfoScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: update lock file
  pnpm-lock.yaml
Due: prettier --write

feat: update variable name
  apps/react-native/ios/FRW/App/Env/Dev/EnvDefine.swift
Due: none

feat: multi backup ui update
  apps/extension/src/ui/components/google-import/DecryptWallet.tsx
  apps/extension/src/ui/components/google-import/EnterSeedPhrase.tsx
  apps/extension/src/ui/components/import-components/ImportTabs.tsx
  apps/extension/src/ui/components/import-components/MultiBackupConnect.tsx
  packages/icons/assets/dropbox.svg
  packages/icons/assets/seed-phrase.svg
  packages/icons/src/react-native/Dropbox.generated.tsx
  packages/icons/src/react-native/SeedPhrase.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/Dropbox.generated.tsx
  packages/icons/src/web/SeedPhrase.generated.tsx
  packages/icons/src/web/index.generated.ts
Due: eslint --cache --fix, prettier --write

feat: upgrade from "Instabug" to "Luciq”
  apps/react-native/ios/FRW/App/AppDelegate.swift
  apps/react-native/ios/FRW/App/Env/Dev/InstabugConfig.swift
  apps/react-native/ios/FRW/App/Env/Prod/InstabugConfig.swift
  apps/react-native/ios/FRW/App/Env/ServiceConfig.swift
  apps/react-native/ios/FRW/Foundation/Base/FlowLog.swift
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
  apps/react-native/ios/FRW/Modules/Alert/EmptyKeychainAlert.swift
  apps/react-native/ios/FRW/Modules/Backup/RecoveryPhraseView.swift
  apps/react-native/ios/FRW/Modules/Login/InputMnemonicView.swift
  apps/react-native/ios/FRW/Modules/Login/ViewsInLoginModule.swift
  apps/react-native/ios/FRW/Modules/MultiRestore/Views/RestoreMultiInputMnemonicView.swift
  apps/react-native/ios/FRW/Modules/Profile/ProfileView.swift
  apps/react-native/ios/FRW/Modules/Profile/WalletSetting/EOAPrivateKeyView.swift
  apps/react-native/ios/FRW/Modules/Profile/WalletSetting/PrivateKeyView.swift
  apps/react-native/ios/FRW/Services/BugReport/BugReport.swift
  apps/react-native/ios/FRW/Services/Track/EventTrack+ViewName.swift
  apps/react-native/ios/Podfile.lock
  apps/react-native/package.json
  apps/react-native/src/App.tsx
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/screens/ErrorHandlingTest.tsx
  apps/react-native/src/utils/errorHandling.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

chore: stash commit
  apps/extension/src/ui/views/ClaimTokensScreen/index.tsx
  apps/extension/src/ui/views/InnerRoute.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/index.generated.ts
  packages/screens/src/tokens/claim-types.ts
  packages/ui/src/components/PriceChart.web.tsx
Due: eslint --cache --fix, prettier --write

feat: fix parseunit round up issues
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/workflow/src/send/utils.ts
Due: eslint --cache --fix, prettier --write

feat: fix parseFloat issues
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/stores/src/sendStore.ts
  packages/workflow/src/send/tokenStrategies.ts
  packages/workflow/src/send/utils.ts
Due: eslint --cache --fix, prettier --write

chore: remove console log
  packages/workflow/src/send/tokenStrategies.ts
Due: eslint --cache --fix, prettier --write

feat: add wahtsnew service
  .gitignore
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/App/AppDelegate+WhatsNew.swift
  apps/react-native/ios/FRW/App/AppDelegate.swift
  apps/react-native/ios/FRW/Services/Manager/WhatsNewService.swift
  apps/react-native/ios/FRW/Services/Network/FRW/FRWAPI+App.swift
Due: none

fix: build error
  packages/stores/src/sendStore.ts
  packages/stores/src/types.ts
Due: eslint --cache --fix, prettier --write

feat: ui for whatsnew
  apps/react-native/ios/FRW/App/AppDelegate+WhatsNew.swift
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap+React.swift
  apps/react-native/ios/main.jsbundle
  apps/react-native/src/App.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/WhatsNewScreen.tsx
  packages/ui/src/components/UpdateDialog.native.tsx
Due: eslint --cache --fix, prettier --write

test: add e2e test script for evm to flow trx
  apps/extension/e2e/transaction/cadence-transaction.test.ts
  apps/extension/e2e/utils/helper.ts
  packages/workflow/src/send/tokenStrategies.ts
  packages/workflow/src/send/utils.ts
Due: eslint --cache --fix, prettier --write

fix: text strings must be rendered within a Text
  packages/ui/src/components/UpdateDialog.native.tsx
Due: eslint --cache --fix, prettier --write

feat: rename screen name
  apps/react-native/ios/FRW/App/AppDelegate+WhatsNew.swift
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap+React.swift
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/WhatsNewScreen.tsx
Due: eslint --cache --fix, prettier --write

chore: fix lint error
  apps/extension/e2e/utils/helper.ts
  packages/workflow/src/send/utils.ts
Due: eslint --cache --fix, prettier --write

feat: update ui
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  packages/ui/src/components/UpdateDialog.native.tsx
Due: eslint --cache --fix, prettier --write

feat: move whatsnew to packages
  apps/react-native/src/App.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/index.ts
  packages/screens/src/whatsnew/WhatsNewScreen.tsx
  packages/screens/src/whatsnew/index.ts
Due: eslint --cache --fix, prettier --write

fix: apply drobox key in ci
  .github/workflows/extension-build.yml
  .github/workflows/extension-e2e.yml
Due: prettier --write

fix(extension): move codegenNativeComponent stub alias before react-native alias
  apps/extension/build/webpack.common.config.ts
Due: eslint --cache --fix, prettier --write
