Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,webp}": ["node scripts/optimize-images.js"]
}

fix: reverse feature flag
  apps/extension/src/ui/components/account-menu/MenuDrawer.tsx
  apps/extension/src/ui/views/Setting/index.tsx
Due: eslint --cache --fix, prettier --write

feat: dump xcodeproj ~> 1.27.0
  apps/react-native/Gemfile
Due: none

feat: restore xcode format to 13
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
Due: none

feat: update podfile.lock
  apps/react-native/Gemfile
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/Podfile.lock
Due: none

feat: add animation
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuView.swift
Due: none

feat: remove debug code
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManger+Account.swift
Due: none

chore: update test sccripts for ui
  .github/workflows/extension-e2e.yml
  apps/extension/playwright.config.ts
  apps/extension/src/ui/views/CoinList/index.tsx
  packages/screens/src/tokens/ClaimTokenDetailScreen.query.tsx
  packages/screens/src/tokens/ClaimTokensScreen.query.tsx
  packages/ui/src/components/ClaimAssetDrawer.tsx
  packages/ui/src/components/ClaimItemRow.tsx
  packages/ui/src/components/ClaimNFTCollectionRow.tsx
  packages/ui/src/components/ClaimReceiverRow.tsx
  packages/ui/src/foundation/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

fix: update pending list
  apps/extension/src/core/service/transaction-activity.ts
Due: eslint --cache --fix, prettier --write

chore: stash commit
  apps/extension/e2e/inbox/inbox-ui.test.ts
  apps/extension/e2e/inbox/inbox.setup.ts
  apps/extension/e2e/inbox/inbox.teardown.ts
  apps/extension/e2e/utils/helper.ts
  packages/screens/src/tokens/ClaimTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: ios 26 searchable conflict with present
  apps/react-native/ios/FRW/Modules/Wallet/AddToken/AddTokenView.swift
Due: none

feat: (ios)inbox for unclaimed count
  .gitignore
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Modules/NFT/UIKit/NFTUIKitListViewController.swift
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Modules/Wallet/Message/WalletNewsHandler.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletHomeView.swift
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Inbox/icon-inbox-empty.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Inbox/icon-inbox-empty.imageset/icon-inbox-empty-dark@2x.png
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Inbox/icon-inbox-empty.imageset/icon-inbox-empty-dark@3x.png
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Inbox/icon-inbox-empty.imageset/icon-inbox-empty@2x.png
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Inbox/icon-inbox-empty.imageset/icon-inbox-empty@3x.png
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Inbox/icon-inbox.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Inbox/icon-inbox.imageset/icon-inbox.svg
  apps/react-native/ios/FRW/Resource/Assets.xcassets/profile/icon-inbox.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/profile/icon-inbox.imageset/Number List@2x.png
  apps/react-native/ios/FRW/Resource/Assets.xcassets/profile/icon-inbox.imageset/Number List@3x.png
  apps/react-native/ios/FRW/Services/FlowCoin/FlowAddressRegistor.swift
  apps/react-native/ios/FRW/Services/FlowCoin/Model/CadenceModel.swift
  apps/react-native/ios/FRW/Services/Manager/Config/RemoteConfig.swift
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager+Inbox.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
  apps/react-native/ios/FRW/Services/Network/FlowNetwork.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap+React.swift
  apps/react-native/ios/FRW/UI/Component/Button/CircleButton.swift
  apps/react-native/ios/Podfile.lock
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

feat: add local image for news
  apps/react-native/ios/FRW/Modules/Wallet/WalletNotificationView.swift
  apps/react-native/ios/FRW/Services/Manager/Config/RemoteConfig.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager+Inbox.swift
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/WalletConnectManager.swift
Due: none

feat: upgrade luciq
  apps/react-native/package.json
  apps/react-native/src/App.tsx
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/utils/errorHandling.ts
  packages/screens/src/recovery/ImportProfileScreen.query.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: fix ft multi transfer error with inbox
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/LostAndFound/query/batch_query_unclaimed_number.cdc
  packages/cadence/src/cadence/Token/transactions/transfer_tokens_v3.cdc
  packages/screens/src/tokens/ClaimTokenDetailScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: ios update inbox note icon,title ,message
  apps/react-native/ios/FRW/Modules/Wallet/WalletNotificationView.swift
  apps/react-native/ios/FRW/Resource/en.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/ja.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/ru.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/zh-Hans.lproj/Localizable.strings
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager+Inbox.swift
Due: none

feat: address:count for unclaimed asset
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager+Inbox.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

feat: fix ft icon
  apps/react-native/ios/main.jsbundle
  packages/screens/src/nfts/AddNFTCollectionScreen.query.tsx
  packages/screens/src/tokens/AddTokensScreen.query.tsx
  packages/screens/src/tokens/ClaimTokensScreen.query.tsx
  packages/stores/src/tokenStore.query.ts
Due: eslint --cache --fix, prettier --write

feat: create eoa and cadence account
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
  apps/react-native/ios/FRW/Modules/Profile/AccountList/ViewModels/AccountListViewModel.swift
  apps/react-native/ios/FRW/Modules/Profile/WalletSetting/EOAPrivateKeyView.swift
  apps/react-native/ios/FRW/Modules/TrustProvider/TrustJSMessageHandler.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/AddAccount/AddAccountSheet.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuView.swift
  apps/react-native/ios/FRW/Resource/en.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/ja.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/ru.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/zh-Hans.lproj/Localizable.strings
  apps/react-native/ios/FRW/Services/Manager/LocalUserDefaults.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/Core/ProfileManager.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/Services/ProfileFetchService.swift
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManger+Account.swift
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/WalletConnectEVMHandler.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap.swift
  apps/react-native/ios/FRW/UI/Component/AdaptiveHostingController.swift
Due: none

feat(types): support multi-EOA derivation via BIP44 indexes
  packages/wallet/src/__tests__/wallet-eoa.test.ts
  packages/wallet/src/wallet/wallet.ts
Due: eslint --cache --fix, prettier --write

test(types): add multi-EOA signing and key derivation tests
  packages/wallet/src/__tests__/wallet-eoa.test.ts
Due: eslint --cache --fix, prettier --write

fix(types): use ETH BIP44 path in EOA tests instead of Flow path
  packages/wallet/src/__tests__/wallet-eoa.test.ts
Due: eslint --cache --fix, prettier --write

feat(types): add EOAAccount class for direct per-account signing
  packages/wallet/src/__tests__/wallet-eoa.test.ts
  packages/wallet/src/account/eoaAccount.ts
  packages/wallet/src/account/index.ts
  packages/wallet/src/index.ts
  packages/wallet/src/wallet/wallet.ts
Due: eslint --cache --fix, prettier --write

feat(types): persist EOA address map in cache storage
  packages/wallet/src/__tests__/wallet-eoa.test.ts
  packages/wallet/src/wallet/wallet.ts
Due: eslint --cache --fix, prettier --write

test(types): add standard usage examples for multi-EOA API
  packages/wallet/src/__tests__/wallet-eoa.test.ts
Due: eslint --cache --fix, prettier --write

feat: update query to signle account
  packages/screens/src/nfts/AddNFTCollectionScreen.query.tsx
  packages/screens/src/tokens/AddTokensScreen.query.tsx
  packages/screens/src/tokens/ClaimTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

chore: update file
  apps/extension/src/ui/hooks/use-coin-hooks.ts
Due: eslint --cache --fix, prettier --write

fix(types): import Eth types from services/eth-signer instead of key-protocol
  packages/wallet/src/account/eoaAccount.ts
Due: eslint --cache --fix, prettier --write

fix: remove child account address
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager+Inbox.swift
Due: none

fix(ci): reset generated files after install in lint workflow
  .github/workflows/lint.yml
Due: prettier --write

feat: android inbox
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

fix: conflict
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

feat: transaction for multi eoa
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/TrustProvider/TrustJSMessageHandler.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/Services/ProfileFetchService.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManger+Account.swift
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/WalletConnectEVMHandler.swift
  apps/react-native/ios/Podfile.lock
Due: none
