Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

fix: don't disable send button if storage warning is true
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: remove is account incompatible
  apps/extension/package.json
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

Debug/check new device 1 (#1819)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Login/ImportAccountsView.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/KeyStoreLoginViewModel.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/PrivateKeyLoginViewModel.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/SeedPhraseLoginViewModel.swift
  apps/react-native/ios/FRW/Modules/MultiRestore/ViewModel/RestoreMultiAccountViewModel.swift
  apps/react-native/ios/FRW/Modules/Profile/DeveloperMode/DeleteSEKeychain.swift
  apps/react-native/ios/FRW/Modules/Profile/DeveloperMode/DeveloperModeView.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager+Store.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager.swift
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap+Dev.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap.swift
Due: none

fix: wrap profile list with Flatlist
  packages/screens/src/send/SendToScreen.query.tsx
  packages/ui/src/components/AddressBookSection.tsx
  packages/ui/src/components/ProfileList.tsx
Due: eslint --cache --fix, prettier --write

fix: navigation bar issue on iOS26
  apps/react-native/src/components/NavigationBackButton.tsx
  apps/react-native/src/components/NavigationCloseButton.tsx
Due: eslint --cache --fix, prettier --write

fix: code cleanup
  apps/react-native/src/components/NavigationBackButton.tsx
  apps/react-native/src/components/NavigationCloseButton.tsx
Due: eslint --cache --fix, prettier --write

feat: log callback to native
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/BridgeModels.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
  app/src/main/java/com/flowfoundation/wallet/utils/Log.kt
Due: none

fix: add missing dependency
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write

fix(react-native): resolve available balance display for fungible tokens
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/types/src/TokenModel.ts
Due: eslint --cache --fix, prettier --write

fix: revert the connecting name and block the injection on google doc
  apps/extension/_raw/manifest/manifest.dev.json
  apps/extension/_raw/manifest/manifest.pro.json
  apps/extension/src/content-script/pageProvider/eth/index.ts
Due: eslint --cache --fix, prettier --write

fix: update version number
  apps/extension/package.json
Due: prettier --write

feat: reset the selected account (#1827)
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

fix: address feedback
  app/src/main/java/com/flowfoundation/wallet/manager/transaction/SurgePricingManager.kt
  app/src/main/java/com/flowfoundation/wallet/mixpanel/MixpanelConst.kt
  app/src/main/java/com/flowfoundation/wallet/mixpanel/MixpanelManager.kt
Due: none

fix: address feedback
  app/src/main/java/com/flowfoundation/wallet/manager/transaction/SurgePricingManager.kt
Due: none

feat: update animations + assets
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.query.tsx
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
  packages/ui/src/assets/animations/creating-account-dark.json
  packages/ui/src/assets/animations/creating-account-light.json
  packages/ui/src/assets/animations/loading-bar-dark.json
  packages/ui/src/assets/animations/loading-bar-light.json
  packages/ui/src/assets/animations/shield-with-lock-dark-2.json
  packages/ui/src/assets/animations/shield-with-lock-light-2.json
  packages/ui/src/assets/images/onboarding/full_bg.png
  packages/ui/src/assets/images/onboarding/push-notifications.png
  packages/ui/src/components/ShieldAnimation.tsx
  packages/ui/src/components/onboarding/AccountCreationLoadingState.tsx
  packages/ui/src/components/onboarding/NotificationPreviewImage.tsx
  packages/ui/src/components/onboarding/OnboardingBackground.tsx
  packages/ui/src/components/onboarding/index.ts
Due: eslint --cache --fix, prettier --write

feat: update animations + assets
  packages/icons/assets/cloud-backup.svg
  packages/icons/assets/device-backup.svg
  packages/icons/assets/recovery-phrase-backup.svg
  packages/icons/src/react-native/CloudBackup.generated.tsx
  packages/icons/src/react-native/DeviceBackup.generated.tsx
  packages/icons/src/react-native/RecoveryPhraseBackup.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/CloudBackup.generated.tsx
  packages/icons/src/web/DeviceBackup.generated.tsx
  packages/icons/src/web/RecoveryPhraseBackup.generated.tsx
  packages/icons/src/web/index.generated.ts
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
  packages/ui/src/components/onboarding/BackupOptionCard.tsx
Due: eslint --cache --fix, prettier --write

feat: update animations + assets
  packages/ui/src/components/onboarding/BackupOptionCard.tsx
Due: eslint --cache --fix, prettier --write

feat: update animations + assets
  packages/icons/assets/reveal-phrase.svg
  packages/icons/src/react-native/RevealPhrase.generated.tsx
  packages/icons/src/web/RevealPhrase.generated.tsx
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: update animations + assets
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/index.generated.ts
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
Due: eslint --cache --fix, prettier --write

chore: stash commit
  packages/screens/src/locales/en.json
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/screens/src/send/SendToScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/services/src/AddressBookService.ts
  packages/services/src/FlowService.ts
  packages/services/src/NFTService.ts
  packages/services/src/RecentRecipientsService.ts
  packages/services/src/TokenService.ts
  packages/workflow/tests/send.nft.test.ts
  packages/workflow/tests/utils/authz.ts
Due: eslint --cache --fix, prettier --write

feat: get all profile from native (#1828)
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
Due: none

fix: update render content
  apps/extension/src/ui/views/TransferList/index.tsx
Due: eslint --cache --fix, prettier --write

feat: update the account list to use profileid as key
  apps/extension/src/core/service/account-management.ts
  apps/extension/src/core/service/transactions.ts
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/data-model/cache-data-keys.ts
  apps/extension/src/ui/hooks/use-account-hooks.ts
  apps/extension/src/ui/hooks/useProfileHook.ts
Due: eslint --cache --fix, prettier --write

feat: update active account key to userid
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/data-model/local-data-keys.ts
  apps/extension/src/ui/hooks/use-account-hooks.ts
Due: eslint --cache --fix, prettier --write

fix: add log to file
  app/src/main/java/com/flowfoundation/wallet/utils/Log.kt
Due: none

feat: add log callback to native
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/utils/src/logger.ts
Due: eslint --cache --fix, prettier --write

feat: add error code and toast
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/screens/src/send/SendToScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/stores/src/accessibleAssetStore.query.ts
  packages/stores/src/addressBookStore.query.ts
  packages/stores/src/sendStore.ts
  packages/stores/src/storageStore.query.ts
  packages/stores/src/tokenStore.query.ts
  packages/types/src/Errors.ts
  packages/ui/src/components/ConfirmationDrawer.tsx
Due: eslint --cache --fix, prettier --write

feat: add `logToNative` bridge (#1830)
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
Due: none

fix: merge conflicts
  packages/ui/src/theme.ts
Due: eslint --cache --fix, prettier --write

fix: update modal
  apps/extension/src/bridge/PlatformImpl.ts
  packages/ui/src/components/Surge/SurgeModal.tsx
Due: eslint --cache --fix, prettier --write

fix: sign function organize, update i18n
  apps/extension/_raw/_locales/en/messages.json
  apps/extension/_raw/_locales/ja/messages.json
  apps/extension/_raw/_locales/ru/messages.json
  apps/extension/_raw/_locales/zh_CN/messages.json
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/messages.json
  apps/extension/src/ui/views/Approval/components/Confirmation.tsx
  apps/extension/src/ui/views/index.tsx
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/Surge/SurgeModal.tsx
Due: eslint --cache --fix, prettier --write

fix: bubble item
  app/src/main/java/com/flowfoundation/wallet/page/window/bubble/model/BubbleItem.kt
Due: none

feat: backup flow ui
  packages/screens/src/backup/BackupOptionsScreen.query.tsx
  packages/screens/src/backup/CloudBackupScreen.query.tsx
  packages/screens/src/backup/EnterSeedPhraseScreen.query.tsx
  packages/screens/src/backup/ImportProfileScreen.query.tsx
  packages/screens/src/backup/OtherImportMethodsScreen.query.tsx
  packages/screens/src/backup/index.ts
  packages/screens/src/index.ts
  packages/screens/src/locales/en.json
  packages/screens/src/onboarding/GetStartedScreen.query.tsx
  packages/screens/src/onboarding/index.ts
  packages/ui/src/components/onboarding/InfoCard.tsx
  packages/ui/src/components/onboarding/index.ts
Due: eslint --cache --fix, prettier --write

feat: backup flow ui
  packages/ui/src/components/backup/InfoCard.tsx
  packages/ui/src/components/backup/index.ts
  packages/ui/src/components/onboarding/index.ts
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: backup flow ui
  packages/screens/src/backup/CloudBackupScreen.query.tsx
  packages/screens/src/backup/ConfirmImportProfileScreen.query.tsx
  packages/screens/src/backup/VerifyPasswordScreen.query.tsx
  packages/screens/src/backup/index.ts
  packages/screens/src/locales/en.json
Due: eslint --cache --fix, prettier --write
