Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

feat: add intelligent i18n translation system
  .claude/commands/i18n.md
  .claude/translation-memory.json
  docs/i18n-translation-guide.md
  package.json
  packages/screens/.eslintignore
  packages/screens/package.json
  packages/screens/scripts/translate-i18n.js
Due: eslint --cache --fix, prettier --write

fix: configure ESLint and Prettier to ignore translation script
  .prettierignore
  eslint.config.mjs
  packages/screens/.eslintignore
Due: eslint --cache --fix, prettier --write

fix: update pnpm lock file
  pnpm-lock.yaml
Due: prettier --write

fix: remove some translate command on root package.json
  package.json
Due: prettier --write

fix: remove reset
  apps/extension/src/ui/views/InnerRoute.tsx
  apps/extension/src/ui/views/SelectTokensScreenView/index.tsx
  apps/extension/src/ui/views/index.tsx
Due: eslint --cache --fix, prettier --write

fix: add optional title
  packages/screens/src/send/SelectTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: update NFT accessible child identification
  apps/react-native/src/screens/Send/SelectTokens/store/AccessibleAssetStore.ts
  packages/utils/src/nft.ts
Due: eslint --cache --fix, prettier --write

fix: adjust provider load
  apps/extension/src/ui/views/index.tsx
Due: eslint --cache --fix, prettier --write

fix: router rendering
  apps/extension/src/bridge/ExtensionNavigation.ts
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/ui/views/InnerRoute.tsx
  apps/extension/src/ui/views/SelectTokensScreenView/index.tsx
  apps/extension/src/ui/views/SendToScreenView/index.tsx
  apps/extension/src/ui/views/SendTokensScreen/index.tsx
Due: eslint --cache --fix, prettier --write

chore: update styles
  apps/extension/src/ui/hooks/useContactHook.ts
  apps/extension/src/ui/views/SendToScreenView/index.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/index.generated.ts
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/RecipientItem.tsx
  packages/ui/src/components/TokenAmountInput.tsx
  packages/ui/src/components/TokenSelectorModal.tsx
  packages/ui/src/theme.ts
Due: eslint --cache --fix, prettier --write

fix: infiniteloop
  apps/extension/src/ui/views/SendToScreenView/index.tsx
Due: eslint --cache --fix, prettier --write

fix: address confirm
  apps/react-native/src/locales/en.json
  apps/react-native/src/locales/es.json
  apps/react-native/src/screens/Send/SendTo/SendToScreen.tsx
  apps/react-native/src/screens/Send/SendTo/components/RecipientContent.tsx
  packages/services/src/RecentRecipientsService.ts
  packages/ui/src/components/AddressSearchBox.tsx
Due: eslint --cache --fix, prettier --write

feat: add currency and token rate bridge
  app/src/main/java/com/flowfoundation/wallet/bridge/BridgeModels.kt
  app/src/main/java/com/flowfoundation/wallet/bridge/NativeFRWBridge.kt
  app/src/main/res/drawable-mdpi/src_assets_placeholder.png
Due: none

fix: fix screen import issue on react native
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/icons/tsup.config.ts
  packages/screens/package.json
  packages/screens/tsup.config.ts
  packages/ui/package.json
  packages/ui/tsup.config.ts
Due: eslint --cache --fix, prettier --write

feat: update rn package.json
  apps/react-native/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: clean up unused code
  apps/react-native/package.json
  apps/react-native/src/App.tsx
  apps/react-native/src/lib/androidTextFix.ts
  apps/react-native/src/lib/index.ts
  apps/react-native/src/lib/string.ts
  apps/react-native/src/lib/useAccountCompatibilityModal.ts
  apps/react-native/src/lib/utils.ts
  apps/react-native/src/lib/zustand-mmkv.ts
  apps/react-native/src/storage/index.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: add theme provider on react native
  apps/react-native/package.json
  apps/react-native/src/App.tsx
  packages/screens/tsconfig.json
  packages/ui/package.json
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: rollback some changes
  apps/extension/src/ui/views/InnerRoute.tsx
  apps/extension/src/ui/views/SendTokensScreen/index.tsx
  packages/icons/package.json
  packages/ui/src/components/MultipleNFTsPreview.tsx
  packages/ui/src/components/ToAccountSection.tsx
  packages/ui/src/components/TokenCard.tsx
Due: eslint --cache --fix, prettier --write

feat: uncomment frw-icons comps
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/NFTCard.tsx
  packages/ui/src/components/NFTCollectionRow.tsx
  packages/ui/src/components/NFTListCard.tsx
  packages/ui/src/components/NFTSelectionBar.tsx
  packages/ui/src/components/NFTSendPreview.tsx
  packages/ui/src/components/RecipientItem.tsx
  packages/ui/src/components/SelectableNFTImage.tsx
  packages/ui/src/components/SendArrowDivider.tsx
  packages/ui/src/components/SendSectionHeader.tsx
  packages/ui/src/components/StorageWarning.tsx
  packages/ui/src/components/TokenSelectorModal.tsx
  packages/ui/src/components/TransactionConfirmationModal.tsx
  packages/ui/src/components/TransactionFeeSection.tsx
Due: eslint --cache --fix, prettier --write

feat: add missing import
  packages/ui/src/components/AccountCard.tsx
Due: eslint --cache --fix, prettier --write

Setup revopush - release build
  app/build.gradle
  app/src/main/java/com/flowfoundation/wallet/bridge/BridgeModels.kt
Due: none

fix: ui adjustments
  .claude/settings.local.json
  apps/react-native/src/components/ui/animations/SendConfirmationAnimation.tsx
  apps/react-native/src/screens/Send/Confirmation/components/AccountTransferDisplay.tsx
  apps/react-native/src/screens/Send/Confirmation/components/ConfirmationHeader.tsx
  apps/react-native/src/screens/Send/Confirmation/components/HoldToSendButton.tsx
  packages/ui/src/components/TransactionFeeSection.tsx
Due: eslint --cache --fix, prettier --write

fix: ui adjustments
  apps/react-native/src/components/NFTList/BottomConfirmBar.tsx
  apps/react-native/src/components/ui/media/IconView.tsx
  apps/react-native/src/screens/NFTList/NFTListScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: revert currency bridge model
  app/src/main/java/com/flowfoundation/wallet/bridge/BridgeModels.kt
Due: none

fix: ui adjustments
  apps/react-native/src/components/NFTList/BottomConfirmBar.tsx
  apps/react-native/src/components/ui/animations/SendConfirmationAnimation.tsx
  apps/react-native/src/screens/NFTDetail/NFTDetailScreen.tsx
  apps/react-native/src/screens/NFTList/NFTListScreen.tsx
Due: eslint --cache --fix, prettier --write

feat: remove duplicate theme files
  apps/extension/src/ui/theme/extension-tamagui-config.ts
  apps/extension/src/ui/theme/extension-theme.ts
  apps/extension/src/ui/theme/index.ts
Due: eslint --cache --fix, prettier --write

fix: rn render issue
  apps/react-native/metro.config.js
  apps/react-native/package.json
  apps/react-native/src/screens/Home/HomeScreen.tsx
  package.json
  packages/icons/package.json
  packages/icons/tsup.config.ts
  packages/screens/src/locales/en.json
  packages/ui/package.json
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/TokenCard.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --cache --fix, prettier --write

fix: select token ui issues
  apps/react-native/src/components/ui/cards/ToAccountSection.tsx
  apps/react-native/src/components/ui/cards/WalletAccountSection.tsx
  apps/react-native/src/components/ui/feedback/EVMChip.tsx
  apps/react-native/src/components/ui/forms/SegmentedControl.tsx
  apps/react-native/src/components/ui/media/WalletAvatar.tsx
  apps/react-native/src/screens/Send/shared/components/AccountCard.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/index.generated.ts
Due: eslint --cache --fix, prettier --write

chore: update sent to page styles
  apps/extension/src/ui/views/SendToScreenView/index.tsx
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/SendArrowDivider.tsx
  packages/ui/src/components/ToAccountSection.tsx
  packages/ui/src/components/TokenAmountInput.tsx
  packages/ui/src/types/index.ts
Due: eslint --cache --fix, prettier --write

feat: update confirmation page
  packages/icons/assets/wallet-card.svg
  packages/icons/src/react-native/WalletCard.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/WalletCard.generated.tsx
  packages/icons/src/web/index.generated.ts
  packages/ui/src/components/TransactionConfirmationModal.tsx
Due: eslint --cache --fix, prettier --write

fix: use same react-native instance across
  .npmrc
  apps/react-native/package.json
  package.json
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/send/SelectTokensScreen.tsx
  packages/ui/package.json
  packages/ui/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: clean up unused code
  .npmrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add release/* branch support to CI/CD workflows
  .github/workflows/extension-build.yml
  .github/workflows/lint.yml
  .github/workflows/packages.yml
  .github/workflows/presubmit.yml
  .github/workflows/react-native.yml
Due: prettier --write
