Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

fix: handle wrapped API response in ProfileService registration
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

chore: clean up ProfileService register function logs
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

fix: configure FCL for mainnet in createFlowAddressAndWait (backend creates accounts on mainnet)
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

chore: add FCL network logging to debug transaction monitoring
  packages/cadence/src/index.ts
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

fix: ui adjustment
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

fix: implement custom transaction polling for React Native (FCL built-in polling broken)
  packages/cadence/src/index.ts
Due: eslint --cache --fix, prettier --write

refactor: simplify ProfileService to use wrapped API response directly
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

fix: handle wrapped API response in ProfileService register function
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

fix: use data.id instead of data.uid in ProfileService register
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

refactor: simplify userId extraction to just data.id
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

refactor: secure enclave flow - RN monitors tx status like seed phrase flow
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: use ProfileService for tx monitoring to avoid stream polyfill issue
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

fix: update EVM default gas limit
  packages/workflow/src/send/utils.ts
  packages/workflow/tests/send.ft.script.test.ts
Due: eslint --cache --fix, prettier --write

373 - confirm recovery phrase screen (#965)
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/cadence/src/index.ts
  packages/context/src/ServiceContext.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
  packages/screens/src/onboarding/index.ts
  packages/services/package.json
  packages/services/src/ProfileService.ts
  packages/services/src/index.ts
  packages/types/src/Bridge.ts
  packages/types/src/Errors.ts
  packages/ui/src/components/onboarding/RecoveryPhraseQuestion.tsx
  packages/ui/src/components/onboarding/index.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: build error
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

feat: add redirect handling after WalletConnect approval
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/Utils.kt
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/WalletConnectRequestDispatcher.kt
Due: none

bump version to 3.0.6
  gradle.properties
Due: none

feat: add eoa modal
  apps/extension/src/ui/views/Dashboard/index.tsx
  packages/ui/src/components/UpdateDialog.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: update version
  apps/extension/package.json
Due: prettier --write

Merge pull request #2155 from onflow/add-wallet-connect-preauthz
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/WalletConnectResponse.kt
Due: none

chore: update swagger config
  packages/api/go_swagger.json
  packages/api/src/codegen/goService.generated.ts
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

fix: use dynamic
  apps/extension/src/ui/views/Dashboard/index.tsx
  packages/ui/src/components/UpdateDialog.tsx
Due: eslint --cache --fix, prettier --write

fix: change to web.tx
  packages/ui/src/components/UpdateDialog.web.tsx
Due: eslint --cache --fix, prettier --write

feat: update android evm gas limit
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/CadenceExecutor.kt
Due: none

fix: use DOMPurify
  packages/ui/package.json
  packages/ui/src/components/UpdateDialog.web.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: use web
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: revert hideUnverified back to false
  apps/extension/src/ui/hooks/useCoinHook.ts
Due: eslint --cache --fix, prettier --write

fix: contract address empty issue
  packages/stores/src/sendStore.ts
  packages/workflow/src/send/validation.ts
  packages/workflow/tests/send.ft.script.test.ts
Due: eslint --cache --fix, prettier --write

Fix issue with send workflow
  apps/react-native/ios/.gitignore
  apps/react-native/ios/FRW/Foundation/Bridge/RNTokenModel.swift
  apps/react-native/ios/FRW/Models/BridgeConversionExamples.swift
  apps/react-native/ios/FRW/Models/RNNFTModel.swift
  apps/react-native/ios/FRW/Models/RNTokenModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/ManagerToken/ManageTokensView.swift
  apps/react-native/ios/Podfile.lock
Due: none

Bump version to 3.0.6
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
Due: none

feat: update pre-authz for WC
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/Model/serviceDefinition.swift
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/WalletConnectManager.swift
  apps/react-native/ios/Podfile.lock
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
  node scripts/optimize-images.js: any of: *.{png,jpg,jpeg,gif,webp}
