Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

feat: disable nft edit when navigating from nft detail
  packages/screens/src/send/NFTDetailScreen.query.tsx
  packages/screens/src/send/NFTListScreen.query.tsx
  packages/screens/src/send/SelectTokensScreen.query.tsx
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/stores/src/sendStore.ts
  packages/stores/src/types.ts
Due: eslint --cache --fix, prettier --write

fix: properly track native vs RN navigation sources
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/send/NFTDetailScreen.query.tsx
  packages/screens/src/send/NFTListScreen.query.tsx
  packages/screens/src/send/SelectTokensScreen.query.tsx
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/stores/src/types.ts
Due: eslint --cache --fix, prettier --write

chore: add comprehensive logging for navigation source tracking
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/stores/src/sendStore.ts
Due: eslint --cache --fix, prettier --write

docs: add EPIC doc for EOA support
  docs/epics/eoa-support.md
Due: prettier --write

chore: add initialProps debugging to AppNavigator
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

fix: parse sendToConfig JSON string in AppNavigator
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

fix: add back is token padding
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: add max fee for payer status
  packages/api/js_swagger.json
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

chore: update type of maxFee
  packages/api/js_swagger.json
Due: prettier --write

ci: update android default branch
  .github/workflows/android.yml
  .gitmodules
Due: prettier --write

feat: add hold to send button
  packages/ui/package.json
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/HoldToSendButton.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: 429 popup with debug
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/ui/views/Approval/components/EthApproval/EthConfirm/index.tsx
  apps/extension/src/ui/views/index.tsx
Due: eslint --cache --fix, prettier --write

feat: add lottie animation
  apps/extension/package.json
  apps/react-native/src/assets/images/send_static.png
  apps/react-native/src/assets/index.ts
  apps/react-native/src/components/QueryDebugger.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/ui/package.json
  packages/ui/src/assets/images.ts
  packages/ui/src/components/ConfirmationAnimation.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/NFTSendPreview.tsx
  packages/ui/src/index.ts
  packages/ui/src/utils/lottie-image-injection.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: lottie issue on extension
  packages/ui/package.json
  packages/ui/src/components/ConfirmationAnimation.tsx
  packages/ui/src/components/LottieView.native.tsx
  packages/ui/src/components/LottieView.tsx
  packages/ui/src/components/LottieView.web.tsx
Due: eslint --cache --fix, prettier --write

fix: update pnnpm lock file
  pnpm-lock.yaml
Due: prettier --write

fix: add eslint ignore for dynamic import error
  packages/ui/src/components/LottieView.native.tsx
Due: eslint --cache --fix, prettier --write

fix: display total quantity
  packages/ui/src/components/NFTSelectionBar.tsx
Due: eslint --cache --fix, prettier --write

fix: comment out wrong properties
  app/src/main/AndroidManifest.xml
  gradle.properties
Due: none

fix: add missing i18n string
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/send/NFTDetailScreen.query.tsx
  packages/screens/src/send/NFTListScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: icon incorrect size in navigation bar
  apps/react-native/src/components/NavigationBackButton.tsx
  apps/react-native/src/components/NavigationCloseButton.tsx
  packages/icons/assets/arrow-left.svg
  packages/icons/assets/x.svg
  packages/icons/scripts/icon-generator.js
  packages/icons/src/react-native/ArrowBack.generated.tsx
  packages/icons/src/react-native/ArrowDown.generated.tsx
  packages/icons/src/react-native/ArrowLeft.generated.tsx
  packages/icons/src/react-native/CheckCircle.generated.tsx
  packages/icons/src/react-native/CheckCircleFill.generated.tsx
  packages/icons/src/react-native/ChevronDown.generated.tsx
  packages/icons/src/react-native/ChevronRight.generated.tsx
  packages/icons/src/react-native/ChevronUp.generated.tsx
  packages/icons/src/react-native/Close.generated.tsx
  packages/icons/src/react-native/Copy.generated.tsx
  packages/icons/src/react-native/Edit.generated.tsx
  packages/icons/src/react-native/FlowLogo.generated.tsx
  packages/icons/src/react-native/InfoIcon.generated.tsx
  packages/icons/src/react-native/Link.generated.tsx
  packages/icons/src/react-native/Minus.generated.tsx
  packages/icons/src/react-native/Scan.generated.tsx
  packages/icons/src/react-native/Search.generated.tsx
  packages/icons/src/react-native/SendConfirmation.generated.tsx
  packages/icons/src/react-native/SwitchVertical.generated.tsx
  packages/icons/src/react-native/Trash.generated.tsx
  packages/icons/src/react-native/UserRoundPlus.generated.tsx
  packages/icons/src/react-native/VerifiedToken.generated.tsx
  packages/icons/src/react-native/WalletCard.generated.tsx
  packages/icons/src/react-native/X.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/ArrowLeft.generated.tsx
  packages/icons/src/web/X.generated.tsx
  packages/icons/src/web/index.generated.ts
Due: eslint --cache --fix, prettier --write

fix: regenerate icon
  packages/icons/scripts/icon-generator.js
  packages/icons/src/react-native/ArrowBack.generated.tsx
  packages/icons/src/react-native/ArrowDown.generated.tsx
  packages/icons/src/react-native/CheckCircle.generated.tsx
  packages/icons/src/react-native/CheckCircleFill.generated.tsx
  packages/icons/src/react-native/ChevronDown.generated.tsx
  packages/icons/src/react-native/ChevronRight.generated.tsx
  packages/icons/src/react-native/ChevronUp.generated.tsx
  packages/icons/src/react-native/Close.generated.tsx
  packages/icons/src/react-native/Copy.generated.tsx
  packages/icons/src/react-native/Edit.generated.tsx
  packages/icons/src/react-native/FlowLogo.generated.tsx
  packages/icons/src/react-native/InfoIcon.generated.tsx
  packages/icons/src/react-native/Link.generated.tsx
  packages/icons/src/react-native/Minus.generated.tsx
  packages/icons/src/react-native/Plus.generated.tsx
  packages/icons/src/react-native/Scan.generated.tsx
  packages/icons/src/react-native/Search.generated.tsx
  packages/icons/src/react-native/SendConfirmation.generated.tsx
  packages/icons/src/react-native/SwitchVertical.generated.tsx
  packages/icons/src/react-native/Trash.generated.tsx
  packages/icons/src/react-native/VerifiedToken.generated.tsx
  packages/icons/src/react-native/WalletCard.generated.tsx
Due: eslint --cache --fix, prettier --write

chore: clean up code
  apps/react-native/src/components/NavigationBackButton.tsx
Due: eslint --cache --fix, prettier --write

Update LottieView.native.tsx
  packages/ui/src/components/LottieView.native.tsx
Due: eslint --cache --fix, prettier --write

fix: build error with extension
  packages/ui/src/components/HoldToSendButton.native.tsx
  packages/ui/src/components/HoldToSendButton.tsx
  packages/ui/src/components/HoldToSendButton.web.tsx
Due: eslint --cache --fix, prettier --write

fix: react launch config
  app/src/main/java/com/flowfoundation/wallet/reactnative/ReactNativeActivity.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/BridgeUtils.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
Due: none

fix: change send to config to json
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/types/src/Bridge.ts
  packages/types/src/BridgeHandler.ts
Due: eslint --cache --fix, prettier --write

feat: update InitialProps (#1786)
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Foundation/Bridge/SendToConfig+Helper.swift
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap+React.swift
Due: none

chore: clean up logs
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/stores/src/sendStore.ts
Due: eslint --cache --fix, prettier --write

fix: padding
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: surge pricing ui adjustments
  .claude/settings.local.json
  apps/extension/src/bridge/PlatformImpl.ts
  packages/icons/src/react-native/FlowLogo.generated.tsx
  packages/icons/tsup.config.ts
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/Surge/SurgeFeeSection.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: surge pricing ui adjustments
  packages/ui/src/components/Surge/SurgeFeeSection.tsx
  packages/ui/src/components/Surge/SurgeInfo.tsx
  packages/ui/src/components/Surge/SurgeWarning.tsx
Due: eslint --cache --fix, prettier --write

feat: surge pricing ui adjustments
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/Surge/PriceBreakdown.tsx
  packages/ui/src/components/Surge/SurgeFeeConfirmationSection.tsx
Due: eslint --cache --fix, prettier --write

feat: surge pricing ui adjustments
  packages/ui/src/components/Surge/PriceBreakdown.tsx
  packages/ui/src/components/Surge/SurgeWarning.tsx
Due: eslint --cache --fix, prettier --write

feat: surge pricing ui adjustments
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: replace NFTModel
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/MultipleNFTsPreview.tsx
  packages/ui/src/components/NFTSendPreview.tsx
  packages/ui/src/components/TransactionConfirmationModal.tsx
  packages/ui/stories/MultipleNFTsPreview.stories.tsx
  packages/ui/stories/NFTSendPreview.stories.tsx
Due: eslint --cache --fix, prettier --write

fix: update locale files
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

Update main.jsbundle
  apps/react-native/ios/main.jsbundle
Due: none
