Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,webp}": ["node scripts/optimize-images.js"]
}

fix: update ActivityCard to match Figma design
  packages/ui/src/components/ActivityCard.tsx
Due: eslint --cache --fix, prettier --write

fix: update ChainBadge to white background with black icon
  packages/ui/src/components/ChainBadge.tsx
Due: eslint --cache --fix, prettier --write

feat: add self-transfer support with emoji avatars in Activity
  packages/icons/assets/arrow-right.svg
  packages/icons/src/react-native/ArrowRight.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/ArrowRight.generated.tsx
  packages/icons/src/web/index.generated.ts
  packages/services/src/ActivityService.ts
  packages/types/src/Activity.ts
  packages/ui/src/components/ActivityCard.tsx
Due: eslint --cache --fix, prettier --write

docs: update extension release note
  docs/releaseNotes/ext/3-1-10-en.md
Due: prettier --write

docs: update title size for release note
  docs/releaseNotes/ext/3-1-10-en.md
Due: prettier --write

fix: incorrect alert show up while account creation
  apps/react-native/ios/.claude/settings.local.json
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModule+Onboard.swift
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/Models/KeyProviderResult.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager+KeyValidation.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: prettier --write

docs: update ext release note
  docs/releaseNotes/ext/3-1-10-en.md
Due: prettier --write

fix: update feature flag
  apps/extension/src/shared/types/feature-types.ts
Due: eslint --cache --fix, prettier --write

fix: Keep popping up error when registering (#2330)
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

feat: update UI for Notification screen
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: change feature flag keyword
  apps/extension/src/ui/components/account/account-listing.tsx
Due: eslint --cache --fix, prettier --write

feat(services): integrate ActivityService with backend API
  packages/screens/src/activity/ActivityScreen.query.tsx
  packages/services/src/ActivityService.ts
Due: eslint --cache --fix, prettier --write

refactor(services): remove unused createMockActivityItems function
  packages/services/src/ActivityService.ts
  packages/services/src/index.ts
Due: eslint --cache --fix, prettier --write

docs(services): update ActivityProvider comment to reflect implementation
  packages/services/src/ActivityService.ts
Due: eslint --cache --fix, prettier --write

Revise release notes for version 3.1.10
  docs/releaseNotes/ext/3-1-10-en.md
Due: prettier --write

Fix typo in Blocto Key Rotation migration note
  docs/releaseNotes/ext/3-1-10-en.md
Due: prettier --write

feat: add profile type
  apps/react-native/ios/FRW/App/Env/ServiceConfig.swift
Due: none

feat(services): integrate ActivityService with backend API and fix UI display
  packages/api/src/evm.ts
  packages/api/src/index.ts
  packages/screens/src/activity/ActivityScreen.query.tsx
  packages/services/src/ActivityService.ts
  packages/ui/src/components/ActivityCard.tsx
  packages/ui/src/components/UpdateDialog.native.tsx
Due: eslint --cache --fix, prettier --write

fix: improve ActivityCard overflow handling and ChainBadge position
  packages/ui/src/components/ActivityCard.tsx
  packages/ui/src/components/ChainBadge.tsx
Due: eslint --cache --fix, prettier --write

fix: NFT don’t update after switch wallet (#2335)
  apps/react-native/ios/FRW/Foundation/Define/NotificationDefine.swift
  apps/react-native/ios/FRW/Modules/NFT/UIKit/NFTUIKitListViewController.swift
Due: none

refactor: key provider error handling and validation
  apps/react-native/ios/FRW/Foundation/Model/Error.swift
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/Models/KeyProviderResult.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager+KeyValidation.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

feat: add translation placeholders for release notes 3-1-10
  docs/releaseNotes/ext/3-1-10-de.md
  docs/releaseNotes/ext/3-1-10-es.md
  docs/releaseNotes/ext/3-1-10-fr.md
  docs/releaseNotes/ext/3-1-10-ja.md
  docs/releaseNotes/ext/3-1-10-ko.md
  docs/releaseNotes/ext/3-1-10-pt.md
  docs/releaseNotes/ext/3-1-10-zh.md
Due: prettier --write

feat: fix translation files for release notes 3.1.10
  docs/releaseNotes/ext/3-1-10-de.md
  docs/releaseNotes/ext/3-1-10-es.md
  docs/releaseNotes/ext/3-1-10-fr.md
  docs/releaseNotes/ext/3-1-10-ja.md
  docs/releaseNotes/ext/3-1-10-ko.md
  docs/releaseNotes/ext/3-1-10-pt.md
  docs/releaseNotes/ext/3-1-10-zh.md
Due: prettier --write

fix: gradient on ios
  packages/ui/src/components/onboarding/OnboardingBackground.tsx
  packages/ui/src/layout/OnboardingBackground.tsx
Due: eslint --cache --fix, prettier --write

fix: gradient on ios
  packages/ui/src/components/onboarding/AccountCreationLoadingState.tsx
  packages/ui/src/components/onboarding/OnboardingBackground.tsx
Due: eslint --cache --fix, prettier --write

fix: gradient on ios
  packages/ui/src/layout/OnboardingBackground.tsx
Due: eslint --cache --fix, prettier --write

fix: Expand the click area (#2343)
  apps/react-native/ios/FRW/Modules/Wallet/AccountSwitch/AccountSwitchView.swift
Due: none

feat: add image assets folder
  apps/react-native/ios/.gitignore
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/back-icon-mask.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/back-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/back-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/back-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/clear-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/clear-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/clear-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/close-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/close-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/close-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/search-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/search-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/search-icon@3x.png
  apps/react-native/ios/assets/__packages/ui/src/assets/images/onboarding/card_bg.png
  apps/react-native/ios/assets/__packages/ui/src/assets/images/onboarding/full_bg_light.png
  apps/react-native/ios/assets/__packages/ui/src/assets/images/onboarding/get_started_background.png
  apps/react-native/ios/assets/__packages/ui/src/assets/images/onboarding/get_started_background_light.png
  apps/react-native/ios/assets/__packages/ui/src/assets/images/onboarding/push-notifications.png
  apps/react-native/ios/main.jsbundle
Due: node scripts/optimize-images.js

fix: add responsive layout support for iPad onboarding screens
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/GetStartedScreen.query.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.query.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
  packages/ui/src/hooks/index.ts
  packages/ui/src/hooks/use-responsive.ts
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

test: update test case
  apps/extension/e2e/apps/apps.basic.test.ts
  apps/extension/e2e/utils/loader.ts
  apps/extension/src/ui/views/Approval/components/SignMessage.tsx
Due: eslint --cache --fix, prettier --write

fix: remove node module icon assets
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
Due: none
