Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,webp}": ["node scripts/optimize-images.js"]
}

fix: missing case
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
Due: none

fix: screen issue on iPad
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/onboarding/GetStartedScreen.query.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.query.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
  packages/ui/src/foundation/Text.tsx
Due: eslint --cache --fix, prettier --write

fix: add copy RN Assets Folder scripts
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/main.jsbundle
Due: none

fix: selected wallet isn’t the last (#2352)
  apps/react-native/ios/FRW/Services/Manager/LocalUserDefaults.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

fix: use consistent font size token for onboarding titles
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: use bgDrawer color for send workflow navigation header
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

feat: remove the widget for apple review (#2383)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Services/Cache/NFTUIKitCache.swift
  apps/react-native/ios/FRWDevWidgets/Info.plist
  apps/react-native/ios/FRWDevWidgetsExtension.entitlements
  apps/react-native/ios/FRWWidgets/Assets.xcassets/AccentColor.colorset/Contents.json
  apps/react-native/ios/FRWWidgets/Assets.xcassets/AppIcon.appiconset/Contents.json
  apps/react-native/ios/FRWWidgets/Assets.xcassets/AppIcon.appiconset/logo-new@2x.png
  apps/react-native/ios/FRWWidgets/Assets.xcassets/Contents.json
  apps/react-native/ios/FRWWidgets/Assets.xcassets/WidgetBackground.colorset/Contents.json
  apps/react-native/ios/FRWWidgets/Assets.xcassets/logo-new.imageset/Contents.json
  apps/react-native/ios/FRWWidgets/Assets.xcassets/logo-new.imageset/logo-new@2x.png
  apps/react-native/ios/FRWWidgets/FlowReferenceWalletWidgets.swift
  apps/react-native/ios/FRWWidgets/FlowReferenceWalletWidgetsBundle.swift
  apps/react-native/ios/FRWWidgets/Info.plist
  apps/react-native/ios/FRWWidgets/PrivacyInfo.xcprivacy
  apps/react-native/ios/FRWWidgetsExtension.entitlements
  apps/react-native/ios/Podfile.lock
Due: prettier --write, node scripts/optimize-images.js

feat: add alert to deeplink every time (#2384)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Resource/en.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/ja.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/ru.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/zh-Hans.lproj/Localizable.strings
  apps/react-native/ios/FRW/Services/Manager/Deeplink/DeepLinkHandler.swift
Due: none

chore: statsm commit
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: added wrapeoacadence toggle
  apps/extension/_raw/_locales/en/messages.json
  apps/extension/_raw/_locales/ja/messages.json
  apps/extension/_raw/_locales/ru/messages.json
  apps/extension/_raw/_locales/zh_CN/messages.json
  apps/extension/package.json
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/messages.json
  apps/extension/src/ui/views/Setting/DeveloperMode/DeveloperMode.tsx
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/stores/src/sendStore.ts
  packages/workflow/src/send/nftStrategies.ts
  packages/workflow/src/send/tokenStrategies.ts
  packages/workflow/src/send/types.ts
  packages/workflow/src/send/utils.ts
Due: eslint --cache --fix, prettier --write

feat: add logger on eoa address creation for debug, move rpc transaction to package
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/core/service/wallet-manager.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/stores/src/sendStore.ts
  packages/wallet/package.json
  packages/wallet/src/crypto/wallet-core-provider.ts
  packages/wallet/src/wallet/wallet.ts
  packages/workflow/src/send/index.ts
  packages/workflow/src/send/utils.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

chore: update workflow dependency
  packages/workflow/package.json
  pnpm-lock.yaml
Due: prettier --write

311/1255 ios staking info is not shown on the list (#2398)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Wallet/WalletHomeView.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletViewModel.swift
  apps/react-native/ios/FRW/Services/Manager/StakingManager.swift
  apps/react-native/ios/FRW/Services/Network/FlowNetwork.swift
Due: none

test: update test script for whats new popup
  apps/extension/e2e/apps/apps.teardown.ts
  apps/extension/e2e/apps/basic-apps.test.ts
  apps/extension/e2e/utils/helper.ts
  apps/extension/e2e/utils/loader.ts
  apps/extension/playwright.config.ts
  packages/ui/src/components/UpdateDialog.tsx
Due: eslint --cache --fix, prettier --write

fix: main account is error #1258 (#2400)
  apps/react-native/ios/FRW/Modules/EVM/ViewModel/EVMEnableViewModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

test: change bals check config
  apps/extension/e2e/transaction/balance-transaction.test.ts
Due: eslint --cache --fix, prettier --write

test: change usdc.e test amount
  apps/extension/e2e/transaction/balance-transaction.test.ts
  apps/extension/e2e/transaction/cadence-transaction.test.ts
Due: eslint --cache --fix, prettier --write

feat: route to page of coaToEoa
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/migration/InfoScreen.query.tsx
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

fix: update toggle
  apps/extension/src/bridge/PlatformImpl.ts
  packages/stores/src/sendStore.ts
Due: eslint --cache --fix, prettier --write

feat: get asset for migration
  apps/react-native/src/bridge/MigrationAssetsService.ts
  apps/react-native/src/bridge/PlatformImpl.ts
Due: eslint --cache --fix, prettier --write

feat: add callback for migration done
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/package.json
  packages/screens/src/migration/MigrationScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: content script security issue
  apps/extension/src/background/controller/provider/internalMethod.ts
  apps/extension/src/background/controller/provider/rpcFlow.ts
  apps/extension/src/background/index.ts
  apps/extension/src/content-script/index.ts
  apps/extension/src/content-script/pageProvider/eth/index.ts
  apps/extension/src/content-script/pageProvider/eth/utils/message/broadcastChannelMessage.ts
  apps/extension/src/extension-shared/message/broadcastChannelMessage.ts
Due: eslint --cache --fix, prettier --write

feat: add ActivityDetailSheet modal for transaction details
  packages/screens/src/activity/ActivityScreen.query.tsx
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/ui/src/components/ActivityDetailRow.tsx
  packages/ui/src/components/ActivityDetailSheet.tsx
  packages/ui/src/index.ts
  packages/ui/src/types/index.ts
Due: eslint --cache --fix, prettier --write

fix: make ActivityCard onPress work reliably
  packages/ui/src/components/ActivityCard.tsx
Due: eslint --cache --fix, prettier --write

fix: align ActivityDetailSheet with Figma designs
  packages/ui/src/components/ActivityDetailSheet.tsx
Due: eslint --cache --fix, prettier --write

refactor: use ActivityDetailRow instead of inline DetailRow
  packages/ui/src/components/ActivityDetailSheet.tsx
Due: eslint --cache --fix, prettier --write

fix: remove network fee row from activity detail screen
  packages/screens/src/activity/ActivityDetailScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: use Sent/Received title for self-transfers instead of Transferred
  packages/services/src/ActivityService.ts
Due: eslint --cache --fix, prettier --write

feat: add NFT support to activity detail screen with translations
  packages/screens/src/activity/ActivityDetailScreen.query.tsx
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: eslint --cache --fix, prettier --write

chore: add comment explaining hardcoded fee values and remove unused networkFee translation
  packages/screens/src/activity/ActivityDetailScreen.query.tsx
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: eslint --cache --fix, prettier --write
