Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

docs: add cc agents
  .claude/agents/code-architect.md
  .claude/agents/test-engineering-expert.md
  .claude/agents/web3-security-auditor.md
Due: prettier --write

fix: extension build issue with icons
  apps/extension/build/webpack.common.config.ts
  packages/icons/package.json
  packages/icons/src/IconWrapper.tsx
  packages/icons/tsup.config.ts
Due: eslint --cache --fix, prettier --write

fix: remove deploy report from workflow
  .github/workflows/extension-build.yml
Due: prettier --write

feat: debug workflow service
  .github/workflows/extension-build.yml
  apps/extension/e2e/utils/loader.ts
Due: eslint --cache --fix, prettier --write

chore: clean extension install
  apps/extension/.npmrc
  apps/extension/package.json
Due: prettier --write

fix: revert workflow
  .github/workflows/extension-build.yml
  apps/extension/e2e/utils/loader.ts
Due: eslint --cache --fix, prettier --write

feat: svg webview
  .gitignore
  app/build.gradle
  app/proguard-rules.pro
  app/release/baselineProfiles/0/app-release.dm
  app/release/baselineProfiles/1/app-release.dm
  app/release/output-metadata.json
  app/src/main/assets/index.android.bundle
  app/src/main/java/com/flowfoundation/wallet/bridge/NativeFRWBridge.kt
  app/src/main/java/com/flowfoundation/wallet/page/nft/move/widget/SelectNFTListAdapter.kt
  app/src/main/java/com/flowfoundation/wallet/page/nft/nftdetail/presenter/NftDetailPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/nft/nftlist/Utils.kt
  app/src/main/java/com/flowfoundation/wallet/page/nft/nftlist/presenter/NFTListItemPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/utils/ImageViewUtils.kt
  app/src/main/java/com/flowfoundation/wallet/utils/SVGUtils.kt
  app/src/main/java/com/flowfoundation/wallet/utils/image/SvgGlideModule.kt
  app/src/main/java/com/flowfoundation/wallet/utils/image/SvgModel.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/SVGWebView.kt
  gradle.properties
Due: prettier --write

fix: revert workflow command
  .github/workflows/extension-build.yml
Due: prettier --write

fix: remove .npmrc
  apps/extension/.npmrc
Due: none

feat: add select token screen
  apps/extension/src/ui/views/Dashboard/index.tsx
  apps/extension/src/ui/views/InnerRoute.tsx
  apps/extension/src/ui/views/SelectTokensScreenView/ExtensionSelectTokens.tsx
  apps/extension/src/ui/views/SelectTokensScreenView/index.tsx
  apps/extension/src/ui/views/SendToScreenView/index.tsx
Due: eslint --cache --fix, prettier --write

feat: token and NFT add resouce identifier
  packages/stores/src/sendStore.ts
  packages/utils/src/index.ts
  packages/utils/src/nft.ts
  packages/utils/src/token.ts
Due: eslint --cache --fix, prettier --write

feat: update the screen import and use original hook to load the token
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/ui/views/SelectTokensScreenView/ExtensionSelectTokens.tsx
  apps/extension/src/ui/views/SelectTokensScreenView/index.tsx
  packages/screens/src/send/SelectTokensScreen.tsx
  packages/screens/src/types/index.ts
Due: eslint --cache --fix, prettier --write

feat: fix crashes
  apps/react-native/index.js
  apps/react-native/src/components/ui/modals/TokenSelectorModal.tsx
  apps/react-native/src/screens/Send/SelectTokens/SelectTokensScreen.tsx
  packages/ui/src/components/TokenSelectorModal.tsx
  packages/utils/src/utils.ts
Due: eslint --cache --fix, prettier --write

fix: apply RecipientData in the screen
  apps/extension/src/ui/views/SendToScreenView/index.tsx
Due: eslint --cache --fix, prettier --write

chore: stash commit
  packages/screens/src/send/SendToScreen.tsx
  packages/ui/src/components/AddressSearchBox.tsx
  packages/ui/src/components/RecipientItem.tsx
  packages/ui/src/components/RecipientList.tsx
  packages/ui/src/foundation/SegmentedControl.tsx
  packages/ui/src/theme/extension.ts
Due: eslint --cache --fix, prettier --write

feat: add platform method in spec
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/types/src/Platform.ts
  packages/types/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add create-pr Claude command
  .claude/commands/create-pr.md
  .claude/settings.local.json
  CLAUDE.md
Due: prettier --write

feat: add create-issue command and enhance create-pr with issue linking
  .claude/commands/create-issue.md
  .claude/commands/create-pr.md
  .claude/settings.local.json
  CLAUDE.md
Due: prettier --write

feat: migrate Chrome Extension from Webpack to Vite
  apps/extension/_raw/manifest/manifest.dev.json
  apps/extension/_raw/manifest/manifest.pro.json
  apps/extension/build/webpack-cli-wrapper.cjs
  apps/extension/build/webpack.common.config.ts
  apps/extension/build/webpack.dev.config.ts
  apps/extension/build/webpack.pro.config.ts
  apps/extension/package.json
  apps/extension/public/_locales/en/messages.json
  apps/extension/public/_locales/ja/messages.json
  apps/extension/public/_locales/ru/messages.json
  apps/extension/public/_locales/zh_CN/messages.json
  apps/extension/public/images/icon-128.png
  apps/extension/public/images/icon-16.png
  apps/extension/public/images/icon-19.png
  apps/extension/public/images/icon-256.png
  apps/extension/public/images/icon-32.png
  apps/extension/public/images/icon-38.png
  apps/extension/public/images/icon-48.png
  apps/extension/public/images/icon-512.png
  apps/extension/public/images/icon-64.png
  apps/extension/public/images/icon_iphone_29.png
  apps/extension/public/react-devtools.js
  apps/extension/public/sw.js
  apps/extension/public/user-media-permission.html
  apps/extension/src/ui/components/NFTs/CollectionDetailGrid.tsx
  apps/extension/src/ui/components/NFTs/NftSearch.tsx
  apps/extension/src/ui/index.html
  apps/extension/src/ui/notification.html
  apps/extension/src/ui/popup.html
  apps/extension/vite.config.ts
  apps/extension/webpack.config.ts
Due: eslint --cache --fix, prettier --write

fix: resolve Buffer polyfill and build issues after Vite migration
  apps/extension/package.json
  apps/extension/vite.config.ts
  packages/ui/src/foundation/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

fix: resolve service worker startup issue with top-level await
  apps/extension/src/background/index.ts
Due: eslint --cache --fix, prettier --write

fix: update detect service worker method
  apps/extension/e2e/utils/loader.ts
Due: eslint --cache --fix, prettier --write

fix: implement professional WASM loading solution with vite-plugin-wasm
  apps/extension/package.json
  apps/extension/vite.config.ts
Due: eslint --cache --fix, prettier --write

feat: modernize @onflow/frw-context to React Context + Hooks architecture
  apps/extension/src/bridge/PlatformContext.tsx
  apps/react-native/src/App.tsx
  apps/react-native/src/hooks/useStorageWarning.ts
  apps/react-native/src/screens/Send/SendNFT/SendSingleNFTScreen.tsx
  packages/context/src/ServiceContext.ts
  packages/context/src/ServiceContext.tsx
  packages/context/src/index.ts
  packages/context/tsconfig.json
  packages/context/tsup.config.ts
  packages/services/src/AddressBookService.ts
  packages/services/src/FlowService.ts
  packages/services/src/FlowServiceFactory.ts
  packages/services/src/NFTService.ts
  packages/services/src/RecentRecipientsService.ts
  packages/services/src/TokenService.ts
  packages/services/src/getters.ts
  packages/services/src/index.ts
  packages/stores/src/index.ts
  packages/stores/src/sendStore.ts
  packages/stores/src/tokenStore.ts
  packages/stores/src/walletStore.ts
Due: eslint --cache --fix, prettier --write

fix: add missing import
  apps/react-native/src/screens/Send/SendNFT/SendSingleNFTScreen.tsx
Due: eslint --cache --fix, prettier --write

refactor: migrate to CRXJS official architecture with Vite 7
  apps/extension/manifest.config.ts
  apps/extension/package.json
  apps/extension/src/index.html
  apps/extension/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix: add loader debug
  apps/extension/e2e/utils/loader.ts
Due: eslint --cache --fix, prettier --write

feat: add dual-entry service architecture with simplified singleton API
  CLAUDE.md
  packages/context/src/ServiceContext.tsx
  packages/context/src/ServiceFactory.ts
  packages/context/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: isolate React context from global singleton state
  packages/context/src/ServiceContext.tsx
  packages/context/src/ServiceFactory.ts
Due: eslint --cache --fix, prettier --write

fix: update loader method
  apps/extension/e2e/utils/loader.ts
Due: eslint --cache --fix, prettier --write

fix: simplify Buffer polyfill with vite-plugin-node-polyfills
  apps/extension/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix: add aggressive Buffer injection plugin
  apps/extension/vite.config.ts
Due: eslint --cache --fix, prettier --write

fix: check chrome argument
  apps/extension/e2e/utils/loader.ts
Due: eslint --cache --fix, prettier --write

feat: implement i18n abstraction and navigation interface for shared screens
  apps/extension/src/bridge/ExtensionNavigation.ts
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/ReactNativeNavigation.ts
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/context/src/NavigationContext.tsx
  packages/context/src/ServiceContext.ts
  packages/context/src/index.ts
  packages/context/src/interfaces/Navigation.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/context/tsconfig.json
  packages/screens/LOCALIZATION.md
  packages/screens/docs/Extension-Integration.md
  packages/screens/docs/ReactNative-Integration.md
  packages/screens/src/index.ts
  packages/screens/src/lib/i18n.ts
  packages/screens/src/lib/withScreensI18n.tsx
  packages/screens/src/locales/README.md
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/zh.json
  packages/screens/src/send/SendToScreen.tsx
  packages/screens/src/types/index.ts
  packages/screens/tsconfig.json
  packages/screens/tsup.config.ts
Due: eslint --cache --fix, prettier --write

feat: remove withScreensI18n
  packages/screens/src/lib/withScreensI18n.tsx
  packages/screens/src/send/SendToScreen.tsx
  packages/screens/src/types/index.ts
Due: eslint --cache --fix, prettier --write

fix: empty address book & compatible with java
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/components/NavigationCloseButton.tsx
  apps/react-native/src/components/SendWorkflowManager.tsx
  apps/react-native/src/components/ui/cards/ToAccountSection.tsx
  apps/react-native/src/screens/Send/SendNFT/SendMultipleNFTsScreen.tsx
  apps/react-native/src/screens/Send/SendNFT/SendSingleNFTScreen.tsx
  apps/react-native/src/screens/Send/SendTokens/SendTokensScreen.tsx
  packages/services/src/AddressBookService.ts
Due: eslint --cache --fix, prettier --write

feat: remove unwanted code
  packages/screens/src/index.ts
  packages/screens/src/send/NFTDetailScreen.tsx
  packages/screens/src/send/NFTListScreen.tsx
  packages/screens/src/send/SelectTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: send entrance & code push config
  app/build.gradle
  app/src/main/java/com/flowfoundation/wallet/FlowWalletApplication.kt
  app/src/main/java/com/flowfoundation/wallet/ReactNativeDemoActivity.java
  app/src/main/java/com/flowfoundation/wallet/bridge/BridgeUtils.kt
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/WalletConnectDelegate.kt
  app/src/main/java/com/flowfoundation/wallet/page/browser/presenter/BrowserPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/component/deeplinking/Utils.kt
  app/src/main/java/com/flowfoundation/wallet/page/nft/nftdetail/presenter/NftDetailPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/scan/Utils.kt
  app/src/main/java/com/flowfoundation/wallet/page/send/transaction/presenter/TransactionSendPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/token/detail/TokenDetailActivity.kt
  app/src/main/java/com/flowfoundation/wallet/page/token/detail/presenter/TokenDetailPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/wallet/dialog/MoveDialog.kt
  app/src/main/java/com/flowfoundation/wallet/page/wallet/presenter/WalletHeaderPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/webview/evm/EvmInterface.kt
  app/src/main/res/layout/activity_nft_detail.xml
  app/src/main/res/layout/activity_token_detail.xml
  app/src/main/res/layout/layout_browser.xml
  app/src/main/res/values/string_no_translate.xml
  key.properties.example
  local.properties.codepush-example
  local.properties.example
Due: none

feat: add Figma UI Builder specialized agent
  .claude/agents/figma-ui-builder.md
Due: prettier --write
