Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,webp}": ["node scripts/optimize-images.js"]
}

udpate default EVM gas limit
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

fix: native tag issue in cadence header
  apps/react-native/src/bridge/PlatformImpl.ts
Due: eslint --cache --fix, prettier --write

fix: incorrect pre-authz api url
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/Model/serviceDefinition.swift
Due: none

fix: evm label
  app/src/main/java/com/flowfoundation/wallet/instabug/InstabugUtils.kt
  app/src/main/java/com/flowfoundation/wallet/page/main/drawer/DrawerLayoutViewModel.kt
Due: none

feat: add request permissions for stargate
  apps/extension/package.json
  apps/extension/src/background/controller/provider/rpcFlow.ts
Due: eslint --cache --fix, prettier --write

feat: new permission request of dapp connection
  apps/extension/src/background/controller/provider/controller.ts
  apps/extension/src/background/controller/provider/rpcFlow.ts
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/shared/types/provider-types.ts
Due: eslint --cache --fix, prettier --write

fix: feedback
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/recovery/ImportOtherMethodsScreen.query.tsx
  packages/types/src/Bridge.ts
  packages/ui/src/components/onboarding/ImportOptionCard.tsx
Due: eslint --cache --fix, prettier --write

chore: add PR checklist
  .github/pull_request_template.md
Due: prettier --write

fix: feedback
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/recovery/ConfirmImportProfileScreen.query.tsx
  packages/screens/src/recovery/ImportProfileScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: add html view component
  apps/react-native/package.json
Due: prettier --write

feat: add html view component
  packages/ui/package.json
  packages/ui/src/components/HtmlView.native.tsx
  packages/ui/src/components/HtmlView.tsx
  packages/ui/src/components/HtmlView.web.tsx
  packages/ui/src/components/UpdateDialog.tsx
  packages/ui/src/index.ts
  packages/ui/stories/UpdateDialog.stories.tsx
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --cache --fix, prettier --write

docs: add extension release note
  docs/releaseNotes/ext/3-1-1-en.md
Due: prettier --write

fix: feedback
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/recovery/ConfirmImportProfileScreen.query.tsx
  packages/screens/src/recovery/ImportProfileScreen.query.tsx
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

fix: feedback
  packages/screens/src/recovery/ImportProfileScreen.query.tsx
  packages/ui/package.json
Due: eslint --cache --fix, prettier --write

fix: feedback
  pnpm-lock.yaml
Due: prettier --write

fix: feedback
  packages/ui/src/components/onboarding/ImportOptionCard.tsx
Due: eslint --cache --fix, prettier --write

fix: move register api to package
  apps/extension/build/webpack.common.config.ts
  apps/extension/package.json
  apps/extension/src/background/controller/provider/controller.ts
  apps/extension/src/core/service/account-management.ts
  apps/extension/src/core/service/openapi.ts
  apps/extension/tsconfig.json
  packages/api/src/index.ts
  packages/services/src/ProfileService.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: update import and login v4
  apps/extension/src/core/service/account-management.ts
  apps/extension/src/core/service/openapi.ts
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

fix: add mock user agent for test
  apps/extension/vitest.init.ts
Due: eslint --cache --fix, prettier --write

fix: setting for vitest
  apps/extension/vitest.init.ts
Due: eslint --cache --fix, prettier --write

fix: codegen script
  apps/react-native/scripts/bridge-codegen.js
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

fix: update flowidentifier check and make confirmation scrollable when checking cadence script
  apps/extension/package.json
  apps/extension/src/ui/views/Approval/components/Confirmation.tsx
  packages/utils/src/token.ts
Due: eslint --cache --fix, prettier --write

chore: update api swagger and codegen
  packages/api/js_swagger.json
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

Rename 'Checklist' to 'Self-Checklist' in PR template
  .github/pull_request_template.md
Due: prettier --write

chore: remove demo in index
  apps/extension/src/ui/views/Dashboard/index.tsx
Due: eslint --cache --fix, prettier --write

900 - recovery UI for v 3.1.0 (#981)
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/index.ts
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/onboarding/GetStartedScreen.query.tsx
  packages/screens/src/recovery/ConfirmImportProfileScreen.query.tsx
  packages/screens/src/recovery/ImportOtherMethodsScreen.query.tsx
  packages/screens/src/recovery/ImportProfileScreen.query.tsx
  packages/screens/src/recovery/index.ts
  packages/types/src/Bridge.ts
  packages/ui/package.json
  packages/ui/src/components/ProfileImportList.tsx
  packages/ui/src/components/onboarding/ImportOptionCard.tsx
  packages/ui/src/components/onboarding/index.ts
  packages/ui/src/index.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: update to register v4
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

feat: register v4
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: onboarding
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Foundation/Bridge/NativeScreenName.swift
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/RNBridgeError.swift
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModule+Onboard.swift
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
  apps/react-native/ios/FRW/Modules/MultiBackup/View/BackupListView.swift
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Modules/Wallet/AccountSwitch/AccountSwitchViewModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideContainerView.swift
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap+React.swift
  apps/react-native/ios/main.jsbundle
Due: none

feat: push onboarding
  apps/react-native/ios/FRW/Services/Router/RouteMap+React.swift
Due: none

fix: add userId and current account flag to create wallet
  app/src/main/java/com/flowfoundation/wallet/manager/wallet/WalletCreationHelper.kt
  app/src/main/java/com/flowfoundation/wallet/manager/walletdata/WalletDataManager.kt
Due: none

feat: react-native-safe-area-context
  packages/screens/package.json
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.query.tsx
Due: eslint --cache --fix, prettier --write
