Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

feat: use backup workflow for register create backup and settings, apply v2 backup in welcome page
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/__tests__/backup-workflow-service.test.ts
  apps/extension/src/core/service/account-management.ts
  apps/extension/src/core/service/backup-workflow.ts
  apps/extension/src/core/service/googleDrive.ts
  apps/extension/src/ui/components/google-import/DecryptWallet.tsx
  apps/extension/src/ui/components/import-components/Googledrive.tsx
  apps/extension/src/ui/views/Welcome/import-profile/index.tsx
  apps/extension/src/ui/views/Welcome/index.tsx
Due: eslint --cache --fix, prettier --write

feat: update ui
  packages/screens/src/importAccount/ImportCloudMultiBackupScreen.query.tsx
  packages/screens/src/recovery/ImportProfileScreen.query.tsx
  packages/ui/src/components/onboarding/CloudProviderCard.tsx
  packages/ui/src/components/onboarding/ImportOptionCard.tsx
Due: eslint --cache --fix, prettier --write

feat: update bridge model
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/assets/__packages/ui/src/assets/images/shield-bg.png
Due: node scripts/optimize-images.js

feat: sidemenu view code optimization
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuMenuRow.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuView.swift
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Account/icon_side_link.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Account/icon_side_link.imageset/Format 44 - 24px.png
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Account/icon_side_link.imageset/Format 44 - 24px@2x.png
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Account/icon_side_link.imageset/Format 44 - 24px@3x.png
  apps/react-native/ios/FRW/Resource/Assets.xcassets/Account/icon_side_link.imageset/link-2.svg
  apps/react-native/ios/main.jsbundle
Due: prettier --write, node scripts/optimize-images.js

feat: migrating v1 to v2 through settings page
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/backup-workflow.ts
  apps/extension/src/ui/components/password/SettingsPassword.tsx
  apps/extension/src/ui/views/Setting/Backups/BackupsPassword.tsx
  apps/extension/src/ui/views/Setting/Backups/index.tsx
Due: eslint --cache --fix, prettier --write

docs: apply SEO/GEO audit recommendations
  README.md
Due: prettier --write

fix(services): implement 3-phase write-ahead log (WAL) for key rotation
  PLAN.md
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Base/add_keys.cdc
  packages/cadence/src/cadence/Base/revoke_keys.cdc
  packages/screens/src/keyrotation/KeyRotationMnemonicScreen.query.tsx
  packages/services/src/KeyRotationService.ts
  packages/services/tests/key-rotation-3phase.test.ts
  packages/services/vitest.config.ts
  packages/types/src/KeyRotation.ts
  packages/workflow/src/keyRotation/keyRotation.ts
Due: eslint --cache --fix, prettier --write

fix(extension): block create-account flow when a locked vault already exists
  apps/extension/_raw/_locales/en/messages.json
  apps/extension/_raw/_locales/ja/messages.json
  apps/extension/_raw/_locales/ru/messages.json
  apps/extension/_raw/_locales/zh_CN/messages.json
  apps/extension/src/core/service/__tests__/account-management-verify-password.test.ts
  apps/extension/src/core/service/account-management.ts
  apps/extension/src/messages.json
  apps/extension/src/ui/views/Welcome/Register/index.tsx
Due: eslint --cache --fix, prettier --write

fix(extension): fall back to registration steps if wallet status check fails
  apps/extension/src/ui/views/Welcome/Register/index.tsx
Due: eslint --cache --fix, prettier --write

fix(extension): clear booted state on keyring reset
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/__tests__/keyring-boot-mnemonics.test.ts
  apps/extension/src/core/service/keyring/index.ts
Due: eslint --cache --fix, prettier --write

refactor(extension): drop redundant booted clearing at resetKeyRing call sites
  apps/extension/src/core/service/keyring/index.ts
Due: eslint --cache --fix, prettier --write

ci(extension): add Chrome Web Store release pipeline
  .github/workflows/extension-release.yml
Due: prettier --write

fix(ci): validate release version against package.json only
  .github/workflows/extension-release.yml
Due: prettier --write

fix(ci): restore env parity with extension-build for release bundles
  .github/workflows/extension-release.yml
Due: prettier --write

fix(ci): pass CWS auth via env vars for chrome-webstore-upload-cli v4
  .github/workflows/extension-release.yml
Due: prettier --write

fix(ci): add PUBLISHER_ID required by chrome-webstore-upload v4 API client
  .github/workflows/extension-release.yml
Due: prettier --write

ci(extension): vendor CWS upload CLI and rewrite release script
  .github/workflows/extension-release.yml
  apps/extension/build/release.ts
  apps/extension/package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix(react-native): honor Content-Disposition in the iOS in-app browser
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Browser/BrowserViewController.swift
  apps/react-native/ios/FRWTests/NavigationResponsePolicyTests.swift
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
  node scripts/optimize-images.js: any of: *.{png,jpg,jpeg,gif,webp}
