Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

chore: resolve merge conflict in pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

feat: integrate wallet package
  packages/screens/package.json
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: complete EOA seed phrase onboarding flow
  apps/react-native/src/bridge/NativeFRWBridge.ts
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

fix: remove sensitive Firebase API key logging
  apps/extension/build/prepareManifest.ts
  apps/extension/src/background/utils/firebaseConfig.ts
Due: eslint --cache --fix, prettier --write

chore: remove unused bridge methods from TypeScript interface
  apps/react-native/src/bridge/NativeFRWBridge.ts
Due: eslint --cache --fix, prettier --write

feat： update gas to 16_000_000 (#1909)
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

Update presubmit.yml
  apps/react-native/ios/.github/workflows/presubmit.yml
Due: prettier --write

feat: update gas limit
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/CadenceExecutor.kt
  gradle.properties
Due: none

fix: gaslimit to 16m
  apps/extension/src/background/controller/provider/controller.ts
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/__tests__/test-data/test-groups.ts
  apps/extension/src/core/service/transactions.ts
Due: eslint --cache --fix, prettier --write

feat: bump 3.0.4
  apps/extension/package.json
Due: prettier --write

fix: update sendworkflow
  packages/workflow/src/send/utils.ts
Due: eslint --cache --fix, prettier --write

fix: update unit test
  packages/workflow/tests/send.ft.script.test.ts
Due: eslint --cache --fix, prettier --write

feat: add update EVM gas limit
  packages/workflow/src/send/utils.ts
  packages/workflow/tests/send.ft.script.test.ts
Due: eslint --cache --fix, prettier --write

feat: update version to 3.0.5 (#1910)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
Due: none

fix: update cadence
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Bridge/transactions/batch_bridge_nft_from_evm_to_flow_with_payer.cdc
  packages/cadence/src/cadence/Bridge/transactions/bridge_nft_from_evm_to_flow_with_payer.cdc
Due: eslint --cache --fix, prettier --write

fix: COA authn popup failed (#1911)
  apps/react-native/ios/FRW/Modules/TrustProvider/TrustJSMessageHandler.swift
Due: none

ci: add submodule update ci
  .github/workflows/submodule-update.yml
  scripts/update-submodule-refs.sh
Due: prettier --write

ci: update ci input
  .github/workflows/submodule-update.yml
Due: prettier --write

ci: add update_target
  .github/workflows/submodule-update.yml
Due: prettier --write

test: update test scripts
  apps/extension/e2e/utils/helper.ts
  packages/workflow/tests/send.nft.test.ts
Due: eslint --cache --fix, prettier --write

ci: fix ci issue on e2e and submodules
  .github/workflows/submodule-update.yml
  apps/extension/e2e/transaction/nft-transaction.test.ts
  apps/extension/e2e/utils/helper.ts
  apps/extension/e2e/utils/loader.ts
Due: eslint --cache --fix, prettier --write

fix: pnpm lock
  pnpm-lock.yaml
Due: prettier --write

feat: add connect dapp to choos eoa or coa
  apps/extension/src/background/controller/provider/controller.ts
  apps/extension/src/core/service/permission.ts
  apps/extension/src/core/service/transactions.ts
  apps/extension/src/ui/components/account/account-card.tsx
  apps/extension/src/ui/components/header/index.tsx
  apps/extension/src/ui/views/Approval/components/EthApproval/EthConnect/AccountSelectDrawer.tsx
  apps/extension/src/ui/views/Approval/components/EthApproval/EthConnect/index.tsx
Due: eslint --cache --fix, prettier --write

fix: nft evm display address
  apps/extension/src/ui/views/NftEvm/index.tsx
Due: eslint --cache --fix, prettier --write

feat: add eoa call for eoa transfer
  packages/workflow/src/send/context.ts
  packages/workflow/src/send/nftStrategies.ts
  packages/workflow/src/send/tokenStrategies.ts
Due: eslint --cache --fix, prettier --write

feat: update logic
  packages/workflow/src/send/nftStrategies.ts
Due: eslint --cache --fix, prettier --write

feat: update eoa transfer flow
  packages/workflow/src/send/tokenStrategies.ts
Due: eslint --cache --fix, prettier --write

fix: nft strategy
  apps/extension/src/bridge/PlatformImpl.ts
  packages/workflow/src/send/nftStrategies.ts
Due: eslint --cache --fix, prettier --write

fix: tokencontract address keyword for ft transaction
  apps/extension/src/ui/views/TokenDetail/TokenInfoCard.tsx
Due: eslint --cache --fix, prettier --write

fix: bump version number
  apps/extension/package.json
Due: prettier --write

fix: add reminder
  apps/extension/src/ui/views/TokenDetail/TokenInfoCard.tsx
Due: eslint --cache --fix, prettier --write
