Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

fix(react-native): reset locale files to match dev branch exactly
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

fix(deps): reset ChevronRight icon to match dev branch
  packages/icons/src/web/ChevronRight.generated.tsx
Due: eslint --cache --fix, prettier --write

refactor: remove unused createEOAAccount method and type
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

revert: reset NavigationBackButton to dev branch state
  apps/react-native/src/components/NavigationBackButton.tsx
Due: eslint --cache --fix, prettier --write

chore(deps): remove unused blur package from ui
  packages/ui/package.json
  packages/ui/src/components/AccountCard.tsx
Due: eslint --cache --fix, prettier --write

refactor: use theme token for InfoDialog close icon
  packages/ui/src/components/InfoDialog.tsx
Due: eslint --cache --fix, prettier --write

fix: use token string syntax for InfoDialog icon color
  packages/ui/src/components/InfoDialog.tsx
Due: eslint --cache --fix, prettier --write

fix: use correct theme tokens in ConfirmRecoveryPhraseScreen
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat(react-native): implement getDeviceInfo in PlatformImpl
  apps/react-native/src/bridge/PlatformImpl.ts
Due: eslint --cache --fix, prettier --write

fix(react-native): add device_id and name to getDeviceInfo
  apps/react-native/src/bridge/PlatformImpl.ts
Due: eslint --cache --fix, prettier --write

fix(react-native): remove temporary device_id from getDeviceInfo
  apps/react-native/src/bridge/PlatformImpl.ts
Due: eslint --cache --fix, prettier --write

fix: use token value for Close icon color in InfoDialog
  packages/ui/src/components/InfoDialog.tsx
Due: eslint --cache --fix, prettier --write

fix: add progress animation to SecureEnclaveScreen loading
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: use automatic progress for SecureEnclaveScreen loading
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: remove percentage display from AccountCreationLoadingState
  packages/ui/src/components/onboarding/AccountCreationLoadingState.tsx
Due: eslint --cache --fix, prettier --write

fix: use Tamagui tokens for lineHeight in onboarding screens
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: theme tokens
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
  packages/ui/src/components/onboarding/BackupOptionCard.tsx
Due: eslint --cache --fix, prettier --write

ci: add workflow to update latest release tags
  .github/workflows/latest-release-tags.yml
Due: prettier --write

refactor(react-native): simplify BackupOptionsScreen and fix back button
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: code clean up
  app/src/main/java/com/flowfoundation/wallet/bridge/BridgeModels.kt
  build.gradle
Due: none

fix(react-native): backup options back button closes RN instead of navigating
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

ci: remove redundant pnpm cache setup from workflows
  .github/workflows/lint.yml
  .github/workflows/packages.yml
Due: prettier --write

fix(react-native): use hardware back button for backup options warning
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat(react-native): add visible back button to backup options screen
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix(react-native): show header with back button on backup options screen
  apps/react-native/src/components/NavigationBackButton.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: feedback
  packages/screens/src/onboarding/GetStartedScreen.query.tsx
  packages/ui/src/assets/images/index.ts
  packages/ui/src/assets/images/onboarding/full_bg.png
  packages/ui/src/components/onboarding/OnboardingBackground.tsx
  packages/ui/src/components/onboarding/ProfileTypeCard.tsx
  packages/ui/src/components/onboarding/index.ts
  packages/ui/src/theme.ts
Due: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

fix: feedback
  apps/react-native/src/components/NavigationBackButton.tsx
Due: eslint --cache --fix, prettier --write

ci: change tag pattern from 'extension' to 'ext'
  .github/workflows/latest-release-tags.yml
Due: prettier --write

ci: delete .github/workflows/latest-release-tags.yml
  .github/workflows/latest-release-tags.yml
Due: prettier --write

feat: add device id
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
Due: eslint --cache --fix, prettier --write

feat: add backup for seed phrase (#1999)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Modules/Backup/RecoveryPhraseView.swift
  apps/react-native/ios/FRW/Modules/Profile/ProfileBackup/RecoveryPhraseBackupView.swift
  apps/react-native/ios/FRW/Modules/Profile/ProfileView.swift
  apps/react-native/ios/FRW/Resource/Assets.xcassets/backup/icon.recovery.green.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/backup/icon.recovery.green.imageset/icon.recovery.pdf
  apps/react-native/ios/FRW/Resource/Assets.xcassets/profile/icon-warning.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/profile/icon-warning.imageset/icon-warning.pdf
  apps/react-native/ios/FRW/Resource/Assets.xcassets/profile/profile-lock.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/profile/profile-lock.imageset/profile-lock.pdf
  apps/react-native/ios/FRW/Resource/Assets.xcassets/profile/profile_back_copy.imageset/Contents.json
  apps/react-native/ios/FRW/Resource/Assets.xcassets/profile/profile_back_copy.imageset/profile_back_copy.pdf
  apps/react-native/ios/FRW/Resource/en.lproj/Localizable.strings
  apps/react-native/ios/FRW/Services/Router/RouteMap.swift
  apps/react-native/ios/FRW/UI/Component/PrivateKeyWarning.swift
  apps/react-native/ios/main.jsbundle
Due: prettier --write

fix: register v3 endpoint
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/services/src/ProfileService.ts
Due: eslint --cache --fix, prettier --write

fix: alignment
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: feedback
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

feat: add progress on animation bar
  packages/ui/src/components/LottieView.native.tsx
Due: eslint --cache --fix, prettier --write

feat(ui): add onboarding UI components and assets
  packages/ui/package.json
  packages/ui/src/assets/animations/creating-account-dark.json
  packages/ui/src/assets/animations/creating-account-light.json
  packages/ui/src/assets/animations/loading-bar-dark.json
  packages/ui/src/assets/animations/loading-bar-light.json
  packages/ui/src/assets/animations/shield-with-lock-dark-2.json
  packages/ui/src/assets/animations/shield-with-lock-light-2.json
  packages/ui/src/assets/images/index.ts
  packages/ui/src/assets/images/onboarding/card_bg.png
  packages/ui/src/assets/images/onboarding/full_bg_light.png
  packages/ui/src/assets/images/onboarding/get_started_background.png
  packages/ui/src/assets/images/onboarding/get_started_background_light.png
  packages/ui/src/assets/images/onboarding/push-notifications.png
  packages/ui/src/components/InfoDialog.tsx
  packages/ui/src/components/LottieView.native.tsx
  packages/ui/src/components/LottieView.web.tsx
  packages/ui/src/components/RecipientItem.tsx
  packages/ui/src/components/ShieldAnimation.tsx
  packages/ui/src/components/onboarding/AccountCreationLoadingState.tsx
  packages/ui/src/components/onboarding/BackupOptionCard.tsx
  packages/ui/src/components/onboarding/OnboardingBackground.tsx
  packages/ui/src/components/onboarding/OnboardingHeader.tsx
  packages/ui/src/components/onboarding/index.ts
  packages/ui/src/foundation/IconButton.tsx
  packages/ui/src/foundation/Text.tsx
  packages/ui/src/index.ts
  packages/ui/src/theme.ts
  packages/ui/src/utils/lottie-image-injection.ts
Due: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

refactor: remove unused UI components
  packages/ui/src/components/ToastContext.tsx
  packages/ui/src/components/onboarding/FeatureItem.tsx
  packages/ui/src/components/onboarding/index.ts
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
  node scripts/optimize-images.js: any of: *.{png,jpg,jpeg,gif,webp}
