Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

update sctips and send workflow
  packages/context/tsconfig.json
Due: prettier --write

docs: update ARCHITECTURE doc and remove unused docs
  ARCHITECTURE.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/TEAM_ARCHITECTURE_GUIDE.md
  docs/TEAM_PRESENTATION.md
  docs/architecture-diagram.html
Due: prettier --write

fix: package dependency issue
  apps/react-native/src/bridge/RNBridge.ts
  packages/types/package.json
  packages/workflow/package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: ui feedback move to monorepo
  apps/react-native/src/components/NavigationCloseButton.tsx
  apps/react-native/src/components/UpdateButton.tsx
  apps/react-native/src/components/ui/cards/TransactionFeeSection.tsx
  apps/react-native/src/contexts/SendBottomSheetContext.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/NFTDetail/NFTDetailScreen.tsx
  apps/react-native/src/screens/Send/SendNFT/SendSingleNFTScreen.tsx
  apps/react-native/src/screens/Send/shared/components/NFTPreview.tsx
  apps/react-native/src/utils/updateService.ts
Due: eslint --cache --fix, prettier --write

feat: add @onflow/source and alias make sure IDE to go source code
  apps/react-native/src/bridge/RNBridge.ts
  apps/react-native/tsconfig.json
  packages/api/package.json
  packages/api/tsup.config.ts
  packages/cadence/package.json
  packages/cadence/tsup.config.ts
  packages/context/package.json
  packages/context/tsup.config.ts
  packages/services/package.json
  packages/services/tsup.config.ts
  packages/stores/package.json
  packages/stores/src/service/AddressBookService.ts
  packages/stores/tsup.config.ts
  packages/types/package.json
  packages/types/tsup.config.ts
  packages/utils/package.json
  packages/utils/tsup.config.ts
  packages/workflow/package.json
  packages/workflow/tsup.config.ts
Due: eslint --cache --fix, prettier --write

refactor: code & update tsconfig
  packages/cadence/src/cadence/CadenceGen.swift
  packages/cadence/src/cadence/get_delegator.cdc
  packages/workflow/package.json
  packages/workflow/src/send/nftStrategies.ts
  packages/workflow/tests/query.test.ts
  packages/workflow/tests/send.ft.test.ts
  packages/workflow/tests/send.nft.test.ts
  packages/workflow/tests/utils/accounts.ts
  packages/workflow/tests/utils/authz.ts
  packages/workflow/tests/utils/crypto.ts
  packages/workflow/tests/utils/index.ts
Due: eslint --cache --fix, prettier --write

feat: configure ESLint to exclude extension project and fix auto-fixable issues
  .github/workflows/lint.yml
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/ui/utils/WalletContext.tsx
  apps/extension/src/ui/views/Setting/About/About.tsx
  eslint.config.mjs
  package.json
Due: eslint --cache --fix, prettier --write

fix: address additional ESLint errors
  .claude/settings.local.json
  apps/extension/src/core/service/__tests__/keyring-migration.test.ts
  packages/services/src/AddressBookService.ts
  packages/services/src/FlowService.ts
  packages/services/src/NFTService.ts
  packages/services/src/RecentRecipientsService.ts
Due: eslint --cache --fix, prettier --write

fix: resolve all ESLint errors (43+ → 0)
  packages/services/package.json
  packages/services/src/AddressBookService.ts
  packages/services/src/FlowService.ts
  packages/services/src/NFTService.ts
  packages/services/src/RecentRecipientsService.ts
  packages/services/src/TokenService.ts
Due: eslint --cache --fix, prettier --write

chore: fix typo and update ts config
  packages/cadence/src/cadence/Bridge/transactions/bridge_nft_from_evm_to_flow_v2.cdc
  packages/cadence/src/cadence/Bridge/transactions/bridge_nft_from_evm_to_flow_v3.cdc
  packages/cadence/src/cadence/Bridge/transactions/bridge_nft_from_evm_to_flow_with_payer.cdc
  packages/cadence/src/cadence/Bridge/transactions/bridge_nft_from_evm_v2.cdc
  packages/cadence/src/cadence/Bridge/transactions/bridge_nft_from_evm_with_payer.cdc
  packages/cadence/src/cadence/HybridCustody/transactions/batch_bridge_child_nft_from_evm.cdc
  packages/cadence/src/cadence/HybridCustody/transactions/bridge_child_nft_from_evm.cdc
  packages/context/tsconfig.json
  packages/workflow/tsconfig.json
Due: prettier --write

feat: instabug initialization and env bridge
  apps/react-native/package.json
  apps/react-native/src/App.tsx
  apps/react-native/src/bridge/NativeFRWBridge.ts
Due: eslint --cache --fix, prettier --write

feat: instabug initialization and env bridge
  apps/react-native/.gitignore
Due: none

chore: migrate from frw-rn
  apps/react-native/scripts/bridge-codegen.js
  apps/react-native/src/App.tsx
  apps/react-native/src/components/ConfirmationDrawerContent.tsx
  apps/react-native/src/components/NFTList/NFTListCard.tsx
  apps/react-native/src/contexts/ConfirmationDrawerContext.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/Send/Confirmation/components/HoldToSendButton.tsx
Due: eslint --cache --fix, prettier --write

chore: migrate from frw-rn
  packages/api/src/codgen/axios.ts
  packages/types/src/Bridge.ts
  packages/types/src/BridgeHandler.ts
  packages/types/src/NFTModel.ts
  packages/types/src/TokenInfo.ts
  packages/types/src/index.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: setup codepush
  apps/react-native/CLAUDE.md
  apps/react-native/package.json
  apps/react-native/src/App.tsx
  apps/react-native/src/utils/codePush.ts
Due: eslint --cache --fix, prettier --write

feat: setup codepush
  .claude/settings.local.json
  apps/react-native/CODEPUSH_SETUP.md
  apps/react-native/package.json
  apps/react-native/react-native.config.js
  apps/react-native/src/App.tsx
  apps/react-native/src/utils/codePush.ts
  packages/types/src/BridgeHandler.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: setup codepush
  apps/react-native/CODEPUSH_SETUP.md
Due: prettier --write

feat: setup codepush
  apps/react-native/CODEPUSH_CREDENTIALS_SETUP.md
  apps/react-native/src/App.tsx
Due: eslint --cache --fix, prettier --write

feat: setup codepush
  apps/react-native/CODEPUSH_CREDENTIALS_SETUP.md
Due: prettier --write

chore: update cadence gen ts file
  packages/cadence/src/cadence.generated.ts
Due: eslint --cache --fix, prettier --write

fix: add enter & fix ui
  apps/react-native/scripts/bridge-codegen.js
  apps/react-native/src/App.tsx
  apps/react-native/src/components/ConfirmationDrawerContent.tsx
  apps/react-native/src/components/NFTList/NFTListCard.tsx
  apps/react-native/src/contexts/ConfirmationDrawerContext.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/Send/Confirmation/components/HoldToSendButton.tsx
  apps/react-native/tsconfig.json
  packages/types/src/Bridge.ts
  packages/types/src/BridgeHandler.ts
  packages/types/src/NFTModel.ts
  packages/types/src/Send.ts
  packages/types/src/TokenInfo.ts
  packages/types/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: update build yml
  .github/workflows/extension-build.yml
Due: prettier --write

fix: remove unused
  .claude/settings.local.json
  apps/react-native/src/App.tsx
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/tsconfig.json
  packages/stores/src/service/AddressBookService.ts
  packages/types/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: update build path
  .github/workflows/extension-build.yml
Due: prettier --write

feat: fix build error
  apps/react-native/src/bridge/NativeFRWBridge.ts
Due: eslint --cache --fix, prettier --write

fix: update test command
  .github/workflows/extension-build.yml
Due: prettier --write

fix: remove unused file
  packages/types/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: only run test for extension files
  .github/workflows/extension-build.yml
Due: prettier --write

fix: restoer app.tsx: don’t config
  apps/react-native/src/App.tsx
Due: eslint --cache --fix, prettier --write

feat: remove Repeat `WalletAccount`
  packages/stores/src/walletStore.ts
Due: eslint --cache --fix, prettier --write

feat: add polyfil loader
  apps/extension/build/webpack.common.config.ts
  apps/extension/package.json
Due: eslint --cache --fix, prettier --write

fix: update lock file
  pnpm-lock.yaml
Due: prettier --write

fix: add Node.js polyfills for webpack build
  apps/extension/build/webpack.common.config.ts
  apps/extension/package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: update buffer and events
  apps/extension/build/webpack.common.config.ts
  apps/extension/package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: update build ci
  .github/workflows/extension-build.yml
Due: prettier --write

fix: playwright command
  .github/workflows/extension-build.yml
Due: prettier --write

fix: playwright test command
  .github/workflows/extension-build.yml
Due: prettier --write
