Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

fix: eslint error
  packages/ui/src/components/AddressBookSection.tsx
Due: eslint --cache --fix, prettier --write

fix: theme color cleanup
  packages/ui/src/foundation/Skeleton.tsx
  packages/ui/src/theme.ts
Due: eslint --cache --fix, prettier --write

feat: update color dict to tuple array
  packages/ui/src/theme.ts
Due: eslint --cache --fix, prettier --write

feat: add dapp popup for surge approval
  apps/extension/src/background/controller/notification.ts
  apps/extension/src/background/controller/provider/controller.ts
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/ui/hooks/use-approval.ts
  apps/extension/src/ui/views/Approval/components/Confirmation.tsx
  apps/extension/src/ui/views/Approval/components/EthApproval/EthConfirm/index.tsx
  apps/extension/src/ui/views/index.tsx
Due: eslint --cache --fix, prettier --write

fix: debug send issues
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/MultipleNFTsPreview.tsx
Due: eslint --cache --fix, prettier --write

fix: build error
  packages/ui/src/components/ConfirmationDrawer.tsx
Due: eslint --cache --fix, prettier --write

feat: add flow network interceptor
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Payer/BridgeFeePayer.swift
  apps/react-native/ios/FRW/Foundation/Payer/DefaultPayerRequestInterceptor.swift
  apps/react-native/ios/FRW/Foundation/Payer/EventTrackInterceptor.swift
  apps/react-native/ios/FRW/Foundation/Payer/FlowTxInterception.swift
  apps/react-native/ios/FRW/Foundation/Payer/Payer429Interceptor.swift
  apps/react-native/ios/FRW/Foundation/Payer/PayerModel.swift
  apps/react-native/ios/FRW/Services/Network/FlowNetwork.swift
  apps/react-native/ios/Podfile.lock
Due: none

feat: setup fte onboarding screens
  packages/screens/src/index.ts
  packages/screens/src/locales/en.json
  packages/screens/src/onboarding/GetStartedScreen.tsx
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.tsx
  packages/screens/src/onboarding/index.ts
  packages/ui/src/components/onboarding/FeatureItem.tsx
  packages/ui/src/components/onboarding/GradientBackground.tsx
  packages/ui/src/components/onboarding/OnboardingBackground.tsx
  packages/ui/src/components/onboarding/OnboardingButton.tsx
  packages/ui/src/components/onboarding/OnboardingHeader.tsx
  packages/ui/src/components/onboarding/ProfileTypeCard.tsx
  packages/ui/src/components/onboarding/index.ts
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: setup fte onboarding screens
  packages/screens/src/locales/en.json
  packages/screens/src/onboarding/BackupOptionsScreen.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.tsx
  packages/screens/src/onboarding/index.ts
  packages/ui/src/components/onboarding/BackupOptionCard.tsx
  packages/ui/src/components/onboarding/NotificationToggle.tsx
  packages/ui/src/components/onboarding/index.ts
Due: eslint --cache --fix, prettier --write

feat: setup fte onboarding screens
  packages/screens/src/onboarding/SecureEnclaveScreen.tsx
Due: eslint --cache --fix, prettier --write

feat: setup fte onboarding screens
  packages/screens/src/locales/en.json
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.tsx
Due: eslint --cache --fix, prettier --write

feat: setup fte onboarding screens
  packages/screens/src/onboarding/GetStartedScreen.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.tsx
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.tsx
  packages/ui/src/components/onboarding/OnboardingButton.tsx
  packages/ui/src/components/onboarding/index.ts
Due: eslint --cache --fix, prettier --write

feat: setup fte onboarding screens
  packages/screens/src/locales/en.json
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.tsx
  packages/screens/src/onboarding/index.ts
Due: eslint --cache --fix, prettier --write

feat: setup fte onboarding screens
  packages/screens/src/locales/en.json
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.tsx
  packages/screens/src/onboarding/index.ts
Due: eslint --cache --fix, prettier --write

feat: setup fte onboarding screens
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.tsx
Due: eslint --cache --fix, prettier --write

chore: lint
  packages/screens/src/onboarding/BackupOptionsScreen.tsx
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.tsx
  packages/screens/src/onboarding/GetStartedScreen.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.tsx
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.tsx
  packages/ui/src/components/HoldToSendButton.native.tsx
  packages/ui/src/components/onboarding/BackupOptionCard.tsx
  packages/ui/src/components/onboarding/NotificationToggle.tsx
Due: eslint --cache --fix, prettier --write

fix: update press style
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/Surge/PriceBreakdown.tsx
  packages/ui/src/components/Surge/SurgeModal.tsx
  packages/ui/src/components/Surge/SurgeWarning.tsx
Due: eslint --cache --fix, prettier --write

fix: remove non mvp surge component
  packages/ui/src/components/ConfirmationDrawer.tsx
Due: eslint --cache --fix, prettier --write

fix: restore to false after complete
  apps/extension/src/ui/views/index.tsx
  packages/ui/src/components/Surge/SurgeModal.tsx
Due: eslint --cache --fix, prettier --write

fix: use component
  packages/ui/src/components/HoldToSendButton.web.tsx
  packages/ui/src/components/Surge/SurgeModal.tsx
Due: eslint --cache --fix, prettier --write

fix: update size
  packages/ui/src/components/Surge/SurgeModal.tsx
Due: eslint --cache --fix, prettier --write

ci: update android ci with release tag trigger
  .github/workflows/android.yml
  .github/workflows/release-notes.yml
  scripts/release-notes/sanitize_notes.sh
  scripts/release-notes/update_release_body.sh
Due: prettier --write

chore: update test scripts
  packages/wallet/src/__tests__/COA.test.ts
  packages/wallet/src/__tests__/EVMAccount.test.ts
Due: eslint --cache --fix, prettier --write

ci: update android
  .github/workflows/android.yml
Due: prettier --write

ci: update android build variant version tag
  app/build.gradle
Due: none

Add alert view
  apps/react-native/ios/.gitignore
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Payer/Payer429Interceptor.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideContainerView.swift
  apps/react-native/ios/FRW/Services/Manager/Alert/AlertCenter.swift
  apps/react-native/ios/FRW/Services/Manager/Alert/SurgePricingAlertView.swift
Due: none

fix: clean up unused code
  .github/workflows/android.yml
Due: prettier --write

ci: update android ci for attachment download
  .github/workflows/android.yml
Due: prettier --write

Update build.gradle
  app/build.gradle
Due: none

ci: update android ci settings
  scripts/release-notes/sanitize_notes.sh
Due: none

fix build error
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideContainerView.swift
  apps/react-native/ios/FRW/Services/Manager/Alert/AlertOverlayView.swift
Due: none

ci: update and release note with manual entrance
  .github/workflows/release-notes.yml
  scripts/release-notes/collect_commits.sh
Due: prettier --write

fix: update scripts base on feedback
  scripts/release-notes/collect_commits.sh
Due: none

ci: update release note scripts
  scripts/release-notes/collect_commits.sh
  scripts/release-notes/generate_with_ai.sh
Due: none

ci: update release scripts
  .github/workflows/release-notes.yml
  scripts/release-notes/collect_commits.sh
  scripts/release-notes/generate_with_ai.sh
Due: prettier --write

ci: update release note script
  .github/workflows/release-notes.yml
  scripts/release-notes/collect_commits.sh
Due: prettier --write
