Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

feat: update swap
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Define/AppUrl.swift
  apps/react-native/ios/FRW/Foundation/Model/TokenModel+Action.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager+Getter.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap.swift
Due: none

feat: dump version to 3.0.10
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
Due: none

fix: update error check and swap evm token address
  apps/extension/src/ui/components/import-components/KeyImport.tsx
  apps/extension/src/ui/components/import-components/PdfUpload.tsx
  apps/extension/src/ui/utils/url-constants.ts
  apps/extension/src/ui/views/TokenDetail/TokenInfoCard.tsx
Due: eslint --cache --fix, prettier --write

feat: update project
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
Due: none

feat: remove space
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/Core/ProfileManager.swift
Due: none

feat: add line
  apps/react-native/ios/FRW/Modules/Profile/ProfileView.swift
Due: none

feat: update lock
  apps/react-native/ios/Podfile.lock
Due: none

feat: update package and ios hash
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: bar item on iOS 26
  apps/react-native/ios/FRW/Modules/Wallet/TokenDetail/TokenDetailView.swift
Due: none

Fix CodeQL autobuild with custom build steps
  apps/react-native/ios/.github/workflows/code-analysis.yml
Due: prettier --write

Simplify CodeQL build to use xcodeproj instead of workspace
  apps/react-native/ios/.github/workflows/code-analysis.yml
Due: prettier --write

Fix xcodebuild architecture conflict in CodeQL workflow
  apps/react-native/ios/.github/workflows/code-analysis.yml
Due: prettier --write

Temporarily disable CodeQL workflow
  apps/react-native/ios/.github/workflows/code-analysis.yml.disabled
Due: none

feat: migration script test
  apps/extension/package.json
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/ui/views/Setting/Migration/index.tsx
  apps/extension/tsconfig.json
  packages/cadence/src/index.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/migration/package.json
  packages/migration/src/index.ts
  packages/screens/package.json
  packages/screens/src/migration/MigrationScreen.query.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: migration ui
  packages/screens/src/migration/MigrationScreen.query.tsx
  packages/ui/src/components/migration/MigrationAssetDrawer.tsx
  packages/ui/src/components/migration/MigrationProgressBar.tsx
Due: eslint --cache --fix, prettier --write

feat: update transaction debug and fix input
  apps/extension/src/bridge/PlatformContext.tsx
  packages/migration/src/index.ts
  packages/migration/src/utils/index.ts
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: add sctipts for add keys and revoke keys
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Base/add_and_revoke_keys.cdc
Due: eslint --cache --fix, prettier --write

feat: add new icons
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/icons/assets/link_backup.svg
  packages/icons/assets/lock_backup.svg
  packages/icons/assets/settings.svg
  packages/icons/src/react-native/LinkBackup.generated.tsx
  packages/icons/src/react-native/LockBackup.generated.tsx
  packages/icons/src/react-native/Settings.generated.tsx
  packages/icons/src/web/LinkBackup.generated.tsx
  packages/icons/src/web/LockBackup.generated.tsx
  packages/icons/src/web/Settings.generated.tsx
Due: eslint --cache --fix, prettier --write

feat: blocto migration ui
  packages/screens/src/locales/en.json
Due: prettier --write

feat: blocto migration ui
  packages/screens/src/hooks/index.ts
  packages/screens/src/hooks/use-copy-to-clipboard.ts
  packages/screens/src/index.ts
  packages/ui/src/components/onboarding/MnemonicGrid.tsx
Due: eslint --cache --fix, prettier --write

feat: blocto migration ui
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

feat: blocto migration ui
  packages/ui/src/components/onboarding/TipCard.tsx
Due: eslint --cache --fix, prettier --write

feat: blocto migration ui
  packages/screens/src/backup/BackupMnemonicScreen.query.tsx
  packages/screens/src/backup/BackupTipScreen.query.tsx
  packages/screens/src/backup/backup.types.ts
  packages/screens/src/backup/index.ts
  packages/screens/src/locales/en.json
Due: eslint --cache --fix, prettier --write

feat: add key rotation workflow
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Base/add_and_revoke_keys.cdc
  packages/context/src/ServiceContext.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/context/src/interfaces/caching/index.ts
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/index.generated.ts
  packages/screens/src/index.ts
  packages/types/src/KeyRotation.ts
  packages/types/src/index.ts
  packages/utils/src/index.ts
  packages/utils/src/seed.util.ts
  packages/workflow/package.json
  packages/workflow/src/index.ts
  packages/workflow/src/key-rotation/blocto-detector.ts
  packages/workflow/src/key-rotation/index.ts
  packages/workflow/src/key-rotation/key-rotation.ts
  packages/workflow/src/key-rotation/types/index.ts
  packages/workflow/tests/blocto-detector.service.test.ts
  packages/workflow/tests/key-rotation.test.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: add new backup and settings icons
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/index.generated.ts
Due: eslint --cache --fix, prettier --write

fix: add missing icons and fix build isssue
  packages/icons/assets/lock.svg
  packages/icons/assets/reveal-phrase.svg
  packages/icons/assets/shield-off.svg
  packages/icons/assets/shield.svg
  packages/icons/assets/warning.svg
  packages/icons/src/react-native/Lock.generated.tsx
  packages/icons/src/react-native/RevealPhrase.generated.tsx
  packages/icons/src/react-native/Shield.generated.tsx
  packages/icons/src/react-native/ShieldOff.generated.tsx
  packages/icons/src/react-native/Warning.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/Lock.generated.tsx
  packages/icons/src/web/RevealPhrase.generated.tsx
  packages/icons/src/web/Shield.generated.tsx
  packages/icons/src/web/ShieldOff.generated.tsx
  packages/icons/src/web/Warning.generated.tsx
  packages/icons/src/web/index.generated.ts
  packages/screens/package.json
  packages/screens/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: transaction and coa connect
  app/src/main/java/com/flowfoundation/wallet/manager/evm/DAppEVMConnectionManager.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/handlers/AccountBridgeHandler.kt
Due: none

fix: show transaction fee
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: native bridge implementation
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/BridgeModels.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
Due: none

feat: keyrotation bridge
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/ui/components/AccountMigrationBanner.tsx
  apps/extension/src/ui/components/account-menu/MenuDrawer.tsx
  apps/extension/src/ui/components/account/account-listing.tsx
  apps/extension/src/ui/components/account/account-migration-card.tsx
  apps/extension/src/ui/hooks/use-key-rotation-check.ts
  apps/extension/src/ui/views/InnerRoute.tsx
  apps/extension/src/ui/views/KeyRotation/index.tsx
  apps/extension/src/ui/views/Setting/AccountList/index.tsx
  packages/context/src/interfaces/PlatformSpec.ts
Due: eslint --cache --fix, prettier --write

feat: local
  apps/react-native/ios/FRW/Modules/Wallet/TokenDetail/TokenDetailView.swift
  apps/react-native/ios/FRW/Resource/en.lproj/Localizable.strings
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
  node scripts/optimize-images.js: any of: *.{png,jpg,jpeg,gif,webp}
