Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

docs: update readme remove the package overview
  README.md
  docs/ARCHITECTURE.md
Due: prettier --write

fix: use await to get keyid
  apps/extension/src/bridge/PlatformImpl.ts
  packages/ui/src/components/TransactionConfirmationModal.tsx
Due: eslint --cache --fix, prettier --write

fix: fetch accessible list after switch account on page
  apps/react-native/src/screens/Send/SelectTokens/SelectTokensScreen.tsx
  apps/react-native/src/screens/Send/SelectTokens/store/AccessibleAssetStore.ts
Due: eslint --cache --fix, prettier --write

feat: add circleci-config.yml
  circleci-config.yml
Due: prettier --write

fix: the data is error when switch account on top card
  apps/react-native/src/screens/Send/SelectTokens/SelectTokensScreen.tsx
  packages/services/src/NFTService.ts
  packages/services/src/TokenService.ts
Due: eslint --cache --fix, prettier --write

ci: improve lint performance with ESLint caching
  .github/workflows/lint.yml
Due: prettier --write

fix: resolve TypeScript project parsing errors in ESLint
  eslint.config.mjs
  packages/workflow/tsconfig.json
Due: eslint --cache --fix, prettier --write

revert: remove --cache flag from lint workflow
  .github/workflows/lint.yml
Due: prettier --write

fix: comprehensive ESLint TypeScript project parsing fixes
  eslint.config.mjs
Due: eslint --cache --fix, prettier --write

fix: resolve TypeScript project references issue in ESLint
  eslint.config.mjs
  tsconfig.eslint.json
Due: eslint --cache --fix, prettier --write

fix: exclude extension e2e tests from TypeScript project
  eslint.config.mjs
Due: eslint --cache --fix, prettier --write

fix: add .svgrrc.js to ESLint config file patterns
  eslint.config.mjs
Due: eslint --cache --fix, prettier --write

fix: exclude .svgrrc.js from packages TypeScript project
  eslint.config.mjs
Due: eslint --cache --fix, prettier --write

fix: exclude all package scripts from TypeScript project
  eslint.config.mjs
Due: eslint --cache --fix, prettier --write

feat: implement progressive loading for SendConfirmationAnimation with iOS optimization
  apps/react-native/src/components/ui/animations/SendConfirmationAnimation.tsx
  apps/react-native/src/utils/lottie-image-injection.ts
Due: eslint --cache --fix, prettier --write

chore: bump lottie rn version
  apps/react-native/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: replace btoa and atob with buffer
  apps/react-native/src/lib/storage.ts
Due: eslint --cache --fix, prettier --write

feat: add token.priceInCurrency in card
  apps/react-native/src/components/ui/cards/TokenCard.tsx
Due: eslint --cache --fix, prettier --write

fix: currency get error
  apps/react-native/src/screens/Send/SelectTokens/SelectTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: resolve missing i18n translation keys across all locales
  apps/react-native/src/components/ui/modals/AccountSelectorModal.tsx
  apps/react-native/src/locales/es.json
  apps/react-native/src/locales/ja.json
  apps/react-native/src/locales/ru.json
  apps/react-native/src/locales/zh.json
Due: eslint --cache --fix, prettier --write

fix: sidebar rendering accounts
  app/src/main/java/com/flowfoundation/wallet/bridge/NativeFRWBridge.kt
  app/src/main/java/com/flowfoundation/wallet/manager/wallet/WalletManager.kt
Due: none

feat: update confirmation page with nft item
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/MultipleNFTsPreview.tsx
  packages/ui/src/components/TransactionConfirmationModal.tsx
Due: eslint --cache --fix, prettier --write

feat: update confirmation transaction
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/MultipleNFTsPreview.tsx
Due: eslint --cache --fix, prettier --write

fix: fix select state error
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/ui/views/NFTScreen/NFTListScreen.tsx
  packages/screens/src/send/NFTListScreen.tsx
Due: eslint --cache --fix, prettier --write

feat: add tanquery lib
  apps/react-native/package.json
  apps/react-native/src/App.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  docs/TANSTACK_QUERY_GUIDE.md
  packages/context/package.json
  packages/context/src/QueryClientManager.ts
  packages/context/src/index.ts
  packages/context/src/interfaces/storage/StorageKeyMap.ts
  packages/screens/package.json
  packages/screens/src/index.ts
  packages/screens/src/providers/QueryProvider.tsx
  packages/screens/src/send/SelectTokensScreen.query.tsx
  packages/stores/package.json
  packages/stores/src/addressBookStore.query.ts
  packages/stores/src/index.ts
  packages/stores/src/tokenStore.query.ts
  packages/types/src/index.ts
  packages/types/src/query/QueryDomain.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: package build error
  packages/context/src/QueryClientManager.ts
  packages/context/src/index.ts
  packages/stores/src/addressBookStore.query.ts
  packages/stores/src/tokenStore.query.ts
  packages/types/src/query/QueryDomain.ts
Due: eslint --cache --fix, prettier --write

feat: add cache
  CLAUDE.md
  apps/react-native/package.json
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/ReactNativeNavigation.ts
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/storage/AsyncStorageCache.ts
  apps/react-native/src/storage/AsyncStorageImpl.ts
  apps/react-native/src/storage/index.ts
  docs/ARCHITECTURE.md
  docs/TANSTACK_QUERY_GUIDE.md
  packages/context/src/QueryClientManager.ts
  packages/context/src/ServiceContext.ts
  packages/context/src/index.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/context/src/interfaces/storage/README.md
  packages/context/src/interfaces/storage/Storage.ts
  packages/context/src/interfaces/storage/StorageKeyMap.ts
  packages/screens/src/index.ts
  packages/screens/src/send/SelectTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: using img on ui is not allowed
  packages/ui/src/foundation/Avatar.tsx
Due: eslint --cache --fix, prettier --write

fix: update pnpm lock file
  pnpm-lock.yaml
Due: prettier --write

fix: debug animation
  apps/react-native/src/assets/animations/send-confirmation-noblur.json
  apps/react-native/src/components/ui/animations/SendConfirmationAnimation.tsx
  apps/react-native/src/screens/Send/Confirmation/components/AccountTransferDisplay.tsx
Due: eslint --cache --fix, prettier --write

feat: add debugger
  apps/react-native/package.json
  apps/react-native/src/App.tsx
  apps/react-native/src/components/QueryDebugger.tsx
  apps/react-native/src/screens/Home/HomeScreen.tsx
  packages/context/src/QueryClientManager.ts
  packages/context/src/index.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: add missing caching files
  packages/context/src/ServiceContext.ts
  packages/context/src/index.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/context/src/interfaces/caching/Cache.ts
  packages/context/src/interfaces/caching/index.ts
Due: eslint --cache --fix, prettier --write

fix: light mode
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/components/ConfirmationDrawerContent.tsx
  apps/react-native/src/components/NFTList/BottomConfirmBar.tsx
  apps/react-native/src/components/ui/animations/SendConfirmationAnimation.tsx
  apps/react-native/src/contexts/ThemeContext.tsx
  apps/react-native/src/global.css
  apps/react-native/src/screens/Send/Confirmation/components/AccountCard.tsx
  apps/react-native/src/screens/Send/Confirmation/components/HoldToSendButton.tsx
  apps/react-native/src/screens/Send/Confirmation/components/TransactionDetailsCard.tsx
  apps/react-native/src/screens/Send/SendNFT/SendMultipleNFTsScreen.tsx
  apps/react-native/src/screens/Send/SendNFT/SendSingleNFTScreen.tsx
  apps/react-native/src/screens/Send/SendTokens/SendTokensScreen.tsx
  apps/react-native/src/screens/Send/SendTokens/components/TokenAmountInput.tsx
  apps/react-native/src/screens/Send/shared/components/AccountCard.tsx
  apps/react-native/src/screens/Send/shared/components/ContentContainer.tsx
  apps/react-native/src/screens/Send/shared/components/DownArrowButton.tsx
  apps/react-native/src/screens/Send/shared/components/SendButton.tsx
Due: eslint --cache --fix, prettier --write

fix: light mode
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/contexts/ThemeContext.tsx
Due: eslint --cache --fix, prettier --write

fix: enable e2e
  .github/workflows/extension-build.yml
Due: prettier --write

fix: add cache
  apps/extension/src/bridge/ExtensionCache.ts
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/ui/views/index.tsx
Due: eslint --cache --fix, prettier --write

fix: codepush bundleURL error (#1667)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/App/AppDelegate.swift
Due: none

feat: add nft detail page router with localsotrage
  apps/extension/src/ui/components/NFTs/GridView.tsx
  apps/extension/src/ui/views/InnerRoute.tsx
  apps/extension/src/ui/views/NFTScreen/NFTDetailScreen.tsx
  packages/screens/src/send/SelectTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: android ui text alignment
  apps/react-native/components.json
  apps/react-native/package.json
  apps/react-native/src/components/NFTList/NFTListCard.tsx
  apps/react-native/src/components/ui/cards/ToAccountSection.tsx
  apps/react-native/src/components/ui/cards/TokenCard.tsx
  apps/react-native/src/components/ui/cards/WalletAccountSection.tsx
  apps/react-native/src/components/ui/feedback/StorageWarning.tsx
  apps/react-native/src/components/ui/forms/SlidingTabs.tsx
  apps/react-native/src/components/ui/media/ContactAvatar.tsx
  apps/react-native/src/components/ui/media/WalletAvatar.tsx
  apps/react-native/src/components/ui/text.tsx
  apps/react-native/src/lib/androidTextFix.ts
  apps/react-native/src/screens/NFTList/NFTListScreen.tsx
  apps/react-native/src/screens/Send/Confirmation/components/AccountCard.tsx
  apps/react-native/src/screens/Send/Confirmation/components/HoldToSendButton.tsx
  apps/react-native/src/screens/Send/Confirmation/components/NFTDisplayGrid.tsx
  apps/react-native/src/screens/Send/SendNFT/SendSingleNFTScreen.tsx
  apps/react-native/src/screens/Send/SendTo/components/RecipientTabs.tsx
  apps/react-native/src/screens/Send/SendTo/components/renderHelpers.tsx
  apps/react-native/src/screens/Send/shared/components/AccountCard.tsx
  apps/react-native/src/screens/Send/shared/components/MultipleNFTsPreview.tsx
  apps/react-native/src/screens/Send/shared/components/NFTPreview.tsx
  apps/react-native/src/screens/Send/shared/components/SendButton.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
