Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

fix: remove payer address prefix
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/transaction/Transaction.kt
Due: none

feat: add addressbook alert
  apps/extension/src/ui/views/index.tsx
  apps/react-native/src/components/NavigationBackButton.tsx
  apps/react-native/src/components/NavigationCloseButton.tsx
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/send/SendToScreen.query.tsx
  packages/ui/src/components/AddContactDialog.tsx
  packages/ui/src/components/RecipientItem.tsx
  packages/ui/src/components/RecipientList.tsx
  packages/ui/src/foundation/IconButton.tsx
  packages/ui/src/foundation/Input.tsx
Due: eslint --cache --fix, prettier --write

adding sast-sca
  .github/workflows/code-analysis.yml
  .github/workflows/dependency-review.yml
Due: prettier --write

fix: incorrect bridge
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
Due: none

feat: add missing import to avoid crash
  packages/screens/src/send/NFTDetailScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: update native bridge for toast
  apps/react-native/src/bridge/NativeFRWBridge.ts
  packages/screens/src/send/SendToScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: update native bridge
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/Podfile.lock
Due: none

fix: sign payer host
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/WalletConnectRequestDispatcher.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/webview/fcl/FclMessageHandler.kt
Due: none

feat: hide surge section if is personal sign
  apps/extension/src/ui/views/Approval/components/EthApproval/EthConfirm/index.tsx
Due: eslint --cache --fix, prettier --write

ci: update version
  gradle.properties
Due: none

feat: apply missing eth function for dapp
  apps/extension/src/background/controller/provider/controller.ts
  apps/extension/src/background/controller/provider/internalMethod.ts
  apps/extension/src/content-script/pageProvider/eth/index.ts
  apps/extension/src/core/service/signTextHistory.ts
Due: eslint --cache --fix, prettier --write

test: change ft test case
  packages/workflow/tests/send.ft.test.ts
Due: eslint --cache --fix, prettier --write

feat: setup receive page
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/ReceiveScreenWrapper.tsx
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/index.ts
  packages/screens/src/locales/en.json
  packages/screens/src/receive/ReceiveScreen.query.tsx
  packages/stores/src/index.ts
  packages/stores/src/receiveStore.ts
Due: eslint --cache --fix, prettier --write

feat: setup receive page
  packages/screens/src/locales/en.json
  packages/screens/src/receive/ReceiveScreen.query.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/types/index.ts
Due: eslint --cache --fix, prettier --write

feat: setup receive page
  apps/react-native/src/App.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/ReceiveScreenWrapper.tsx
  apps/react-native/src/screens/SendToScreenWrapper.tsx
Due: eslint --cache --fix, prettier --write

feat: setup receive page
  packages/screens/package.json
  packages/screens/src/assets/flow-logo.webp
  packages/screens/src/receive/ReceiveScreen.query.tsx
  packages/stores/src/receiveStore.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: setup receive page
  packages/screens/package.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  pnpm-lock.yaml
Due: prettier --write

feat: feedback
  apps/react-native/src/components/ErrorBoundary.tsx
  apps/react-native/src/utils/errorHandling.ts
  packages/screens/src/error/CriticalErrorFallback.tsx
  packages/screens/src/error/GenericErrorFallback.tsx
  packages/screens/src/error/NetworkErrorFallback.tsx
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: eslint --cache --fix, prettier --write

feat: feedback
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/utils/errorHandling.ts
Due: eslint --cache --fix, prettier --write

chore: clean up
  apps/react-native/src/components/error/CriticalErrorFallback.tsx
  apps/react-native/src/components/error/GenericErrorFallback.tsx
  apps/react-native/src/components/error/NetworkErrorFallback.tsx
Due: eslint --cache --fix, prettier --write

chore: simplify debug logs
  apps/react-native/src/utils/errorHandling.ts
Due: eslint --cache --fix, prettier --write

chore: simplify debug logs
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

feat: add eoa call scripts
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/EVM/transaction/eoa_call_contract.cdc
  packages/workflow/tests/send.nft.test.ts
  packages/workflow/tests/utils/accounts.ts
  packages/workflow/tests/utils/authz.ts
Due: eslint --cache --fix, prettier --write

feat: dapp using flow evm with eoa address
  apps/extension/package.json
  apps/extension/src/background/controller/provider/controller.ts
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/core/service/keyring/index.ts
  apps/extension/src/core/service/transactions.ts
Due: eslint --cache --fix, prettier --write

fix: remove transaction hash calculation
  apps/extension/src/background/controller/provider/controller.ts
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/transactions.ts
Due: eslint --cache --fix, prettier --write

feat: register flow account for eoa imported from eth wallet
  apps/extension/_raw/_locales/en/messages.json
  apps/extension/_raw/_locales/ja/messages.json
  apps/extension/_raw/_locales/ru/messages.json
  apps/extension/_raw/_locales/zh_CN/messages.json
  apps/extension/src/messages.json
  apps/extension/src/reducers/register-reducer.ts
  apps/extension/src/ui/components/PopupModal/errorModel.tsx
  apps/extension/src/ui/components/import-components/ImportTabs.tsx
  apps/extension/src/ui/views/Welcome/Register/index.tsx
  apps/extension/src/ui/views/Welcome/import-profile/index.tsx
Due: eslint --cache --fix, prettier --write

feat: receive screen styling
  packages/icons/src/web/ChevronRight.generated.tsx
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/receive/ReceiveScreen.query.tsx
  packages/ui/src/components/AccountSelector.tsx
Due: eslint --cache --fix, prettier --write

feat: receive screen styling
  packages/screens/src/receive/ReceiveScreen.query.tsx
  packages/ui/src/components/AccountSelector.tsx
Due: eslint --cache --fix, prettier --write

feat: receive screen styling
  packages/screens/package.json
  packages/screens/src/receive/ReceiveScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: refine ui
  apps/react-native/package.json
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/screens/src/receive/ReceiveScreen.query.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: refine ui
  packages/screens/src/assets/flow-logo.webp
  packages/screens/src/receive/ReceiveScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: refine ui
  packages/screens/src/receive/ReceiveScreen.query.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
