Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: update navbar backgroundColor
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

fix: padding on ‘Send To’ page
  apps/react-native/src/screens/Send/SendTo/SendToScreen.tsx
  apps/react-native/src/screens/Send/SendTo/components/RecipientContent.tsx
Due: eslint --cache --fix, prettier --write

fix: debug build - Android 36
  build.gradle
Due: none

feat: summary to translation
  apps/react-native/src/screens/Send/Confirmation/components/ConfirmationHeader.tsx
Due: eslint --cache --fix, prettier --write

feat: minHeight to 640
  apps/react-native/src/components/ConfirmationBottomSheet.tsx
Due: eslint --cache --fix, prettier --write

fix: send evm
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/send/SelectTokensScreen.tsx
  packages/screens/src/send/SendTokensScreen.tsx
  packages/screens/src/types/index.ts
Due: eslint --cache --fix, prettier --write

fix: remove unused props
  apps/extension/src/ui/views/SendTokensScreen/index.tsx
Due: eslint --cache --fix, prettier --write

fix: drawer
  apps/react-native/package.json
  apps/react-native/src/components/ui/animations/SendConfirmationAnimation.tsx
  apps/react-native/src/components/ui/layout/skeleton.tsx
  apps/react-native/src/components/ui/modals/AccountSelectorModal.tsx
  apps/react-native/src/components/ui/modals/TokenSelectorModal.tsx
  apps/react-native/src/screens/Send/SelectTokens/SelectTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: the mask covers the content area
  apps/react-native/src/screens/NFTDetail/NFTDetailScreen.tsx
  apps/react-native/src/screens/NFTList/NFTListScreen.tsx
Due: eslint --cache --fix, prettier --write

feat: shrink the bottom bar when the mask layer is clicked
  apps/react-native/src/components/NFTList/BottomConfirmBar.tsx
  apps/react-native/src/screens/NFTDetail/NFTDetailScreen.tsx
  apps/react-native/src/screens/NFTList/NFTListScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: update functions
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/ui/views/SendTokensScreen/index.tsx
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: display the nft in select screen
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/background/index.ts
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/bridge/PlatformImpl.ts
  packages/screens/src/send/SelectTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

feat: stash commit
  apps/extension/src/bridge/PlatformImpl.ts
  packages/screens/src/send/NFTListScreen.tsx
  packages/screens/src/send/SelectTokensScreen.tsx
  packages/ui/src/components/NFTCard.tsx
  packages/ui/src/components/NFTGrid.tsx
  packages/ui/src/components/SearchableTabLayout.tsx
Due: eslint --cache --fix, prettier --write

fix: update collection structure
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/ui/views/SelectTokensScreenView/index.tsx
Due: eslint --cache --fix, prettier --write

feat: add extension header
  packages/screens/src/send/NFTListScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: fix header colors and overlays
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/NFTDetail/NFTDetailScreen.tsx
  apps/react-native/src/screens/NFTList/NFTListScreen.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: improve theme usage
  apps/react-native/src/screens/Send/SendTo/components/AddressSearchBox.tsx
  apps/react-native/src/screens/Send/SendTokens/components/TokenAmountInput.tsx
  apps/react-native/src/screens/Send/shared/components/SectionDivider.tsx
Due: eslint --cache --fix, prettier --write

feat: replace animation
  apps/react-native/src/assets/animations/send-confirmation-dynamic.json
  apps/react-native/src/components/ui/animations/AnimationErrorBoundary.tsx
  apps/react-native/src/components/ui/animations/SendConfirmationAnimation.tsx
  apps/react-native/src/components/ui/animations/SendConfirmationAnimationSimple.tsx
  apps/react-native/src/utils/lottie-image-injection.ts
Due: eslint --cache --fix, prettier --write

feat: replace animation
  apps/react-native/src/components/ui/animations/SendConfirmationAnimationSimple.tsx
Due: eslint --cache --fix, prettier --write

feat: replace animation
  apps/react-native/src/components/ui/animations/SendConfirmationAnimation.tsx
Due: eslint --cache --fix, prettier --write

fix: debug gesture handler (#1573)
  app/build.gradle
  build.gradle
  gradle.properties
Due: none

feat: update for merge
  apps/extension/src/ui/views/SendTokensScreen/index.tsx
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/ToAccountSection.tsx
Due: eslint --cache --fix, prettier --write

feat: update loading
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

feat: update instabug reactnative version to 15.0.3
  apps/react-native/package.json
Due: prettier --write

Six/localized (#1638)
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Modules/Wallet/Send/WalletSendAmountViewModel.swift
  apps/react-native/ios/main.jsbundle
Due: none

feat: add the mock multiple transaction in the sendtoken screen
  apps/extension/src/ui/views/InnerRoute.tsx
  packages/screens/src/send/SelectTokensScreen.tsx
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/TransactionConfirmationModal.tsx
Due: eslint --cache --fix, prettier --write

relocate react native class position
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/flowfoundation/wallet/ReactNativeDemoActivity.java
  app/src/main/java/com/flowfoundation/wallet/page/address/AddressBookViewModel.kt
  app/src/main/java/com/flowfoundation/wallet/page/address/presenter/AddressBookPersonPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/browser/presenter/BrowserPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/component/deeplinking/Utils.kt
  app/src/main/java/com/flowfoundation/wallet/page/nft/nftdetail/presenter/NftDetailPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/scan/Utils.kt
  app/src/main/java/com/flowfoundation/wallet/page/send/transaction/presenter/TransactionSendPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/token/detail/presenter/TokenDetailPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/wallet/dialog/MoveDialog.kt
  app/src/main/java/com/flowfoundation/wallet/page/wallet/presenter/WalletHeaderPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/FlowWalletApplication.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/ReactNativeActivity.kt
Due: none

fix: remove unused nft route
  apps/extension/src/ui/views/InnerRoute.tsx
Due: eslint --cache --fix, prettier --write

chore: add store for nfts
  packages/screens/src/send/NFTListScreen.tsx
Due: eslint --cache --fix, prettier --write

relocate react native bridge
  app/src/main/AndroidManifest.xml
  app/src/main/assets/index.android.bundle
  app/src/main/java/com/flowfoundation/wallet/page/browser/presenter/BrowserPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/component/deeplinking/Utils.kt
  app/src/main/java/com/flowfoundation/wallet/page/nft/nftdetail/presenter/NftDetailPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/token/detail/presenter/TokenDetailPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/wallet/dialog/MoveDialog.kt
  app/src/main/java/com/flowfoundation/wallet/page/wallet/presenter/WalletHeaderPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/FlowWalletApplication.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/ReactNativeActivity.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/BridgeModels.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/BridgeUtils.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridgePackage.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/QRCodeScanManager.kt
Due: none

remove all ar code
  app/build.gradle
  app/proguard-rules.pro
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/flowfoundation/wallet/page/ar/ArActivity.kt
  app/src/main/java/com/flowfoundation/wallet/page/ar/model/ArContentModel.kt
  app/src/main/java/com/flowfoundation/wallet/page/ar/presenter/ArContentPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/nft/nftdetail/NftDetailActivity.kt
  app/src/main/res/layout/activity_ar.xml
  app/src/main/res/menu/nft_detail.xml
Due: none

Update BridgeModels.kt
  app/src/main/java/com/flowfoundation/wallet/bridge/BridgeModels.kt
Due: none

fix: resolve extended interfaces in bridge codegen for local packages
  apps/react-native/scripts/bridge-codegen.js
Due: eslint --cache --fix, prettier --write

fix: make nft transaction with real data
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

Update BridgeModels.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/BridgeModels.kt
Due: none

fix: update android codegen data model position
  apps/react-native/package.json
  apps/react-native/scripts/bridge-codegen.js
Due: eslint --cache --fix, prettier --write

chore: update select bar styles
  packages/screens/src/send/NFTListScreen.tsx
  packages/ui/src/components/NFTSelectionBar.tsx
Due: eslint --cache --fix, prettier --write

feat: redesign storage with storage map
  eslint.config.mjs
  packages/context/src/ServiceContext.ts
  packages/context/src/index.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/context/src/interfaces/Storage.ts
  packages/context/src/interfaces/storage/README.md
  packages/context/src/interfaces/storage/Storage.ts
  packages/context/src/interfaces/storage/StorageKeyMap.ts
Due: eslint --cache --fix, prettier --write

refactor: improve Storage interface with type-safe key-value system
  packages/context/src/ServiceContext.ts
  packages/context/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: update Storage interface to use async operations
  .claude/settings.local.json
  packages/context/src/interfaces/storage/README.md
  packages/context/src/interfaces/storage/Storage.ts
  packages/context/src/interfaces/storage/StorageKeyMap.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
