Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

chore: Update pull_request_template.md
  .github/pull_request_template.md
Due: prettier --write

feat: apply build name in ci cd run
  .github/workflows/extension-build.yml
  apps/extension/build/webpack.dev.config.ts
  apps/extension/build/webpack.pro.config.ts
  apps/extension/src/ui/views/Setting/About/About.tsx
Due: eslint --cache --fix, prettier --write

fix: use tooltip to display build number in about page, add build number in script
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/ui/views/Setting/About/About.tsx
Due: eslint --cache --fix, prettier --write

fix: use address to generate index for emoji
  apps/extension/src/core/service/userWallet.ts
Due: eslint --cache --fix, prettier --write

Update ci_post_xcodebuild.sh
  apps/react-native/ios/ci_scripts/ci_post_xcodebuild.sh
Due: none

chore: update ios release note
  .github/workflows/check-linked-issues.yml
Due: prettier --write

feat: add address from recent
  apps/extension/build/webpack.common.config.ts
  packages/screens/package.json
  packages/screens/src/send/SendToScreen.query.tsx
  packages/ui/src/components/RecipientItem.tsx
  packages/ui/src/components/RecipientList.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

ci: update iOS default branch to dev
  .gitmodules
Due: none

feat: fetch childs and coa info before bridge
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
Due: none

fix: seperator width
  packages/ui/src/components/RecipientList.tsx
Due: eslint --cache --fix, prettier --write

fix: use theme variable
  packages/ui/src/components/RecipientItem.tsx
Due: eslint --cache --fix, prettier --write

test: update test scripts
  apps/extension/e2e/transaction/cadence-transaction.test.ts
  apps/extension/e2e/transaction/nft-transaction.test.ts
  apps/extension/e2e/utils/helper.ts
Due: eslint --cache --fix, prettier --write

chore: update scripts
  .github/workflows/balance-monitor.yml
Due: prettier --write

feat: use one single sendnftscreen
  apps/extension/src/ui/views/InnerRoute.tsx
  packages/screens/src/index.ts
  packages/screens/src/send/SendNFTScreen.query.tsx
Due: eslint --cache --fix, prettier --write

chore: enforce branch issue number via hook
  .husky/prepare-commit-msg
Due: none

docs: update branch naming policy and examples
  CLAUDE.md
  docs/CONTRIBUTING.md
Due: prettier --write

ci: derive TestFlight notes from merge titles; use PR title as issue title; drop GitHub API calls
  apps/react-native/ios/ci_scripts/ci_post_xcodebuild.sh
Due: none

docs: add AGENTS.md contributor guide; update iOS CI notes parsing policy
  AGENTS.md
  docs/iOS-CI-CD.md
Due: prettier --write

ci: update ios commit hash
  .claude/settings.local.json
Due: prettier --write

ci: merge verify-linked-issue into auto-link workflow; skip maintenance branches
  .github/workflows/auto-link-issue.yml
  .github/workflows/check-linked-issues.yml
Due: prettier --write

ci: auto-link replaces placeholder or inserts under Related Issues
  .github/pull_request_template.md
  .github/workflows/auto-link-issue.yml
Due: prettier --write

ci: align workflow/job names with previous VerifyIssue check to preserve branch protections
  .github/workflows/auto-link-issue.yml
Due: prettier --write

ci: replace third-party verify with github-script; refetch PR and match branch issue in body
  .github/workflows/auto-link-issue.yml
Due: prettier --write

feat: add lucide icon
  packages/ui/package.json
  packages/ui/src/components/RecipientItem.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: update icon add address check
  packages/icons/assets/user-round-plus.svg
  packages/icons/src/react-native/UserRoundPlus.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/UserRoundPlus.generated.tsx
  packages/icons/src/web/index.generated.ts
  packages/screens/src/send/SendToScreen.query.tsx
  packages/ui/package.json
  packages/ui/src/components/RecipientItem.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: use button
  packages/ui/src/components/RecipientItem.tsx
Due: eslint --cache --fix, prettier --write

fix: button display
  packages/ui/src/components/RecipientItem.tsx
Due: eslint --cache --fix, prettier --write

fix: feedback
  apps/react-native/src/App.tsx
  apps/react-native/src/components/NavigationBackButton.tsx
  apps/react-native/src/screens/SendScreenWrappers.tsx
  packages/screens/src/assets/images.ts
  packages/screens/src/send/NFTDetailScreen.query.tsx
  packages/screens/src/send/NFTListScreen.query.tsx
  packages/stores/src/addressBookStore.query.ts
  packages/stores/src/walletStore.ts
  packages/ui/src/assets/images.ts
  packages/ui/src/assets/send_static.png
  packages/ui/src/components/ProfileList.tsx
  packages/ui/src/foundation/IconButton.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: feedback
  packages/ui/src/foundation/IconButton.tsx
Due: eslint --cache --fix, prettier --write

fix: feedback
  apps/react-native/src/components/NavigationCloseButton.tsx
  packages/ui/src/components/NFTSelectionBar.tsx
Due: eslint --cache --fix, prettier --write

fix: lint
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/send/SendMultipleNFTsScreen.query.tsx
  packages/screens/src/send/SendSingleNFTScreen.query.tsx
  packages/stores/src/addressBookStore.query.ts
  packages/ui/src/foundation/IconButton.tsx
Due: eslint --cache --fix, prettier --write

fix: lint
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

fix: lint
  apps/react-native/package.json
  packages/ui/package.json
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/LottieAnimation.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: lint
  apps/react-native/src/components/NavigationBackButton.tsx
  apps/react-native/src/components/NavigationCloseButton.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/foundation/IconButton.tsx
Due: eslint --cache --fix, prettier --write

chore: re-generate pnpm lock
  pnpm-lock.yaml
Due: prettier --write

chore: update test scripts
  apps/extension/e2e/transaction/cadence-transaction.test.ts
  apps/extension/e2e/transaction/ft-transaction.test.ts
Due: eslint --cache --fix, prettier --write

test: fix test errors
  apps/extension/e2e/transaction/ft-transaction.test.ts
Due: eslint --cache --fix, prettier --write
