Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: translation text added
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/send/SendMultipleNFTsScreen.query.tsx
  packages/screens/src/send/SendSingleNFTScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
Due: eslint --cache --fix, prettier --write

fix: update profile list ui
  packages/ui/src/components/ProfileList.tsx
  packages/ui/src/foundation/Avatar.tsx
  packages/ui/src/types/index.ts
Due: eslint --cache --fix, prettier --write

fix: remove seperator
  packages/ui/src/components/ProfileList.tsx
Due: eslint --cache --fix, prettier --write

chore: update Android assets and secure Maven credentials
  .kotlin/errors/errors-1756419679881.log
  .kotlin/errors/errors-1756427853679.log
  app/build.gradle
  app/src/main/assets/index.android.bundle
  app/src/main/res/drawable-mdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_backicon.png
  app/src/main/res/drawable-mdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_backiconmask.png
  app/src/main/res/drawable-mdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_clearicon.png
  app/src/main/res/drawable-mdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_closeicon.png
  app/src/main/res/drawable-mdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_searchicon.png
  app/src/main/res/drawable-mdpi/__packages_ui_src_assets_send_static.png
  app/src/main/res/drawable-mdpi/src_assets_images_send_static.png
  app/src/main/res/drawable-xhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_backicon.png
  app/src/main/res/drawable-xhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_clearicon.png
  app/src/main/res/drawable-xhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_closeicon.png
  app/src/main/res/drawable-xhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_searchicon.png
  app/src/main/res/drawable-xxhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_backicon.png
  app/src/main/res/drawable-xxhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_clearicon.png
  app/src/main/res/drawable-xxhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_closeicon.png
  app/src/main/res/drawable-xxhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_searchicon.png
  app/src/main/res/drawable-xxxhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_backicon.png
  app/src/main/res/drawable-xxxhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_clearicon.png
  app/src/main/res/drawable-xxxhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_closeicon.png
  app/src/main/res/drawable-xxxhdpi/__node_modules_pnpm_reactnavigationelements264_reactnavigationnative7117_reactnative0792_b_1d52e6bc98bbcd45757a282e8e25505a_node_modules_reactnavigation_elements_lib_module_assets_searchicon.png
  build.gradle
  settings.gradle
Due: none

ci: fix ci build issue on iOS due to lottie missing
  apps/react-native/package.json
  pnpm-lock.yaml
Due: prettier --write

update ci timezone
  apps/react-native/ios/ci_scripts/ci_post_xcodebuild.sh
Due: none

ci: add git submodule checks
  .github/workflows/submodule-validate.yml
  scripts/validate-submodules.sh
Due: prettier --write

feat: add toast component
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/send/SendMultipleNFTsScreen.query.tsx
  packages/screens/src/send/SendSingleNFTScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/Toast.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: merge the two send screen
  apps/extension/src/ui/views/InnerRoute.tsx
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/MultipleNFTsPreview.tsx
Due: eslint --cache --fix, prettier --write

fix: export summary
  packages/screens/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: delete old screens
  packages/screens/src/index.ts
  packages/screens/src/send/SendMultipleNFTsScreen.query.tsx
  packages/screens/src/send/SendSingleNFTScreen.query.tsx
Due: eslint --cache --fix, prettier --write

Revert "fix: delete old screens"
  packages/screens/src/index.ts
  packages/screens/src/send/SendMultipleNFTsScreen.query.tsx
  packages/screens/src/send/SendSingleNFTScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: evm token compatibility check
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

ci: validate submodule SHAs via tokenized fetch
  .github/workflows/submodule-validate.yml
  scripts/validate-submodules.sh
Due: prettier --write

fix: android issues
  packages/ui/src/components/RecipientItem.tsx
Due: eslint --cache --fix, prettier --write

fix: copy icon behavior
  packages/screens/src/send/SendToScreen.query.tsx
  packages/ui/src/components/AddressBookSection.tsx
  packages/ui/src/components/ToAccountSection.tsx
Due: eslint --cache --fix, prettier --write

fix: light mode
  apps/react-native/src/App.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/send/SelectTokensScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/AccountSelector.tsx
  packages/ui/src/foundation/IconButton.tsx
Due: eslint --cache --fix, prettier --write

fix: light mode
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/AccountSelector.tsx
  packages/ui/src/components/NFTCollectionRow.tsx
  packages/ui/src/foundation/SegmentedControl.tsx
  packages/ui/src/foundation/Separator.tsx
Due: eslint --cache --fix, prettier --write

fix: light mode
  packages/screens/src/send/SendToScreen.query.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/AccountSelector.tsx
  packages/ui/src/components/NFTCollectionRow.tsx
  packages/ui/src/components/RecipientList.tsx
  packages/ui/src/components/SearchBar.tsx
  packages/ui/src/components/SearchableTabLayout.tsx
Due: eslint --cache --fix, prettier --write

replace wallet kit with gradle package
  app/build.gradle
  build.gradle
  gradle.properties
  settings.gradle
Due: none

fix: light mode
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/AccountSelector.tsx
  packages/ui/src/components/AddressBookSection.tsx
  packages/ui/src/components/ProfileList.tsx
  packages/ui/src/components/RecipientItem.tsx
  packages/ui/src/components/SearchBar.tsx
  packages/ui/src/components/SearchableTabLayout.tsx
  packages/ui/src/foundation/Avatar.tsx
  packages/ui/src/types/index.ts
Due: eslint --cache --fix, prettier --write

ci: add android ci scripts
  .claude/settings.local.json
  .github/workflows/android.yml
  docs/Android-CI-CD.md
Due: prettier --write

fix: light mode
  packages/ui/src/components/AccountSelector.tsx
  packages/ui/src/components/AddressBookSection.tsx
  packages/ui/src/components/ProfileList.tsx
  packages/ui/src/components/RecipientItem.tsx
  packages/ui/src/components/RecipientList.tsx
  packages/ui/src/components/SearchBar.tsx
  packages/ui/src/components/SearchableTabLayout.tsx
  packages/ui/src/foundation/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

fix: android close button
  apps/react-native/src/components/NavigationCloseButton.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: check address with local recent and address book
  packages/screens/src/send/SendToScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: debugging android issues on dialogs
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/ToAccountSection.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: staking info update thread safety
  app/src/main/java/com/flowfoundation/wallet/page/wallet/WalletFragmentViewModel.kt
Due: none

fix: debugging android issues on dialogs
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/ToAccountSection.tsx
  packages/ui/src/components/TokenAmountInput.tsx
Due: eslint --cache --fix, prettier --write

fix: debugging android issues on dialogs
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/SendArrowDivider.tsx
  packages/ui/src/components/ToAccountSection.tsx
Due: eslint --cache --fix, prettier --write

fix: debugging android issues on dialogs
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: debugging android issues on dialogs
  packages/screens/src/send/SelectTokensScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/AddressBookSection.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/ProfileList.tsx
  packages/ui/src/components/SendArrowDivider.tsx
  packages/ui/src/components/ToAccountSection.tsx
  packages/ui/src/components/TokenAmountInput.tsx
  packages/ui/src/theme.ts
Due: eslint --cache --fix, prettier --write

fix: debugging android issues on dialogs
  packages/icons/src/react-native/FlowLogo.generated.tsx
  packages/icons/src/react-native/Minus.generated.tsx
  packages/icons/src/react-native/Plus.generated.tsx
  packages/icons/src/react-native/UserRoundPlus.generated.tsx
  packages/icons/src/web/FlowLogo.generated.tsx
  packages/icons/src/web/Minus.generated.tsx
  packages/icons/src/web/Plus.generated.tsx
  packages/icons/src/web/UserRoundPlus.generated.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/SendArrowDivider.tsx
Due: eslint --cache --fix, prettier --write

fix: debugging android issues on dialogs
  packages/screens/src/send/SelectTokensScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/SendArrowDivider.tsx
  packages/ui/src/components/ToAccountSection.tsx
  packages/ui/src/components/TokenAmountInput.tsx
  packages/utils/src/index.ts
  packages/utils/src/theme.ts
Due: eslint --cache --fix, prettier --write

fix: debugging android issues on dialogs
  packages/screens/src/send/SendToScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: debugging android issues on dialogs
  packages/ui/src/components/ConfirmationDrawer.tsx
Due: eslint --cache --fix, prettier --write

fix: debugging android issues on dialogs
  packages/ui/src/components/SendArrowDivider.tsx
Due: eslint --cache --fix, prettier --write

fix: debugging android issues on dialogs
  packages/screens/src/send/SelectTokensScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
