Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

feat: new access point
  apps/extension/src/core/utils/fclConfig.ts
  packages/cadence/src/index.ts
  packages/wallet/src/types/key.ts
  packages/wallet/src/types/network.ts
Due: eslint --cache --fix, prettier --write

chore: add senrty ip config
  apps/extension/src/background/sentry.ts
  apps/extension/src/ui/sentry-react.config.ts
Due: eslint --cache --fix, prettier --write

chore: update package config
  packages/analytics/package.json
  packages/api/package.json
  packages/cadence/package.json
Due: prettier --write

fix: logout issue when key is available but no profile
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
  apps/react-native/ios/Podfile.lock
Due: none

Bump version 3.0.11
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
Due: none

feat: revert podfile.lock
  apps/react-native/ios/Podfile.lock
Due: none

feat: replace coinbase url (#1989)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Buy/BuyProvderView.swift
  apps/react-native/ios/FRW/Modules/Profile/DeveloperMode/DeveloperModeView.swift
  apps/react-native/ios/FRW/Services/Network/FRW/FRWAPI+Utils.swift
Due: none

feat: add Blocto backup localization strings
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

feat: add new backup and settings icons
  packages/icons/assets/link_backup.svg
  packages/icons/assets/lock_backup.svg
  packages/icons/assets/settings.svg
  packages/icons/src/react-native/LinkBackup.generated.tsx
  packages/icons/src/react-native/LockBackup.generated.tsx
  packages/icons/src/react-native/Settings.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/LinkBackup.generated.tsx
  packages/icons/src/web/LockBackup.generated.tsx
  packages/icons/src/web/Settings.generated.tsx
  packages/icons/src/web/index.generated.ts
Due: eslint --cache --fix, prettier --write

fix: add missing error translations for backup mnemonic
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

feat: add Blocto recovery UI screens and components
  packages/screens/src/backup/BackupMnemonicScreen.query.tsx
  packages/screens/src/backup/BackupTipScreen.query.tsx
  packages/screens/src/backup/index.ts
  packages/screens/src/hooks/index.ts
  packages/screens/src/hooks/use-copy-to-clipboard.ts
  packages/screens/src/index.ts
  packages/ui/src/components/onboarding/MnemonicGrid.tsx
  packages/ui/src/components/onboarding/TipCard.tsx
  packages/ui/src/components/onboarding/index.ts
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

Hotfix/ios 3.0.11 copy (#2232)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW.xcworkspace/xcshareddata/swiftpm/Package.resolved
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

feat: update RN bridge (#2231)
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModule+Onboard.swift
  apps/react-native/ios/Podfile.lock
  apps/react-native/ios/main.jsbundle
Due: none

fix: syntax error (#2233)
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
Due: none

feat: update layout of onboard on ios
  packages/screens/package.json
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: update lock file
  pnpm-lock.yaml
Due: prettier --write

feat: replace math random to uuid
  packages/analytics/package.json
  packages/analytics/src/events/app.ts
  packages/analytics/src/events/auth.ts
  packages/analytics/src/events/backup.ts
  packages/analytics/src/events/error.ts
  packages/analytics/src/events/navigation.ts
  packages/analytics/src/events/send.ts
  packages/analytics/src/events/web.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: update uuid
  packages/analytics/src/events/error.ts
Due: eslint --cache --fix, prettier --write

feat: update safearea for all platform
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: add safeAre for ios
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: add key rotation service
  packages/services/src/KeyRotationService.ts
  packages/types/src/KeyRotation.ts
  packages/workflow/src/key-rotation/index.ts
Due: eslint --cache --fix, prettier --write

feat: add v3/signed api call
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/api/src/index.ts
  packages/services/src/KeyRotationService.ts
  packages/types/src/KeyRotation.ts
  packages/utils/src/index.ts
  packages/utils/src/key-rotation.ts
  packages/workflow/src/index.ts
  packages/workflow/src/key-rotation/types/index.ts
  packages/workflow/src/keyRotation/bloctoDetector.ts
  packages/workflow/src/keyRotation/index.ts
  packages/workflow/src/keyRotation/keyRotation.ts
  packages/workflow/tests/blocto-detector.service.test.ts
  packages/workflow/tests/key-rotation.test.ts
Due: eslint --cache --fix, prettier --write

chore: remove ios/android submodules
  .gitmodules
Due: none

chore: update gitignore for native sources
  .gitignore
Due: none

fix: add missing components from dev
  packages/ui/src/assets/images/index.ts
  packages/ui/src/components/WarningCard.tsx
  packages/ui/src/index.ts
  packages/ui/src/layout/OnboardingBackground.tsx
  packages/ui/src/theme.ts
Due: eslint --cache --fix, prettier --write

fix: add missing components from dev
  packages/ui/src/assets/images/onboarding/full_bg_light.png
Due: node scripts/optimize-images.js

fix: add missing components from dev
  packages/ui/src/assets/images/index.ts
  packages/ui/src/layout/OnboardingBackground.tsx
Due: eslint --cache --fix, prettier --write

fix: add missing components from dev
  packages/ui/src/assets/animations/shield-with-lock-dark-2.json
  packages/ui/src/assets/animations/shield-with-lock-light-2.json
  packages/ui/src/components/ShieldAnimation.tsx
  packages/ui/src/components/onboarding/TipCard.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

test: add test scripts
  packages/analytics/__tests__/index.test.ts
Due: eslint --cache --fix, prettier --write

fix: add missing components from dev
  packages/screens/src/backup/BackupTipScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: add missing components from dev
  packages/screens/src/backup/BackupMnemonicScreen.query.tsx
  packages/ui/src/components/WarningCard.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
  node scripts/optimize-images.js: any of: *.{png,jpg,jpeg,gif,webp}
