Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

fix: remove mock count and debug logs from AddTokensScreen
  packages/screens/src/tokens/AddTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: restore NFT collection images and improve add collection UX
  packages/screens/src/nfts/AddNFTCollectionScreen.query.tsx
  packages/stores/src/tokenStore.query.ts
Due: eslint --cache --fix, prettier --write

refactor: remove optimistic update from AddNFTCollectionScreen
  packages/screens/src/nfts/AddNFTCollectionScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix(extension): stub codegenNativeComponent to fix react-native-svg Fabric build error
  apps/extension/build/stubs/codegenNativeComponent.js
  apps/extension/build/webpack.common.config.ts
Due: eslint --cache --fix, prettier --write

feat: nft inbox
  packages/screens/src/nfts/AddNFTCollectionScreen.query.tsx
  packages/stores/src/tokenStore.query.ts
  packages/ui/src/foundation/Avatar.tsx
Due: eslint --cache --fix, prettier --write

feat: nft inbox
  packages/ui/src/components/NFTGrid.tsx
Due: eslint --cache --fix, prettier --write

feat: action for whatsnew
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/whatsnew/WhatsNewScreen.tsx
  packages/ui/src/components/UpdateDialog.native.tsx
  packages/ui/src/components/UpdateDialog.tsx
Due: eslint --cache --fix, prettier --write

feat: remove Modal for RN
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/ui/src/components/UpdateDialog.native.tsx
Due: eslint --cache --fix, prettier --write

fix: remove doc
  apps/extension/Docs/MULTIBACKUP_GOOGLE_DRIVE_REFERENCE.md
Due: prettier --write

chore: stash commit
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/bridge/ExtensionNavigation.ts
  apps/extension/src/core/service/coinList.ts
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/data-model/cache-data-keys.ts
  apps/extension/src/ui/assets/svg/inbox.svg
  apps/extension/src/ui/hooks/use-coin-hooks.ts
  apps/extension/src/ui/views/ClaimTokensScreenView/index.tsx
  apps/extension/src/ui/views/CoinList/index.tsx
  apps/extension/src/ui/views/InnerRoute.tsx
  apps/react-native/ios/main.jsbundle
  packages/icons/src/react-native/ArrowDownWideNarrow.generated.tsx
  packages/icons/src/web/ArrowDownWideNarrow.generated.tsx
  packages/stores/src/index.ts
  packages/stores/src/tokenStore.query.ts
Due: eslint --cache --fix, prettier --write

fix: update function name
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/account-management.ts
  apps/extension/src/ui/components/google-import/EnterSeedPhrase.tsx
Due: eslint --cache --fix, prettier --write

chore: rm __nodemodules
  .gitignore
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/back-icon-mask.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/back-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/back-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/back-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/clear-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/clear-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/clear-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/close-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/close-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/close-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/search-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/search-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.2_@react-navigation+native@7.1.17_react-native@0.80.1_@b_de97afd9860ced8a5845f429f71c30cb/node_modules/@react-navigation/elements/lib/module/assets/search-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/back-icon-mask.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/back-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/back-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/back-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/clear-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/clear-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/clear-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/close-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/close-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/close-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/search-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/search-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.4_@react-navigation+native@7.1.17_react-native@0.79.2_@b_1d52e6bc98bbcd45757a282e8e25505a/node_modules/@react-navigation/elements/lib/module/assets/search-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/back-icon-mask.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/back-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/back-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/back-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/clear-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/clear-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/clear-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/close-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/close-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/close-icon@3x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/search-icon.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/search-icon@2x.png
  apps/react-native/ios/assets/__node_modules/.pnpm/@react-navigation+elements@2.6.5_@react-navigation+native@7.1.18_react-native@0.79.2_@b_4c80f61afec06dce7d2c458f40390c74/node_modules/@react-navigation/elements/lib/module/assets/search-icon@3x.png
Due: node scripts/optimize-images.js

feat: query multi account inbox data
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/coinList.ts
  apps/extension/src/data-model/cache-data-keys.ts
  apps/extension/src/ui/hooks/use-coin-hooks.ts
  packages/icons/src/react-native/ArrowDownWideNarrow.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/ArrowDownWideNarrow.generated.tsx
  packages/icons/src/web/index.generated.ts
Due: eslint --cache --fix, prettier --write

fix: move the services to packages
  apps/extension/src/core/service/dropbox.ts
  apps/extension/src/core/service/googleDrive.ts
  packages/services/package.json
  packages/services/src/index.ts
  packages/services/src/multi-backup/MultiBackupService.ts
  packages/services/src/multi-backup/crypto.ts
  packages/services/src/multi-backup/index.ts
  packages/services/src/multi-backup/types.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: inbox data claim detial
  apps/extension/src/ui/views/ClaimTokenDetailScreenView/index.tsx
  apps/extension/src/ui/views/ClaimTokensScreenView/index.tsx
  apps/extension/src/ui/views/InnerRoute.tsx
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/LostAndFound/query/claim_ft.cdc
  packages/cadence/src/cadence/LostAndFound/query/claim_nft.cdc
  packages/cadence/src/cadence/LostAndFound/query/query_unclaimed_fts.cdc
  packages/cadence/src/cadence/LostAndFound/query/query_unclaimed_nfts.cdc
  packages/screens/src/tokens/ClaimTokensScreen.query.tsx
  packages/screens/src/tokens/claim-types.ts
  packages/screens/src/tokens/claim-utils.ts
  packages/stores/src/tokenStore.query.ts
Due: eslint --cache --fix, prettier --write

feat(react-native): add dedicated import account screen UI
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/__tests__/import-account-screen.test.ts
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/recovery/ImportAccountScreen.query.tsx
  packages/screens/src/recovery/index.ts
  packages/ui/src/components/onboarding/ImportAccountOptionCard.tsx
  packages/ui/src/components/onboarding/index.ts
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat(react-native): add cloud multi-backup import flow
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/icons/assets/dropbox.svg
  packages/icons/src/react-native/Dropbox.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/Dropbox.generated.tsx
  packages/icons/src/web/index.generated.ts
  packages/screens/__tests__/import-account-screen.test.ts
  packages/screens/src/importAccount/ImportAccountScreen.query.tsx
  packages/screens/src/importAccount/ImportCloudMultiBackupScreen.query.tsx
  packages/screens/src/importAccount/index.ts
  packages/screens/src/index.ts
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/recovery/index.ts
  packages/ui/src/components/onboarding/CloudProviderCard.tsx
  packages/ui/src/components/onboarding/index.ts
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat(react-native): add legacy import-account methods screen
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/__tests__/import-account-screen.test.ts
  packages/screens/src/importAccount/ImportAccountScreen.query.tsx
  packages/screens/src/importAccount/ImportLegacyMethodsScreen.query.tsx
  packages/screens/src/importAccount/index.ts
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/types/src/Bridge.ts
  packages/ui/src/components/LegacyImportMethodCard.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: update trim
  packages/services/src/multi-backup/crypto.ts
Due: eslint --cache --fix, prettier --write

feat(react-native): add import cloud backup loading screen
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/__tests__/import-account-screen.test.ts
  packages/screens/src/importAccount/ImportCloudBackupLoadingScreen.query.tsx
  packages/screens/src/importAccount/ImportCloudMultiBackupScreen.query.tsx
  packages/screens/src/importAccount/ImportLegacyMethodsScreen.query.tsx
  packages/screens/src/importAccount/index.ts
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

feat: add claim tokens and nfts
  apps/extension/src/ui/views/ClaimTokenDetailScreenView/index.tsx
  apps/react-native/ios/main.jsbundle
  packages/api/src/flowindex.ts
  packages/api/src/index.ts
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Collection/transactions/batch_send_nba_nft_v3.cdc
  packages/cadence/src/cadence/Collection/transactions/batch_send_nft_v3.cdc
  packages/cadence/src/cadence/LostAndFound/query/query_unclaimed_fts.cdc
  packages/cadence/src/cadence/LostAndFound/query/query_unclaimed_nfts.cdc
  packages/screens/src/tokens/ClaimTokenDetailScreen.query.tsx
  packages/screens/src/tokens/ClaimTokensScreen.query.tsx
  packages/screens/src/tokens/claim-utils.ts
  packages/stores/src/index.ts
  packages/stores/src/tokenStore.query.ts
  packages/ui/src/components/AccountSelector.tsx
  packages/ui/src/components/ClaimAssetDrawer.tsx
  packages/ui/src/components/ClaimItemRow.tsx
Due: eslint --cache --fix, prettier --write

feat: ui for backup loading
  packages/icons/assets/backup-loading-glow.svg
  packages/icons/src/react-native/BackupLoadingGlow.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/BackupLoadingGlow.generated.tsx
  packages/icons/src/web/index.generated.ts
  packages/screens/src/importAccount/ImportCloudBackupLoadingProgress.tsx
  packages/screens/src/importAccount/ImportCloudBackupLoadingScreen.query.tsx
  packages/ui/src/assets/images/shield-bg.png
  packages/ui/src/components/BackupLoadingIcon.layout.ts
  packages/ui/src/components/BackupLoadingIcon.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

fix: text strings must be rendered within a <Text>
  packages/ui/src/components/BackupLoadingIcon.tsx
Due: eslint --cache --fix, prettier --write

feat: first vite implement
  apps/extension/build/prepareManifest.ts
  apps/extension/build/rebundle-content-scripts.ts
  apps/extension/index.html
  apps/extension/notification.html
  apps/extension/package.json
  apps/extension/popup.html
  apps/extension/src/background/index.ts
  apps/extension/src/content-script/index.ts
  apps/extension/src/content-script/pageProvider/eth/index.ts
  apps/extension/src/content-script/script.js
  apps/extension/src/mocks/empty-module.ts
  apps/extension/src/shared/polyfills/runtime.ts
  apps/extension/src/ui/components/NFTs/CollectionDetailGrid.tsx
  apps/extension/src/ui/components/NFTs/NftSearch.tsx
  apps/extension/src/ui/index.html
  apps/extension/src/ui/index.tsx
  apps/extension/src/ui/notification.html
  apps/extension/src/ui/popup.html
  apps/extension/src/ui/views/SortHat.tsx
  apps/extension/vite.config.ts
  packages/ui/src/assets/images/index.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: new account create pending
  apps/extension/src/core/service/account-management.ts
Due: eslint --cache --fix, prettier --write

fix: update version number
  apps/extension/package.json
Due: prettier --write

feat: add account bottom on sidemenu
  .gitignore
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuView.swift
  apps/react-native/ios/FRW/Resource/en.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/ja.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/ru.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/zh-Hans.lproj/Localizable.strings
  apps/react-native/ios/FRW/Services/Router/RouteMap+React.swift
Due: none

feat: add account botton on sidemenu
  .gitignore
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuView.swift
  apps/react-native/ios/FRW/Resource/en.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/ja.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/ru.lproj/Localizable.strings
  apps/react-native/ios/FRW/Resource/zh-Hans.lproj/Localizable.strings
Due: none

feat: update flow index chart
  packages/api/src/flowindex.ts
  packages/screens/src/tokens/ClaimTokenDetailScreen.query.tsx
  packages/screens/src/tokens/claim-utils.ts
  packages/ui/src/components/PriceChart.tsx
  packages/ui/src/components/PriceChart.web.tsx
Due: eslint --cache --fix, prettier --write

fix: update pending stats
  apps/extension/src/core/service/userWallet.ts
Due: eslint --cache --fix, prettier --write

fix: update account creation waiting logic and ui
  apps/extension/src/core/service/account-management.ts
  apps/extension/src/shared/constant/account-constants.ts
  apps/extension/src/shared/constant/index.ts
  apps/extension/src/shared/utils/address.ts
  apps/extension/src/ui/components/account-menu/AddAccountPopup.tsx
  apps/extension/src/ui/components/account-menu/MenuDrawer.tsx
  apps/extension/src/ui/components/header/index.tsx
  apps/extension/src/ui/components/profile/profile-button.tsx
  apps/extension/src/ui/components/sidebar/menu-item.tsx
  apps/extension/src/ui/views/Setting/index.tsx
  packages/cadence/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add account
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Profile/AccountList/AccountListView.swift
  apps/react-native/ios/FRW/Modules/Profile/AccountList/ViewModels/AccountListViewModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuView.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/WalletAccountRow.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/Protocols/ProfileProtocols.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManger+Account.swift
  apps/react-native/ios/FRW/Services/Network/FRW/FRWAPI+User.swift
  apps/react-native/ios/FRW/Services/Network/FRW/Model/Request/UserRequests.swift
  apps/react-native/ios/FRW/Services/Network/FRW/Model/Response/UserResponses.swift
  apps/react-native/ios/FRW/UI/Style/SpinnerStyle.swift
Due: none

feat: add status logger for account creation
  apps/extension/src/core/service/account-management.ts
Due: eslint --cache --fix, prettier --write

feat: refresh profile after add account
  apps/react-native/ios/FRW/Modules/Profile/AccountList/AccountListView.swift
  apps/react-native/ios/FRW/Modules/Profile/AccountList/ViewModels/AccountListViewModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletAccount/WalletAccount+FlowWalletKit.swift
  apps/react-native/ios/FRW/Services/Manager/Config/RemoteConfig.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/Core/ProfileManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManger+Account.swift
Due: none

feat: dump version to 3.1.3
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
Due: none

feat: use defer
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuView.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManger+Account.swift
Due: none

fix: address update when claim tokens
  apps/extension/src/core/service/coinList.ts
  packages/screens/src/tokens/ClaimTokenDetailScreen.query.tsx
  packages/ui/src/components/AccountSelector.tsx
  packages/ui/src/components/ClaimAssetDrawer.tsx
  packages/ui/src/components/ClaimItemRow.tsx
Due: eslint --cache --fix, prettier --write

feat: dump cocoapods to 1.16.2
  apps/react-native/Gemfile
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
  node scripts/optimize-images.js: any of: *.{png,jpg,jpeg,gif,webp}
