Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

Update ci_post_clone.sh
  apps/react-native/ios/ci_scripts/ci_post_clone.sh
Due: none

fix ruby version issue
  apps/react-native/ios/ci_scripts/ci_post_clone.sh
Due: none

Fix ruby version
  apps/react-native/ios/ci_scripts/ci_post_clone.sh
Due: none

remove git ignore
  apps/react-native/ios/.gitignore
  apps/react-native/ios/.xcode.env.local
  apps/react-native/ios/ci_scripts/ci_post_xcodebuild.sh
Due: none

set swift version for ci
  apps/react-native/ios/_xcode.env
  apps/react-native/ios/ci_scripts/ci_post_clone.sh
Due: none

fix: address feedback
  apps/react-native/package.json
  apps/react-native/src/components/NavigationBackButton.tsx
  packages/screens/src/send/SendToScreen.query.tsx
  packages/stores/src/profileStore.ts
  packages/stores/src/walletStore.ts
  packages/ui/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: address feedback
  apps/react-native/src/components/NavigationCloseButton.tsx
Due: eslint --cache --fix, prettier --write

fix: address feedback
  packages/ui/tsup.config.ts
Due: eslint --cache --fix, prettier --write

fix: icon colors
  packages/ui/src/components/ConfirmationDrawer.tsx
Due: eslint --cache --fix, prettier --write

Update ci_post_xcodebuild.sh
  apps/react-native/ios/ci_scripts/ci_post_xcodebuild.sh
Due: none

ci: add ticket number check
  .github/pull_request_template.md
  .github/workflows/check-linked-issues.yml
Due: prettier --write

ci: add ios ci/cd docs
  docs/iOS-CI-CD.md
Due: prettier --write

docs: remove unused file
  .circleci/ios.yml
  .github/workflows/ios.yml
  apps/react-native/Gemfile
  docs/xcode-cloud.md
Due: prettier --write

fix: scan qr code
  packages/screens/src/send/SendToScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: update sendto color
  packages/screens/src/locales/en.json
  packages/screens/src/send/SendToScreen.query.tsx
Due: eslint --cache --fix, prettier --write

docs: remove useless link in README.md
  README.md
Due: prettier --write

feat: implement platform-based language detection for i18n
  CLAUDE.md
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/src/App.tsx
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/lib/i18n.ts
Due: eslint --cache --fix, prettier --write

refactor: replace console statements with centralized logger
  apps/extension/src/bridge/PlatformContext.tsx
  apps/react-native/src/App.tsx
Due: eslint --cache --fix, prettier --write

fix: export initializeI18n
  packages/screens/src/index.ts
Due: eslint --cache --fix, prettier --write
