Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

ci: update android ci
  .github/workflows/android.yml
Due: prettier --write

feat: watch custom address
  app/src/main/java/com/flowfoundation/wallet/manager/evm/COALinkCheckManager.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/subpage/developer/DeveloperModeActivity.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/subpage/developer/presenter/DeveloperModePresenter.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
  app/src/main/java/com/flowfoundation/wallet/utils/PreferenceUtils.kt
  app/src/main/res/layout/activity_developer_mode_setting.xml
  app/src/main/res/values/strings.xml
Due: none

fix: surge modal ui update
  packages/ui/src/components/Surge/SurgeModal.tsx
Due: eslint --cache --fix, prettier --write

fix: signpayer function update
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/userWallet.ts
Due: eslint --cache --fix, prettier --write

feat: watch custom address
  packages/ui/src/components/ERC1155QuantitySelector.tsx
Due: eslint --cache --fix, prettier --write

feat: update switch account from uid to ProfileModel (#1761)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Model/Error.swift
  apps/react-native/ios/FRW/Modules/Wallet/AccountSwitch/AccountSwitchView.swift
  apps/react-native/ios/FRW/Modules/Wallet/AccountSwitch/AccountSwitchViewModel.swift
  apps/react-native/ios/FRW/Modules/Wallet/Empty/EmptyWalletView.swift
  apps/react-native/ios/FRW/Modules/Wallet/Empty/EmptyWalletViewModel.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager+Login.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager+Model.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager+Store.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager.swift
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

fix: remove repeated methods
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
Due: none

fix: amount input render
  packages/ui/src/components/TokenAmountInput.tsx
Due: eslint --cache --fix, prettier --write

fix: click input
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/TokenAmountInput.tsx
Due: eslint --cache --fix, prettier --write

fix: ui padding
  apps/extension/src/bridge/ExtensionNavigation.ts
  apps/extension/src/ui/views/InnerRoute.tsx
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/NFTDetailView.tsx
Due: eslint --cache --fix, prettier --write

fix: make the padding equal
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: update arrow and close icon
  packages/icons/assets/arrow-back.svg
  packages/icons/assets/close.svg
  packages/icons/src/react-native/ArrowBack.generated.tsx
  packages/icons/src/react-native/Close.generated.tsx
  packages/icons/src/web/ArrowBack.generated.tsx
  packages/icons/src/web/Close.generated.tsx
  packages/ui/src/components/ExtensionHeader.tsx
Due: eslint --cache --fix, prettier --write

fix: add addrowback icon
  apps/extension/package.json
  apps/extension/src/ui/components/LLHeader.tsx
  apps/extension/src/ui/views/TokenDetail/index.tsx
  apps/extension/tsconfig.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: remove account card x padding
  packages/ui/src/components/AccountCard.tsx
Due: eslint --cache --fix, prettier --write

fix: selector icon color
  packages/ui/src/components/ERC1155QuantitySelector.tsx
Due: eslint --cache --fix, prettier --write

fix: token selector balance amount
  packages/ui/src/components/TokenSelectorModal.tsx
Due: eslint --cache --fix, prettier --write

fix: make confirmation scrollable
  packages/ui/src/components/ConfirmationDrawer.tsx
Due: eslint --cache --fix, prettier --write

feat: update profile info when import (#1779)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Profile/DeveloperMode/DeveloperModeView.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager+Login.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager+Model.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager+Wallet.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager.swift
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

feat: add `react-native-localize` for get language
  apps/react-native/package.json
  apps/react-native/src/bridge/PlatformImpl.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: launch initial route
  app/src/main/java/com/flowfoundation/wallet/reactnative/ReactNativeActivity.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
Due: none

fix: surgemodal display
  packages/ui/src/components/Surge/SurgeModal.tsx
Due: eslint --cache --fix, prettier --write

ci: add payer address monitor
  .claude/settings.local.json
  .github/workflows/balance-monitor.yml
  scripts/monitor-balance.js
Due: eslint --cache --fix, prettier --write

ci: remove default address
  .github/workflows/balance-monitor.yml
Due: prettier --write

fix: cleaned watch address
  app/src/main/java/com/flowfoundation/wallet/page/profile/subpage/developer/presenter/DeveloperModePresenter.kt
Due: none

fix: watch nft list and react native scroll
  packages/screens/src/send/NFTListScreen.query.tsx
  packages/ui/src/components/NFTGrid.tsx
Due: eslint --cache --fix, prettier --write

fix: move send_static.png to React Native app assets for production builds
  apps/react-native/src/assets/images/send_static.png
  apps/react-native/src/assets/index.ts
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/SendScreenWrappers.tsx
  packages/ui/src/assets/images.ts
  packages/ui/src/assets/images/send_static.png
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add language bridge
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
Due: none

feat: remove empty info (#1781)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Wallet/Empty/EmptyWalletView.swift
  apps/react-native/ios/FRW/Modules/Wallet/Empty/EmptyWalletViewModel.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager+Login.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager.swift
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

fix: rn screen title
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: eslint --cache --fix, prettier --write

feat: add bridge for get language
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
Due: eslint --cache --fix, prettier --write

feat: add getLanguage for RN (#1782)
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
Due: none

fix: Kotlin incompatibilities causing crash in PineCodeInputLayout
  app/src/main/java/com/flowfoundation/wallet/page/walletcreate/fragments/pincode/pin/widgets/PinCodeInputLayout.kt
Due: none

fix: support 16kb page size
  app/build.gradle
  gradle.properties
Due: none

fix: support 16kb page size
  app/build.gradle
  app/src/main/AndroidManifest.xml
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
