Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

feat: use Flatlist for address book
  packages/ui/src/components/AddressBookSection.tsx
Due: eslint --cache --fix, prettier --write

feat: update skeleton view with pulse animation
  packages/screens/src/send/SendToScreen.query.tsx
  packages/ui/src/components/AddressBookSection.tsx
  packages/ui/src/components/ProfileList.tsx
  packages/ui/src/components/RecipientList.tsx
  packages/ui/src/components/SearchableTabLayout.tsx
  packages/ui/src/foundation/Skeleton.tsx
  packages/ui/src/types/index.ts
  packages/ui/stories/Skeleton.stories.tsx
Due: eslint --cache --fix, prettier --write

fix: balance display 0 issue
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: don't use default bg for hover button inverse
  packages/ui/src/foundation/Button.tsx
Due: eslint --cache --fix, prettier --write

feat: use bg3
  packages/ui/src/foundation/Button.tsx
Due: eslint --cache --fix, prettier --write

fix: add color in hover style
  packages/ui/src/foundation/Button.tsx
Due: eslint --cache --fix, prettier --write

fix: remove color use opacity
  packages/ui/src/foundation/Button.tsx
Due: eslint --cache --fix, prettier --write

feat: add inverse variants on storybook
  packages/ui/stories/Button.stories.tsx
Due: eslint --cache --fix, prettier --write

feat: update the version to 3.0
  apps/extension/package.json
Due: prettier --write

feat: update interceptor endpoint + trigger dialog
  app/src/main/java/com/flowfoundation/wallet/base/activity/BaseActivity.kt
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/transaction/Transaction.kt
  app/src/main/java/com/flowfoundation/wallet/network/functions/Functions.kt
  app/src/main/java/com/flowfoundation/wallet/network/interceptor/PayerServiceInterceptor.kt
  app/src/main/java/com/flowfoundation/wallet/page/main/MainActivity.kt
Due: none

feat: update interceptor endpoint + trigger dialog
  app/src/main/java/com/flowfoundation/wallet/TestSurgePricingTrigger.kt
  app/src/main/java/com/flowfoundation/wallet/TestSurgeTriggerNative.kt
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/transaction/Transaction.kt
  app/src/main/java/com/flowfoundation/wallet/mixpanel/SurgePricingMetrics.kt
  app/src/main/java/com/flowfoundation/wallet/modules/SurgePricingTestModule.kt
  app/src/main/java/com/flowfoundation/wallet/network/interceptor/PayerServiceInterceptor.kt
  app/src/main/java/com/flowfoundation/wallet/network/interceptor/TestSurgeInterceptor.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/SurgePricingAlertView.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/SurgePricingAlertViewXML.kt
  app/src/main/res/layout/dialog_surge_pricing_alert.xml
Due: none

feat: update interceptor endpoint + trigger dialog
  app/src/main/java/com/flowfoundation/wallet/network/interceptor/PayerServiceInterceptor.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/SurgePricingAlertViewXML.kt
  app/src/main/res/layout/dialog_surge_pricing_alert.xml
Due: none

feat: update interceptor endpoint + trigger dialog
  app/src/main/res/layout/dialog_surge_pricing_alert.xml
Due: none

feat: update interceptor endpoint + trigger dialog
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/transaction/Transaction.kt
Due: none

feat: update interceptor endpoint + trigger dialog
  app/src/main/res/drawable/ic_surge_active.xml
  app/src/main/res/drawable/ic_surge_alert_triangle.xml
  app/src/main/res/layout/dialog_surge_pricing_alert.xml
Due: none

feat: update interceptor endpoint + trigger dialog
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/transaction/Transaction.kt
  app/src/main/java/com/flowfoundation/wallet/network/functions/Functions.kt
Due: none

feat: clean up
  app/src/main/java/com/flowfoundation/wallet/TestSurgePricingTrigger.kt
  app/src/main/java/com/flowfoundation/wallet/TestSurgeTriggerNative.kt
  app/src/main/res/drawable/surge_icon_circle_bg.xml
Due: none

feat: clean up
  app/src/main/java/com/flowfoundation/wallet/network/interceptor/TestSurgeInterceptor.kt
Due: none

feat: clean up
  app/src/main/java/com/flowfoundation/wallet/modules/SurgePricingTestModule.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridgePackage.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/SurgePricingAlertView.kt
Due: none

feat: clean up
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/transaction/Transaction.kt
Due: none

feat: clean up
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/transaction/Transaction.kt
  app/src/main/java/com/flowfoundation/wallet/manager/transaction/SurgePricingManager.kt
Due: none

test: wip - add unit tests
  app/src/test/java/com/flowfoundation/wallet/manager/flowjvm/transaction/TransactionSurgePricingTest.kt
  app/src/test/java/com/flowfoundation/wallet/manager/transaction/SurgePricingManagerTest.kt
Due: none

fix: erc1155 transfer
  packages/screens/src/send/NFTDetailScreen.query.tsx
  packages/stores/src/sendStore.ts
Due: eslint --cache --fix, prettier --write

fix: erc1155 send on android
  packages/screens/src/send/NFTDetailScreen.query.tsx
  packages/stores/src/sendStore.ts
Due: eslint --cache --fix, prettier --write

fix: erc1155 send on android
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/ui/src/components/ConfirmationDrawer.tsx
Due: eslint --cache --fix, prettier --write

fix: send erc1155 from nft detail screen
  packages/stores/src/sendStore.ts
  packages/workflow/src/send/validation.ts
Due: eslint --cache --fix, prettier --write

fix: redirect back to correct NFT collection
  packages/screens/src/send/SendSummaryScreen.query.tsx
Due: eslint --cache --fix, prettier --write

test: wip - add unit tests
  app/src/test/java/com/flowfoundation/wallet/manager/transaction/SurgePricingManagerTest.kt
Due: none

test: wip - add unit tests
  app/src/test/java/com/flowfoundation/wallet/manager/flowjvm/transaction/TransactionSurgePricingTest.kt
Due: none

fix: update permission
  .github/workflows/extension-build.yml
  apps/extension/_raw/manifest/manifest.pro.json
  apps/extension/src/ui/index.html
Due: prettier --write

fix: revert build setting
  .github/workflows/extension-build.yml
Due: prettier --write

fix: remove unused permission
  apps/extension/_raw/manifest/manifest.pro.json
Due: prettier --write

ci: update release note generator
  .github/workflows/release-notes.yml
  scripts/release-notes/README.md
  scripts/release-notes/collect_commits.sh
  scripts/release-notes/generate_with_ai.sh
  scripts/release-notes/sanitize_notes.sh
  scripts/release-notes/update_release_body.sh
Due: prettier --write
