Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

fix: update typo
  apps/extension/src/ui/components/NFTs/GridView.tsx
Due: eslint --cache --fix, prettier --write

fix: adjust spacing
  packages/ui/src/components/onboarding/OnboardingHeader.tsx
Due: eslint --cache --fix, prettier --write

fix: adjust spacing
  packages/screens/src/onboarding/GetStartedScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: adjust spacing
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: adjust spacing
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.query.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
  packages/ui/src/components/onboarding/AccountCreationLoadingState.tsx
  packages/ui/src/components/onboarding/RecoveryPhraseQuestion.tsx
Due: eslint --cache --fix, prettier --write

fix: adjust spacing
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.query.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: icon colors
  packages/icons/src/react-native/UploadCloud.generated.tsx
Due: eslint --cache --fix, prettier --write

fix: ui feedback
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: adjust spacing
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: recovery options ui
  packages/screens/src/recovery/ImportOtherMethodsScreen.query.tsx
  packages/screens/src/recovery/ImportProfileScreen.query.tsx
  packages/ui/src/components/onboarding/ImportOptionCard.tsx
Due: eslint --cache --fix, prettier --write

feat: apply logger
  apps/extension/src/ui/views/Welcome/Register/index.tsx
  apps/extension/src/ui/views/Welcome/Sync/index.tsx
  apps/extension/src/ui/views/Welcome/import-profile/index.tsx
  apps/extension/src/ui/views/Welcome/index.tsx
Due: eslint --cache --fix, prettier --write

fix: test sctipts update
  apps/extension/e2e/transaction/cadence-transaction.test.ts
  apps/extension/e2e/transaction/nft-transaction.test.ts
  apps/extension/e2e/utils/helper.ts
  apps/extension/playwright.config.ts
  apps/extension/src/shared/utils/formatTokenValue.test.ts
  apps/extension/src/ui/components/import-components/SeedPhraseImport.tsx
Due: eslint --cache --fix, prettier --write

fix: add additional host permission manifest
  apps/extension/_raw/manifest/manifest.dev.json
  apps/extension/_raw/manifest/manifest.pro.json
Due: prettier --write

ci: rename default branch from dev to main
  .claude/commands/create-pr.md
  .github/workflows/auto-link-issue.yml
  .github/workflows/code-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/extension-build.yml
  .github/workflows/lint.yml
  .github/workflows/packages.yml
  .github/workflows/presubmit.yml
  .github/workflows/react-native.yml
  .github/workflows/submodule-update.yml
  .github/workflows/submodule-validate.yml
  .gitmodules
  CLAUDE.md
  scripts/update-submodule-refs.sh
Due: prettier --write

docs: add unified backup workflow design spec
  docs/superpowers/specs/2026-03-30-unified-backup-workflow-design.md
Due: prettier --write

docs: address spec review feedback for backup workflow
  docs/superpowers/specs/2026-03-30-unified-backup-workflow-design.md
Due: prettier --write

docs: add unified backup workflow implementation plan
  docs/superpowers/plans/2026-03-30-unified-backup-workflow.md
Due: prettier --write

docs: sync spec with plan review findings
  docs/superpowers/specs/2026-03-30-unified-backup-workflow-design.md
Due: prettier --write

build(workflow): add backup crypto dependencies
  packages/workflow/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(workflow): add unified backup types and interfaces
  packages/workflow/src/backup/types.ts
Due: eslint --cache --fix, prettier --write

feat(workflow): implement LegacyCrypto V1 decrypt-only
  packages/workflow/src/backup/crypto/legacy-crypto.ts
  packages/workflow/tests/backup/crypto/legacy-crypto.test.ts
Due: eslint --cache --fix, prettier --write

feat(workflow): implement KeystoreCrypto V2 (keystore v3 format)
  packages/workflow/src/backup/crypto/keystore-crypto.ts
  packages/workflow/tests/backup/crypto/keystore-crypto.test.ts
Due: eslint --cache --fix, prettier --write

feat(workflow): add crypto factory and version detection
  packages/workflow/src/backup/crypto/index.ts
  packages/workflow/tests/backup/crypto/crypto-factory.test.ts
Due: eslint --cache --fix, prettier --write

feat(workflow): implement GoogleDriveProvider with v1/v2 support
  packages/workflow/src/backup/providers/cloud-storage.ts
  packages/workflow/src/backup/providers/google-drive.ts
  packages/workflow/src/backup/providers/index.ts
  packages/workflow/tests/backup/providers/google-drive.test.ts
Due: eslint --cache --fix, prettier --write

feat(workflow): implement DropboxProvider
  packages/workflow/src/backup/providers/dropbox.ts
  packages/workflow/src/backup/providers/index.ts
  packages/workflow/tests/backup/providers/dropbox.test.ts
Due: eslint --cache --fix, prettier --write

feat(workflow): implement v1 to v2 backup migration
  packages/workflow/src/backup/migration/index.ts
  packages/workflow/src/backup/migration/v1-to-v2.ts
  packages/workflow/tests/backup/migration/v1-to-v2.test.ts
Due: eslint --cache --fix, prettier --write

ci: upgrade ai-reviewer model to Claude Opus 4.6
  .github/workflows/presubmit.yml
Due: prettier --write

feat(workflow): implement BackupWorkflow orchestrator
  packages/workflow/src/backup/backup-workflow.ts
  packages/workflow/src/backup/device/index.ts
  packages/workflow/tests/backup/backup-workflow.test.ts
Due: eslint --cache --fix, prettier --write

feat(workflow): implement WalletConnect device sync
  packages/workflow/package.json
  packages/workflow/src/backup/device/index.ts
  packages/workflow/src/backup/device/wallet-connect-sync.ts
  packages/workflow/tests/backup/device/wallet-connect-sync.test.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat(workflow): export unified backup module from workflow package
  packages/workflow/src/backup/backup-workflow.ts
  packages/workflow/src/backup/crypto/legacy-crypto.ts
  packages/workflow/src/backup/index.ts
  packages/workflow/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: stash commit
  apps/extension/e2e/transaction/nft-transaction.test.ts
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Bridge/transactions/bridge_tokens_from_evm_to_flow_with_payer.cdc
  packages/cadence/src/cadence/Bridge/transactions/bridge_tokens_to_evm_address_with_payer.cdc
  packages/workflow/src/send/tokenStrategies.ts
  packages/workflow/tests/send.ft.test.ts
Due: eslint --cache --fix, prettier --write

docs(workflow): add backup module README with usage examples
  packages/workflow/src/backup/README.md
Due: prettier --write

feat: replace endpoint from flowscan to explore
  apps/react-native/ios/FRW/Foundation/Define/AppUrl.swift
  apps/react-native/ios/FRW/Foundation/Model/WalletModels.swift
  apps/react-native/ios/FRW/Services/Resources/UrlProvider.swift
Due: none

refactor(workflow): inject WalletConnect project ID via config instead of hardcoding
  packages/workflow/src/backup/README.md
  packages/workflow/src/backup/backup-workflow.ts
  packages/workflow/src/backup/device/wallet-connect-sync.ts
  packages/workflow/src/backup/types.ts
  packages/workflow/tests/backup/backup-workflow.test.ts
  packages/workflow/tests/backup/device/wallet-connect-sync.test.ts
Due: eslint --cache --fix, prettier --write

feat: extension new backup workflow example
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/background/index.ts
  apps/extension/src/core/service/__tests__/backup-workflow-service.test.ts
  apps/extension/src/core/service/__tests__/googleDrive.test.ts
  apps/extension/src/core/service/account-management.ts
  apps/extension/src/core/service/backup-workflow.ts
  apps/extension/src/core/service/index.ts
  apps/extension/src/ui/components/google-import/DecryptWallet.tsx
  apps/extension/src/ui/components/google-import/index.tsx
  apps/extension/src/ui/components/import-components/Googledrive.tsx
  apps/extension/src/ui/components/import-components/ImportTabs.tsx
  apps/extension/src/ui/views/Welcome/import-profile/index.tsx
  apps/extension/src/ui/views/Welcome/index.tsx
Due: eslint --cache --fix, prettier --write

feat(workflow): add backup key addition flow for Secure Profile
  docs/superpowers/plans/2026-03-31-backup-key-addition.md
  docs/superpowers/specs/2026-03-31-backup-key-addition-and-service-layer-design.md
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Base/add_key.cdc
  packages/workflow/src/backup/backup-workflow.ts
  packages/workflow/src/backup/index.ts
  packages/workflow/src/backup/types.ts
  packages/workflow/tests/backup/backup-workflow.test.ts
Due: eslint --cache --fix, prettier --write

fix(workflow): update bridge strategy test expectations
  packages/workflow/tests/send.ft.script.test.ts
Due: eslint --cache --fix, prettier --write

fix(extension): correct formatTokenValue test expectation
  apps/extension/src/shared/utils/formatTokenValue.test.ts
Due: eslint --cache --fix, prettier --write

fix(extension): correct remaining formatTokenValue test expectations
  apps/extension/src/shared/utils/formatTokenValue.test.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
  node scripts/optimize-images.js: any of: *.{png,jpg,jpeg,gif,webp}
