Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: add Sentry profiling and breadcrumbs integrations
  apps/extension/src/background/sentry.ts
  apps/extension/src/ui/sentry-react.config.ts
Due: eslint --cache --fix, prettier --write

feat: refactor Sentry config for dynamic host and sampling rates
  apps/extension/src/shared/constant/senty-constants.ts
  apps/extension/src/ui/sentry-react.config.ts
Due: eslint --cache --fix, prettier --write

docs(context,api): improve registerAccountWithBackend documentation and fix DeviceInfo type
  packages/api/src/index.ts
  packages/context/src/interfaces/PlatformSpec.ts
Due: eslint --cache --fix, prettier --write

373 - platform context (#894)
  packages/api/src/index.ts
  packages/context/src/index.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/utils/src/errors.ts
  packages/utils/src/index.ts
  packages/utils/src/username.ts
Due: eslint --cache --fix, prettier --write

feat: fix regex
  apps/extension/src/shared/constant/senty-constants.ts
Due: eslint --cache --fix, prettier --write

fix(api): remove duplicate type exports to resolve build errors
  packages/api/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add eoa batch scripts
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Bridge/transactions/batch_bridge_nft_from_eoa_to_flow_with_payer.cdc
  packages/cadence/src/cadence/EVM/transaction/batch_eoa_call_contract.cdc
  packages/cadence/src/cadence/HybridCustody/transactions/batch_bridge_child_nft_from_eoa_with_payer.cdc
  packages/workflow/src/send/nftStrategies.ts
  packages/workflow/src/send/utils.ts
Due: eslint --cache --fix, prettier --write

fix: export ToastContext avoid build error
  packages/context/src/index.ts
Due: eslint --cache --fix, prettier --write

refactor(context): move ToastContext to @onflow/frw-ui to resolve circular dependency
  apps/extension/src/ui/views/index.tsx
  packages/context/src/index.ts
  packages/ui/src/components/ToastContext.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: new setting ui
  app/src/main/java/com/flowfoundation/wallet/page/main/adapter/MainPageAdapter.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/SettingFragment.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/compose/SettingComponents.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/compose/SettingScreen.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/presenter/ProfileFragmentPresenter.kt
  app/src/main/res/drawable/ic_backup.xml
  app/src/main/res/drawable/ic_developer.xml
  app/src/main/res/drawable/ic_edit.xml
  app/src/main/res/drawable/ic_settings_backup.xml
  app/src/main/res/drawable/ic_settings_bug.xml
  app/src/main/res/drawable/ic_settings_developer.xml
  app/src/main/res/drawable/ic_settings_devices.xml
  app/src/main/res/drawable/ic_settings_profile.xml
  app/src/main/res/drawable/ic_settings_security.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/layout_profile_group_0.xml
  app/src/main/res/layout/layout_profile_group_gas.xml
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-en-rUS/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-es-rUS/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-hi-rIN/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rHK/strings.xml
  app/src/main/res/values-zh-rSG/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
Due: none

fix: account setting
  app/src/main/java/com/flowfoundation/wallet/page/account/AccountListActivity.kt
  app/src/main/java/com/flowfoundation/wallet/page/account/AccountListViewModel.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/subpage/wallet/WalletSettingActivity.kt
  app/src/main/java/com/flowfoundation/wallet/page/wallet/view/AccountItemSection.kt
  app/src/main/java/com/flowfoundation/wallet/page/wallet/view/WalletAccountSection.kt
  app/src/main/res/layout/activity_wallet_setting.xml
  app/src/main/res/values/strings.xml
Due: none

refactor: fix circular dependency
  apps/extension/src/ui/views/index.tsx
  packages/context/package.json
  packages/context/src/ToastContext.tsx
  packages/context/src/index.ts
Due: eslint --cache --fix, prettier --write

chore: update pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

feat: update workflow configs for asset patterns and AI reviewer
  .github/workflows/pr-size-labeler.yml
  .github/workflows/presubmit.yml
Due: prettier --write

refactor: signWithRole to use injected signing context
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/signWithRole.ts
Due: eslint --cache --fix, prettier --write

Update AI reviewer action and model version
  apps/react-native/ios/.github/workflows/presubmit.yml
Due: prettier --write

Update AI reviewer action and model version
  .github/workflows/presubmit.yml
Due: prettier --write

feat: random username (#1992)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/LoginViewModelProtocol.swift
  apps/react-native/ios/FRW/Modules/Profile/DeveloperMode/DeveloperModeView.swift
  apps/react-native/ios/FRW/Modules/Register/ViewModel/UsernameGenerator.swift
  apps/react-native/ios/FRWTests/UsernameGeneratorTests.swift
  apps/react-native/ios/Podfile
  apps/react-native/ios/Podfile.lock
  apps/react-native/ios/main.jsbundle
Due: none

feat: coa address copy alert
  app/src/main/java/com/flowfoundation/wallet/page/main/MainActivity.kt
  app/src/main/java/com/flowfoundation/wallet/page/main/presenter/DrawerLayoutContent.kt
  app/src/main/java/com/flowfoundation/wallet/page/main/widget/CopyCOAAddressDialog.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/subpage/wallet/childaccountdetail/presenter/ChildAccountDetailPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/receive/presenter/ReceivePresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/wallet/presenter/WalletHeaderPresenter.kt
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Due: none

310/813 fix profile UI (#1995)
  apps/react-native/ios/FRW/App/AppDelegate.swift
  apps/react-native/ios/FRW/Modules/Profile/DeveloperMode/DeleteSEKeychain.swift
  apps/react-native/ios/FRW/Modules/Profile/DeveloperMode/DeveloperModeView.swift
  apps/react-native/ios/FRW/Modules/Wallet/AccountSwitch/AccountSwitchView.swift
  apps/react-native/ios/FRW/Modules/Wallet/Empty/EmptyWalletView.swift
  apps/react-native/ios/FRW/Modules/Wallet/FlowWalletKit/KeyChainAccessibilityUpdate.swift
  apps/react-native/ios/FRW/Modules/Wallet/SideMenu/SideMenuViewModel.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager+Model.swift
  apps/react-native/ios/FRW/Services/Manager/ProfileManager/ProfileManager.swift
Due: none

feat: add miss translation
  app/src/main/res/values-de-rDE/strings.xml
  app/src/main/res/values-en-rUS/strings.xml
  app/src/main/res/values-es-rES/strings.xml
  app/src/main/res/values-es-rUS/strings.xml
  app/src/main/res/values-fr-rFR/strings.xml
  app/src/main/res/values-hi-rIN/strings.xml
  app/src/main/res/values-it-rIT/strings.xml
  app/src/main/res/values-ja-rJP/strings.xml
  app/src/main/res/values-ko-rKR/strings.xml
  app/src/main/res/values-ru-rRU/strings.xml
  app/src/main/res/values-zh-rCN/strings.xml
  app/src/main/res/values-zh-rHK/strings.xml
  app/src/main/res/values-zh-rSG/strings.xml
  app/src/main/res/values-zh-rTW/strings.xml
Due: none

fix: confirm button
  app/src/main/java/com/flowfoundation/wallet/page/main/widget/CopyCOAAddressDialog.kt
Due: none

fix(android): improve logging and DeviceInfo type safety
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

chore: remove unused animation and image assets
  packages/ui/src/assets/animations/shield-with-lock-dark.json
  packages/ui/src/assets/animations/shield-with-lock-light.json
  packages/ui/src/assets/images/onboarding/card_bg_2.png
Due: prettier --write

refactor: simplify OnboardingBackground theme logic
  packages/ui/src/components/onboarding/OnboardingBackground.tsx
Due: eslint --cache --fix, prettier --write

refactor: remove unnecessary NotificationPreviewImage component
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
  packages/ui/src/components/onboarding/NotificationPreviewImage.tsx
  packages/ui/src/components/onboarding/index.ts
Due: eslint --cache --fix, prettier --write

refactor: remove unnecessary NotificationPreviewImage component
  packages/ui/src/components/onboarding/NotificationPreviewImage.tsx
  packages/ui/src/components/onboarding/index.ts
Due: eslint --cache --fix, prettier --write

fix(extension): restore ToastProvider import from @onflow/frw-context
  apps/extension/src/ui/views/index.tsx
Due: eslint --cache --fix, prettier --write

fix(context): restore ToastContext file and exports to match dev
  packages/context/src/ToastContext.tsx
  packages/context/src/index.ts
Due: eslint --cache --fix, prettier --write

373 - ProfileService layer (#892)
  packages/api/src/index.ts
  packages/services/src/ProfileService.ts
  packages/services/src/getters.ts
  packages/services/src/index.ts
  packages/types/src/Bridge.ts
Due: eslint --cache --fix, prettier --write

fix(extension): match index.tsx exactly with dev branch
  apps/extension/src/ui/views/index.tsx
Due: eslint --cache --fix, prettier --write

fix(context): align ToastContext with dev branch pattern
  packages/context/src/ToastContext.tsx
  packages/context/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add react-native-bundle-discovery for bundle analysis
  .gitignore
  apps/react-native/metro.config.js
  apps/react-native/package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix(context): align PlatformSpec interface with dev branch
  packages/context/src/interfaces/PlatformSpec.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
