Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

feat: shorten the error code
  packages/wallet/src/types/errors.ts
Due: eslint --cache --fix, prettier --write

feat: update ft script with init resource
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Bridge/transactions/batch_bridge_nft_from_evm_to_flow_with_payer.cdc
  packages/cadence/src/cadence/Bridge/transactions/bridge_nft_from_evm_to_flow_with_payer.cdc
Due: eslint --cache --fix, prettier --write

Feat/300 surge price walleconnect (#1861)
  apps/react-native/ios/FRW/Modules/Browser/BrowserViewController+JS.swift
  apps/react-native/ios/FRW/Modules/Browser/Model/FCLScripts.swift
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/WalletConnectManager.swift
Due: none

fix: emoji random (#1862)
  apps/react-native/ios/FRW/Foundation/Bridge/NativeToRNModel.swift
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
  apps/react-native/ios/FRW/Modules/Profile/DeveloperMode/DeveloperModeView.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletAccount/WalletAccount.swift
Due: none

feat: evm eoa address interaction in dapp
  apps/extension/src/background/controller/provider/controller.ts
Due: eslint --cache --fix, prettier --write

fix: remove unuse function
  apps/extension/src/background/controller/provider/controller.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

update payer request data model
  apps/react-native/ios/FRW/Services/Network/FirebaseAPI/Model/PayAsSignerModel.swift
Due: none

feat: implement error handling on rn
  apps/react-native/ERROR_HANDLING.md
  apps/react-native/package.json
  apps/react-native/src/App.tsx
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/components/ErrorBoundary.tsx
  apps/react-native/src/components/error/CriticalErrorFallback.tsx
  apps/react-native/src/components/error/GenericErrorFallback.tsx
  apps/react-native/src/components/error/NetworkErrorFallback.tsx
  apps/react-native/src/components/error/index.ts
  apps/react-native/src/utils/errorHandling.ts
  packages/context/src/interfaces/PlatformSpec.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: implement error handling on rn
  apps/react-native/ERROR_HANDLING.md
  apps/react-native/src/components/__tests__/ErrorHandlingTest.tsx
Due: eslint --cache --fix, prettier --write

feat: refine error handling ui
  apps/react-native/src/App.tsx
  apps/react-native/src/components/error/CriticalErrorFallback.tsx
  apps/react-native/src/components/error/GenericErrorFallback.tsx
  apps/react-native/src/components/error/NetworkErrorFallback.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/ErrorHandlingTest.tsx
  apps/react-native/src/screens/SelectTokensScreenWithErrorTest.tsx
Due: eslint --cache --fix, prettier --write

feat: refine error handling ui
  apps/react-native/src/screens/SelectTokensScreenWithErrorTest.tsx
Due: eslint --cache --fix, prettier --write

feat: refine error handling ui
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: prettier --write

feat: refine error handling ui
  apps/react-native/src/components/error/CriticalErrorFallback.tsx
  apps/react-native/src/components/error/GenericErrorFallback.tsx
  apps/react-native/src/components/error/NetworkErrorFallback.tsx
  apps/react-native/src/components/error/SafeText.tsx
Due: eslint --cache --fix, prettier --write

feat: refine error handling ui
  apps/react-native/src/components/error/CriticalErrorFallback.tsx
  apps/react-native/src/components/error/GenericErrorFallback.tsx
  apps/react-native/src/components/error/NetworkErrorFallback.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

feat: refine error handling ui
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

feat: Ignore the exception on fetchAccount (#1872)
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
Due: none

fix: native bridge checksum evm address
  app/src/main/java/com/flowfoundation/wallet/cache/AccountCacheManager.kt
  app/src/main/java/com/flowfoundation/wallet/manager/evm/EVMWalletManager.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
  gradle.properties
Due: none

fix: android unsupported lottie image
  packages/ui/src/components/ConfirmationAnimation.tsx
  packages/ui/src/utils/lottie-image-injection.ts
Due: eslint --cache --fix, prettier --write

feat: tamagui error handling screens with new designs
  apps/react-native/package.json
  apps/react-native/src/components/ErrorBoundary.tsx
  apps/react-native/src/components/error/SafeText.tsx
  apps/react-native/src/components/error/index.ts
  apps/react-native/src/navigation/AppNavigator.tsx
  docs/ERROR_HANDLING.md
  packages/icons/assets/warning-octagon-fill.svg
  packages/icons/assets/wifi-off.svg
  packages/icons/src/react-native/AlertTriangle.generated.tsx
  packages/icons/src/react-native/Close.generated.tsx
  packages/icons/src/react-native/SurgeActive.generated.tsx
  packages/icons/src/react-native/SurgeIcon.generated.tsx
  packages/icons/src/react-native/ToastError.generated.tsx
  packages/icons/src/react-native/ToastInfo.generated.tsx
  packages/icons/src/react-native/ToastSuccess.generated.tsx
  packages/icons/src/react-native/WarningOctagonFill.generated.tsx
  packages/icons/src/react-native/WifiOff.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/WarningOctagonFill.generated.tsx
  packages/icons/src/web/WifiOff.generated.tsx
  packages/icons/src/web/index.generated.ts
  packages/screens/package.json
  packages/screens/src/error/CriticalErrorFallback.tsx
  packages/screens/src/error/GenericErrorFallback.tsx
  packages/screens/src/error/NetworkErrorFallback.tsx
  packages/screens/src/index.ts
  packages/screens/src/lib/i18n.ts
  packages/screens/src/locales/en.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: tamagui error handling screens with new designs
  packages/screens/src/error/CriticalErrorFallback.tsx
  packages/screens/src/error/GenericErrorFallback.tsx
  packages/screens/src/error/NetworkErrorFallback.tsx
  packages/screens/src/locales/en.json
Due: eslint --cache --fix, prettier --write

feat: tamagui error handling screens with new designs
  packages/screens/src/error/CriticalErrorFallback.tsx
  packages/screens/src/error/GenericErrorFallback.tsx
  packages/screens/src/error/NetworkErrorFallback.tsx
Due: eslint --cache --fix, prettier --write

feat: tamagui error handling screens with new designs
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

feat: replace tapGesture with button (#1877)
  apps/react-native/ios/FRW/Modules/MultiRestore/ViewModel/RestoreMultiAccountViewModel.swift
  apps/react-native/ios/FRW/Modules/MultiRestore/Views/RestoreMultiAccountView.swift
Due: none

feat: add surge alert on send workflow
  apps/react-native/src/App.tsx
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/Surge/SurgeModal.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add surge alert on NFT send page
  packages/screens/src/send/SendSummaryScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: signTX first, then display alert (#1879)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Browser/Handler/JSMessageHandler.swift
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/WalletConnectManager.swift
  apps/react-native/ios/main.jsbundle
Due: none

fix: show alert after transaction confirm
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/WalletConnectRequestDispatcher.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/webview/fcl/FclMessageHandler.kt
Due: none

feat: add address book dialog
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/send/SendToScreen.query.tsx
  packages/ui/src/components/AddContactDialog.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add padding to skeleton on profile list
  packages/ui/src/components/ProfileList.tsx
Due: eslint --cache --fix, prettier --write

fix: addressbook cache issue and add uid as cache id
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/send/SendToScreen.query.tsx
  packages/stores/src/addressBookStore.query.ts
  packages/utils/src/index.ts
  packages/utils/src/jwt.ts
Due: eslint --cache --fix, prettier --write

feat: add pull to refresh on addressbook
  packages/screens/src/send/SendToScreen.query.tsx
  packages/ui/src/components/AddressBookSection.tsx
Due: eslint --cache --fix, prettier --write

feat: delete profile when delete wallet on setting (#1881)
  apps/react-native/ios/FRW/Services/Manager/UserManager.swift
Due: none
