Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

feat: update params name
  packages/api/js_swagger.json
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

fix: use the new data structure
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/openapi.ts
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/ui/views/TransferList/index.tsx
Due: eslint --cache --fix, prettier --write

Feat/surge alert 300 (#1845)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Foundation/Payer/BridgeFeePayer.swift
  apps/react-native/ios/FRW/Foundation/Payer/Payer429Interceptor.swift
  apps/react-native/ios/FRW/Modules/Browser/Handler/JSMessageHandler.swift
  apps/react-native/ios/FRW/Resource/Assets.xcassets/blokchain/flow.imageset/Contents.json
  apps/react-native/ios/FRW/Services/Manager/Alert/AlertCenter.swift
  apps/react-native/ios/FRW/Services/Manager/Alert/SurgePricingAlertView.swift
  apps/react-native/ios/FRW/Services/Manager/Config/RemoteConfigManager.swift
  apps/react-native/ios/FRW/Services/Network/FRWWeb/FRWWebEndpoint.swift
  apps/react-native/ios/main.jsbundle
Due: prettier --write

feat: update authz and payer api on send workflow
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/signWithRole.ts
Due: eslint --cache --fix, prettier --write

feat: add missing api import on rn
  apps/react-native/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: udpate request for pay endpoint (#1846)
  apps/react-native/ios/FRW/Foundation/Payer/BridgeFeePayer.swift
  apps/react-native/ios/FRW/Modules/Browser/Handler/JSMessageHandler.swift
  apps/react-native/ios/FRW/Services/Manager/Config/RemoteConfigManager.swift
  apps/react-native/ios/FRW/Services/Network/FRWWeb/FRWWebEndpoint.swift
  apps/react-native/ios/FRW/Services/Network/FirebaseAPI/Model/PayAsSignerModel.swift
  apps/react-native/ios/main.jsbundle
Due: none

feat: update bridge scripts for receiver
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Bridge/transactions/bridge_nft_from_evm_to_flow_with_payer.cdc
Due: eslint --cache --fix, prettier --write

feat: dynamic change the payer due to surge active
  apps/react-native/src/bridge/signWithRole.ts
Due: eslint --cache --fix, prettier --write

feat: make the auth payer consistent
  apps/react-native/src/bridge/signWithRole.ts
Due: eslint --cache --fix, prettier --write

feat: surge pricing
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/CadenceExecutor.kt
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/transaction/PayerSignable.kt
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/transaction/SignPayerResponse.kt
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/transaction/Transaction.kt
  app/src/main/java/com/flowfoundation/wallet/manager/transaction/SurgePricingManager.kt
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/WalletConnectRequestDispatcher.kt
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/WalletConnectResponse.kt
  app/src/main/java/com/flowfoundation/wallet/mixpanel/MixpanelConst.kt
  app/src/main/java/com/flowfoundation/wallet/mixpanel/MixpanelManager.kt
  app/src/main/java/com/flowfoundation/wallet/mixpanel/SurgePricingMetrics.kt
  app/src/main/java/com/flowfoundation/wallet/network/NetworkConst.kt
  app/src/main/java/com/flowfoundation/wallet/network/functions/Functions.kt
  app/src/main/java/com/flowfoundation/wallet/network/interceptor/PayerServiceInterceptor.kt
  app/src/main/java/com/flowfoundation/wallet/network/model/PayerResponse.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/SurgePricingAlertViewXML.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/webview/fcl/FclMessageHandler.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/webview/fcl/FclScript.kt
Due: none

fix: payload key
  apps/extension/src/core/service/openapi.ts
Due: eslint --cache --fix, prettier --write

fix: remove proposerAuthFunction
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/core/service/__tests__/test-data/api-test-results.ts
  apps/extension/src/core/service/__tests__/test-data/test-groups.ts
  apps/extension/src/core/service/openapi.ts
  apps/extension/src/core/service/userWallet.ts
Due: eslint --cache --fix, prettier --write

feat: add surge warning in send
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/stores/src/payerStatusStore.query.ts
  packages/ui/src/components/Surge/SurgeFeeConfirmationSection.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add surge warning on NFT page
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: fix import path error
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add warning button color on NFT
  packages/screens/src/send/SendSummaryScreen.query.tsx
Due: eslint --cache --fix, prettier --write

Update main.jsbundle
  apps/react-native/ios/main.jsbundle
Due: none

Feat/surge alert on dapp 553 (#1848)
  apps/react-native/ios/FRW/Foundation/Payer/Payer429Interceptor.swift
  apps/react-native/ios/FRW/Modules/Browser/Handler/JSMessageHandler.swift
  apps/react-native/ios/FRW/Services/Manager/Alert/AlertCenter.swift
Due: none

feat: backend integration for existing onboarding
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/components/NavigationBackButton.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: backend integration for existing onboarding
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/GetStartedScreen.query.tsx
  packages/screens/src/onboarding/NotificationPreferencesScreen.query.tsx
  packages/screens/src/onboarding/ProfileTypeSelectionScreen.query.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: backend integration for existing onboarding
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: id in platform bridge
  apps/extension/src/bridge/PlatformContext.tsx
Due: eslint --cache --fix, prettier --write

fix: use userid as key for usermetadata
  apps/extension/src/core/service/account-management.ts
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/data-model/cache-data-keys.ts
Due: eslint --cache --fix, prettier --write

feat: add key search on Secure Enclave Key
  apps/react-native/ios/FRW/Modules/Wallet/FlowWalletKit/KeyProtocol+Add.swift
  apps/react-native/ios/FRW/Modules/Wallet/FlowWalletKit/SecureEnclaveKey+Add.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

feat: prepare for flo-wallet-kit integration
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: prepare for flo-wallet-kit integration
  apps/react-native/src/bridge/NativeFRWBridge.ts
Due: eslint --cache --fix, prettier --write

feat: prepare for flo-wallet-kit integration
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: add eth provider on wallet package
  packages/wallet/src/__tests__/eth-provider.test.ts
  packages/wallet/src/__tests__/eth-signer.test.ts
  packages/wallet/src/crypto/wallet-core-provider.ts
  packages/wallet/src/index.ts
  packages/wallet/src/keys/private-key.ts
  packages/wallet/src/keys/seed-phrase-key.ts
  packages/wallet/src/services/eth-provider.ts
  packages/wallet/src/services/eth-signer.ts
  packages/wallet/src/types/key-protocol.ts
  packages/wallet/src/types/key.ts
Due: eslint --cache --fix, prettier --write

fix: update eth unit test
  packages/wallet/src/__tests__/eth-signer.test.ts
  packages/wallet/src/services/eth-signer.ts
Due: eslint --cache --fix, prettier --write

feat: add eth methods for key type
  packages/wallet/src/__tests__/eth-signer.test.ts
  packages/wallet/src/index.ts
  packages/wallet/src/keys/private-key.ts
  packages/wallet/src/keys/seed-phrase-key.ts
  packages/wallet/src/services/eth-signer.ts
  packages/wallet/src/types/key-protocol.ts
  packages/wallet/src/wallet/wallet.ts
Due: eslint --cache --fix, prettier --write

feat: update bridge scripts for backwards-compatibility
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Bridge/transactions/batch_bridge_nft_from_evm_to_flow_with_payer.cdc
  packages/cadence/src/cadence/Bridge/transactions/bridge_nft_from_evm_to_flow_with_payer.cdc
  packages/workflow/tests/send.nft.test.ts
  packages/workflow/tests/utils/authz.ts
Due: eslint --cache --fix, prettier --write

fix: surge pricing alert
  app/src/main/java/com/flowfoundation/wallet/manager/flowjvm/transaction/Transaction.kt
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/WalletConnectRequestDispatcher.kt
  app/src/main/java/com/flowfoundation/wallet/manager/walletconnect/WalletConnectResponse.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/webview/fcl/FclMessageHandler.kt
  app/src/main/java/com/flowfoundation/wallet/widgets/webview/fcl/FclScript.kt
  app/src/main/res/layout/dialog_surge_pricing_alert.xml
Due: none

fix: android lottie svg and update android commit hash
  packages/ui/src/components/ConfirmationAnimation.tsx
  packages/ui/src/utils/lottie-image-injection.ts
Due: eslint --cache --fix, prettier --write

feat: update ft script with init resource
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Bridge/transactions/bridge_tokens_from_evm_to_flow_v3.cdc
  packages/workflow/tests/send.ft.test.ts
Due: eslint --cache --fix, prettier --write

feat: add wallet error for wallet package
  packages/wallet/src/crypto/wallet-core-provider.ts
  packages/wallet/src/index.ts
  packages/wallet/src/keys/private-key.ts
  packages/wallet/src/keys/seed-phrase-key.ts
  packages/wallet/src/services/eth-provider.ts
  packages/wallet/src/services/eth-signer.ts
  packages/wallet/src/services/key-indexer.ts
  packages/wallet/src/types/errors.ts
  packages/wallet/src/wallet/wallet.ts
Due: eslint --cache --fix, prettier --write
