Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

feat: cover svg to png
  apps/react-native/src/components/NFTList/NFTListCard.tsx
  apps/react-native/src/components/ui/media/IconView.tsx
  apps/react-native/src/components/ui/media/NFTCollectionRow.tsx
  apps/react-native/src/screens/NFTList/NFTListScreen.tsx
  packages/utils/src/collection.ts
  packages/utils/src/index.ts
  packages/utils/src/nft.ts
  packages/utils/src/svgToPng.ts
Due: eslint --cache --fix, prettier --write

fix: icon issues
  .claude/settings.local.json
  packages/context/src/interfaces/PlatformSpec.ts
  packages/icons/package.json
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/TokenCard.tsx
Due: eslint --cache --fix, prettier --write

ci: ignore generated file eslint check
  eslint.config.mjs
Due: eslint --cache --fix, prettier --write

fix: show emoji in sending
  apps/extension/src/ui/views/SendTokensScreen/index.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/ToAccountSection.tsx
  packages/ui/src/components/TransactionConfirmationModal.tsx
  packages/ui/src/foundation/Avatar.tsx
  packages/ui/src/types/index.ts
Due: eslint --cache --fix, prettier --write

fix: android release issue
  .claude/settings.local.json
  apps/react-native/index.js
  apps/react-native/package.json
Due: eslint --cache --fix, prettier --write

fix: update pnpm lock file
  apps/react-native/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: ui feedback + update themes
  .claude/settings.local.json
  apps/react-native/scripts/clean-revopush-duplicates.js
  apps/react-native/scripts/postinstall-cleanup-revopush.js
  apps/react-native/src/components/NFTList/NFTListCard.tsx
  apps/react-native/src/components/ui/cards/WalletAccountSection.tsx
  apps/react-native/src/components/ui/feedback/EVMChip.tsx
  apps/react-native/src/components/ui/forms/SegmentedControl.tsx
  apps/react-native/src/components/ui/modals/AccountSelectorModal.tsx
  apps/react-native/src/global.css
  apps/react-native/src/screens/NFTList/NFTListScreen.tsx
  apps/react-native/src/screens/Send/SelectTokens/SelectTokensScreen.tsx
  apps/react-native/src/screens/Send/SendTo/components/AddressSearchBox.tsx
  apps/react-native/src/screens/Send/shared/components/AccountCard.tsx
  packages/ui/src/components/AccountCard.tsx
Due: eslint --cache --fix, prettier --write

feat: ui feedback + update themes
  apps/react-native/scripts/clean-revopush-duplicates.js
  apps/react-native/scripts/postinstall-cleanup-revopush.js
  apps/react-native/src/global.css
Due: eslint --cache --fix, prettier --write

feat: ui feedback + update themes
  apps/react-native/src/components/ui/feedback/EVMChip.tsx
  apps/react-native/src/global.css
Due: eslint --cache --fix, prettier --write

feat: ui feedback + update themes
  apps/react-native/src/components/ui/feedback/EVMChip.tsx
Due: eslint --cache --fix, prettier --write

feat: update lockfile
  pnpm-lock.yaml
Due: prettier --write

feat: ui feedback + update themes
  .claude/settings.local.json
  apps/react-native/src/components/ui/animations/SendConfirmationAnimation.tsx
Due: eslint --cache --fix, prettier --write

fix: animation
  apps/react-native/src/components/ui/animations/SendConfirmationAnimation.tsx
Due: eslint --cache --fix, prettier --write

fix: commit
  README.md
Due: prettier --write

fix: confirmation style and move header component to ui
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/ui/views/SendTokensScreen/index.tsx
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/ExtensionHeader.tsx
  packages/ui/src/components/TransactionConfirmationModal.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

fix: update naviation to use the selected token
  apps/extension/src/bridge/ExtensionNavigation.ts
  apps/extension/src/ui/views/SelectTokensScreenView/index.tsx
  apps/extension/src/ui/views/SendToScreenView/index.tsx
Due: eslint --cache --fix, prettier --write

feat: update tokenamount section and toaccount section
  apps/extension/src/ui/views/SendTokensScreen/index.tsx
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/SendArrowDivider.tsx
  packages/ui/src/components/ToAccountSection.tsx
  packages/ui/src/components/TokenAmountInput.tsx
Due: eslint --cache --fix, prettier --write

feat: update react version to 18.3.1
  apps/react-native/package.json
Due: prettier --write

feat: add language zh,en,ru,ja
  apps/react-native/src/App.tsx
  apps/react-native/src/lib/i18n.ts
  apps/react-native/src/locales/ja.json
  apps/react-native/src/locales/ru.json
  apps/react-native/src/locales/zh.json
Due: eslint --cache --fix, prettier --write

Six/localized (#1616)
  apps/react-native/ios/FRW/App/AppDelegate.swift
  apps/react-native/ios/FRW/Modules/ReactNative/ReactNativeViewController.swift
  apps/react-native/ios/FRW/Services/Network/FRW/Model/Response/NFTListResponse.swift
  apps/react-native/ios/Podfile.lock
  apps/react-native/ios/main.jsbundle
Due: none

feat: fix before merge
  apps/extension/tsconfig.json
  packages/screens/package.json
Due: prettier --write

fix: revert react version
  apps/react-native/package.json
Due: prettier --write

feat: add automated release notes generation workflow
  .github/release-notes-template.yml
  .github/workflows/release-notes.yml
  CLAUDE.md
Due: prettier --write

feat: fix issues before pr
  apps/extension/package.json
  apps/extension/src/ui/views/InnerRoute.tsx
  apps/extension/src/ui/views/SelectTokensScreen/index.tsx
  apps/react-native/src/assets/placeholder_nft.png
  packages/screens/src/index.ts
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/package.json
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/ToAccountSection.tsx
  packages/ui/src/foundation/SegmentedControl.tsx
Due: eslint --cache --fix, prettier --write

feat: fix type
  packages/ui/src/types/index.ts
Due: eslint --cache --fix, prettier --write

feat: upgrade to AI-powered release notes generation
  .github/workflows/release-notes.yml
  CLAUDE.md
Due: prettier --write

feat: pnpm lock yaml update
  pnpm-lock.yaml
Due: prettier --write

fix: optimize for monorepo and remove unnecessary template
  .github/release-notes-template.yml
  .github/workflows/release-notes.yml
  CLAUDE.md
Due: prettier --write

fix: improve security and increase token limit for AI generation
  .github/workflows/release-notes.yml
Due: prettier --write

fix: eliminate command substitution security risk with jq --rawfile
  .github/workflows/release-notes.yml
Due: prettier --write

fix: satisfy static analysis by using explicit environment variable
  .github/workflows/release-notes.yml
Due: prettier --write

fix: debug gesture handler
  app/build.gradle
Due: none

fix: android header text cut off, header background color
  apps/react-native/src/components/NavigationTitle.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

fix: android build with tamagui components
  apps/react-native/src/screens/Home/HomeScreen.tsx
Due: eslint --cache --fix, prettier --write

feat: add storage warning modal
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/Modal.tsx
  packages/ui/src/components/StorageExceededAlert.tsx
  packages/ui/src/components/StorageWarning.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add React Native cleaning tool with monorepo support
  CLAUDE.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add clean:rn commands to React Native app and fix auto command
  apps/react-native/package.json
  package.json
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
