Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

feat: backup flow ui
  packages/screens/src/backup/BackupOptionsScreen.query.tsx
  packages/screens/src/backup/ConfirmImportProfileScreen.query.tsx
  packages/screens/src/backup/DeviceBackupScanScreen.query.tsx
  packages/screens/src/backup/EnterSeedPhraseScreen.query.tsx
  packages/screens/src/backup/ImportProfileScreen.query.tsx
  packages/screens/src/backup/index.ts
  packages/screens/src/locales/en.json
Due: eslint --cache --fix, prettier --write

test: update test scripts
  packages/workflow/tests/send.nft.test.ts
Due: eslint --cache --fix, prettier --write

chore: fix type error
  packages/screens/src/send/SendToScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

chore: upfate code
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: update evm dapp connection using eoa address
  apps/extension/src/background/controller/provider/controller.ts
  apps/extension/src/shared/constant/algo-constants.ts
  apps/extension/src/ui/hooks/useProfileHook.ts
  apps/extension/src/ui/views/Approval/components/EthApproval/EthConfirm/index.tsx
  apps/extension/src/ui/views/Approval/components/EthApproval/EthConnect/index.tsx
Due: eslint --cache --fix, prettier --write

fix: key is not on the server. (#1832)
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/MultiRestore/ViewModel/RestoreMultiAccountViewModel.swift
  apps/react-native/ios/FRW/Services/Manager/Wallet/WalletManager.swift
Due: none

feat: remove moveasset router
  apps/react-native/ios/FRW/Modules/TrustProvider/TrustJSMessageHandler.swift
  apps/react-native/ios/FRW/Modules/Wallet/MoveAsset/MoveAssetsAction.swift
  apps/react-native/ios/FRW/Modules/Wallet/WalletViewModel.swift
Due: none

fix: only check main account storage
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: surge price handling browser & walletconnect
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Browser/BrowserViewController+JS.swift
  apps/react-native/ios/FRW/Modules/Browser/Model/FCLScripts.swift
  apps/react-native/ios/FRW/Services/Manager/WalletConnect/WalletConnectManager.swift
  apps/react-native/ios/FRW/Services/Network/FRW/Model/Response/PayerStatus.swift
  apps/react-native/ios/FRW/Services/Network/FRWWeb/FRWWebEndpoint.swift
  apps/react-native/ios/FRW/Services/Network/FirebaseAPI/FirebaseAPI.swift
  apps/react-native/ios/Podfile.lock
Due: none

feat: chang error code style
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
  packages/screens/src/send/SendToScreen.query.tsx
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/types/src/Errors.ts
  packages/utils/package.json
  packages/utils/src/errors.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: update assertion
  packages/utils/src/errors.ts
Due: eslint --cache --fix, prettier --write

feat: update params
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: update function
  packages/screens/src/send/SendSummaryScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: sort the profilelist to show the current account first
  packages/screens/src/send/SendToScreen.query.tsx
  packages/ui/src/components/ProfileList.tsx
Due: eslint --cache --fix, prettier --write

feat: update to 3.0.3
  apps/extension/package.json
Due: prettier --write

feat: display all profile in send account list
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
Due: none

feat: new assets
  packages/screens/src/onboarding/GetStartedScreen.query.tsx
  packages/ui/src/assets/images/index.ts
  packages/ui/src/assets/images/onboarding/get_started_background.png
  packages/ui/src/components/onboarding/OnboardingBackground.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: new assets
  packages/screens/src/onboarding/BackupOptionsScreen.query.tsx
  packages/ui/src/assets/images/index.ts
  packages/ui/src/assets/images/onboarding/card_bg.png
  packages/ui/src/assets/images/onboarding/card_bg_2.png
  packages/ui/src/components/onboarding/BackupOptionCard.tsx
Due: eslint --cache --fix, prettier --write

feat: new assets
  packages/screens/src/onboarding/RecoveryPhraseScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: new assets
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: hide the transaction free fee when surgedata is active
  apps/extension/src/ui/views/Approval/components/EthApproval/EthConfirm/TransactionBlock.tsx
Due: eslint --cache --fix, prettier --write

fix: update the render
  apps/extension/src/ui/views/Approval/components/EthApproval/EthConfirm/TransactionBlock.tsx
  apps/extension/src/ui/views/Approval/components/EthApproval/EthConfirm/index.tsx
Due: eslint --cache --fix, prettier --write

Update incorrect endpoint (#1838)
  apps/react-native/ios/FRW/Modules/Browser/Handler/JSMessageHandler.swift
  apps/react-native/ios/FRW/Services/Network/FRWWeb/FRWWebEndpoint.swift
  apps/react-native/ios/FRW/Services/Network/FirebaseAPI/FirebaseAPI.swift
  apps/react-native/ios/Podfile.lock
Due: none

Feat/553 ios update bridge fee and payer signer endpoint (#1839)
  apps/react-native/ios/FRW/Foundation/Payer/BridgeFeePayer.swift
  apps/react-native/ios/FRW/Services/Network/FRW/FRWAPI+Cadence.swift
  apps/react-native/ios/FRW/Services/Network/FRWWeb/FRWWebEndpoint.swift
  apps/react-native/ios/Podfile.lock
Due: none

feat: update bridge nft script
  packages/cadence/src/cadence.generated.ts
  packages/cadence/src/cadence/Bridge/transactions/batch_bridge_nft_from_evm_to_flow_with_payer.cdc
Due: eslint --cache --fix, prettier --write

feat: update codegen and test scripts
  packages/api/src/codegen/service.generated.ts
  packages/workflow/tests/send.nft.test.ts
  packages/workflow/tests/utils/authz.ts
Due: eslint --cache --fix, prettier --write

feat: update ApiResponse type
  packages/api/js_swagger.json
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

feat: update api types
  packages/api/js_swagger.json
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

feat: update swagger
  packages/api/js_swagger.json
Due: prettier --write

feat: update payer params types
  packages/api/js_swagger.json
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

feat: update token response
  packages/api/js_swagger.json
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

feat: update sign res
  packages/api/js_swagger.json
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

feat: update types
  packages/stores/src/payerStatusStore.query.ts
Due: eslint --cache --fix, prettier --write

feat: update types
  packages/api/js_swagger.json
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

feat: update network type
  packages/api/js_swagger.json
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write
