Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

fix: comment playwright
  .github/workflows/extension-build.yml
Due: prettier --write

refactor: change getRouteParams from platform to navigation
  packages/context/src/interfaces/Navigation.ts
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

refactor: update flow wallet application location
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/flowfoundation/wallet/FlowWalletApplication.kt
Due: none

fix: add default value to getRouteParams avoid runtime crash
  packages/context/src/interfaces/storage/README.md
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: use selected tokens from store
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

docs: add guidelines doc
  docs/DEVELOPMENT_GUIDELINES.md
Due: prettier --write

docs: update readme
  README.md
Due: prettier --write

fix: use token store
  apps/extension/src/bridge/PlatformImpl.ts
  packages/screens/src/send/SelectTokensScreen.tsx
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: update selectedcollection type
  packages/screens/src/send/SelectTokensScreen.tsx
  packages/stores/src/types.ts
Due: eslint --cache --fix, prettier --write

fix: remove console log
  packages/screens/src/send/SelectTokensScreen.tsx
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: android fix
  .gitignore
  packages/ui/src/components/AccountCard.tsx
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: fix sanity check issues
  apps/react-native/src/components/ConfirmationBottomSheet.tsx
  apps/react-native/src/components/ui/modals/AccountSelectorModal.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/Send/SendNFT/SendMultipleNFTsScreen.tsx
  apps/react-native/src/screens/Send/SendNFT/SendSingleNFTScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: sanity check issues
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/flowfoundation/wallet/ReactNativeDemoActivity.java
  app/src/main/java/com/flowfoundation/wallet/bridge/BridgeModels.kt
  app/src/main/java/com/flowfoundation/wallet/bridge/NativeFRWBridge.kt
  app/src/main/java/com/flowfoundation/wallet/page/security/recovery/SecurityPrivateKeyActivity.kt
  app/src/main/java/com/flowfoundation/wallet/page/security/recovery/SecurityPublicKeyActivity.kt
  app/src/main/java/com/flowfoundation/wallet/page/transaction/record/TransactionRecordActivity.kt
  app/src/main/java/com/flowfoundation/wallet/page/transaction/record/presenter/TransferRecordItemPresenter.kt
  app/src/main/res/layout/activity_security_private_key.xml
  app/src/main/res/layout/activity_security_public_key.xml
Due: none

fix: fix android sanity check issues
  apps/react-native/src/components/SendWorkflowManager.tsx
  apps/react-native/src/contexts/ConfirmationDrawerContext.tsx
  apps/react-native/src/contexts/SendBottomSheetContext.tsx
  apps/react-native/src/navigation/AppNavigator.tsx
  apps/react-native/src/screens/Send/SendNFT/SendSingleNFTScreen.tsx
  packages/stores/src/sendStore.ts
Due: eslint --cache --fix, prettier --write

fix: collection param types
  packages/stores/src/sendStore.ts
Due: eslint --cache --fix, prettier --write

fix: null check for tokens
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: network applied
  packages/screens/src/send/SelectTokensScreen.tsx
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: sanity check issues
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/flowfoundation/wallet/ReactNativeDemoActivity.java
  app/src/main/java/com/flowfoundation/wallet/bridge/NativeFRWBridge.kt
Due: none

feat: build fix?
  packages/ui/tsconfig.json
Due: prettier --write

fix: storage loading
  apps/extension/src/bridge/ExtensionNavigation.ts
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/bridge/PlatformImpl.ts
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

feat: replace `react-native-modal` by React Native Modal
  apps/react-native/package.json
  apps/react-native/src/components/ConfirmationBottomSheet.tsx
  apps/react-native/src/components/SendBottomSheet.tsx
  apps/react-native/src/components/ui/index.ts
  apps/react-native/src/components/ui/modals/AccountSelectorModal.tsx
  apps/react-native/src/components/ui/modals/ActionSheet.tsx
  apps/react-native/src/components/ui/modals/AlertModal.tsx
  apps/react-native/src/components/ui/modals/BaseModal.tsx
  apps/react-native/src/components/ui/modals/BottomModal.tsx
  apps/react-native/src/components/ui/modals/ConfirmModal.tsx
  apps/react-native/src/components/ui/modals/ModalExamples.tsx
  apps/react-native/src/components/ui/modals/index.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: fix the to account process
  apps/extension/src/bridge/ExtensionStorage.ts
  apps/extension/src/bridge/PlatformImpl.ts
  packages/screens/src/send/SendToScreen.tsx
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: update RecentRecipientsService
  packages/services/src/RecentRecipientsService.ts
Due: eslint --cache --fix, prettier --write

fix: structure
  apps/extension/src/bridge/ExtensionStorage.ts
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/bridge/PlatformImpl.ts
  packages/context/src/index.ts
  packages/context/src/interfaces/storage/StorageKeyMap.ts
  packages/screens/src/send/SendTokensScreen.tsx
  packages/services/src/RecentRecipientsService.ts
  packages/types/src/RecentRecipient.ts
  packages/types/src/index.ts
  packages/ui/src/components/TokenSelectorModal.tsx
  packages/ui/src/components/TransactionConfirmationModal.tsx
  packages/ui/stories/TransactionConfirmationModal.stories.tsx
Due: eslint --cache --fix, prettier --write

fix: update storage type
  packages/context/src/index.ts
  packages/context/src/interfaces/storage/StorageKeyMap.ts
Due: eslint --cache --fix, prettier --write

feat: replace mmkv with asyncStorage
  apps/react-native/package.json
  apps/react-native/src/bridge/PlatformImpl.ts
  apps/react-native/src/lib/index.ts
  apps/react-native/src/lib/storage.ts
  apps/react-native/src/lib/zustand-mmkv.ts
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

feat: add NFT detail screen and router
  apps/extension/src/bridge/ExtensionNavigation.ts
  apps/extension/src/ui/views/InnerRoute.tsx
  apps/extension/src/ui/views/NFTScreen/NFTDetailScreen.tsx
  packages/screens/src/send/NFTDetailScreen.tsx
  packages/screens/src/send/NFTListScreen.tsx
  packages/ui/src/components/NFTCard.tsx
  packages/ui/src/components/NFTGrid.tsx
  packages/ui/src/components/NFTSelectionBar.tsx
Due: eslint --cache --fix, prettier --write

fix: update build error
  packages/services/src/RecentRecipientsService.ts
Due: eslint --cache --fix, prettier --write

Six/thread safe evm (#1653)
  apps/react-native/ios/FRW/Modules/Wallet/WalletViewModel.swift
  apps/react-native/ios/FRW/Services/Token/EVMTokenBalanceProvider.swift
  apps/react-native/ios/FRW/Services/Token/TokenBalanceHandler.swift
  apps/react-native/ios/Podfile.lock
  apps/react-native/ios/main.jsbundle
Due: none

fix: update type check
  packages/services/src/RecentRecipientsService.ts
Due: eslint --cache --fix, prettier --write

fix: build type
  packages/services/src/RecentRecipientsService.ts
Due: eslint --cache --fix, prettier --write

fix: use the storage map type
  packages/services/src/RecentRecipientsService.ts
Due: eslint --cache --fix, prettier --write

fix: resolve concurrent token sorting crash with pure Swift Decimal comparison
  apps/react-native/ios/FRW/Services/Token/CadenceTokenBalanceProvider.swift
  apps/react-native/ios/FRW/Services/Token/EVMTokenBalanceProvider.swift
Due: none

fix: update i18 to remove hardcoded text
  apps/react-native/src/components/ui/modals/AccountSelectorModal.tsx
  apps/react-native/src/locales/en.json
Due: eslint --cache --fix, prettier --write

fix: nft bottom drawer
  apps/react-native/src/screens/NFTList/NFTListScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: sanity check issues
  app/src/main/java/com/flowfoundation/wallet/FlowWalletApplication.kt
  app/src/main/java/com/flowfoundation/wallet/ReactNativeDemoActivity.java
  app/src/main/java/com/flowfoundation/wallet/bridge/NativeFRWBridge.kt
  app/src/main/java/com/flowfoundation/wallet/page/nft/nftlist/presenter/NFTListItemPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/page/nft/nftlist/widget/NftItemPopupMenu.kt
Due: none

fix: code review
  apps/react-native/src/components/ui/modals/AccountSelectorModal.tsx
Due: eslint --cache --fix, prettier --write

feat: add missing import
  packages/ui/src/components/TransactionConfirmationModal.tsx
Due: eslint --cache --fix, prettier --write

docs: add internationalization (i18n) guidelines for UI/screens packages
  docs/DEVELOPMENT_GUIDELINES.md
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
