Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

feat: nft styling
  packages/ui/src/components/MultipleNFTsPreview.tsx
Due: eslint --cache --fix, prettier --write

fix: nft card fix
  packages/ui/src/components/NFTCard.tsx
Due: eslint --cache --fix, prettier --write

fix: nft card fix
  packages/ui/src/components/NFTGrid.tsx
Due: eslint --cache --fix, prettier --write

fix: nft bottom drawer
  packages/ui/src/components/NFTSelectionBar.tsx
Due: eslint --cache --fix, prettier --write

fix: nft detail screen
  packages/screens/src/locales/en.json
  packages/screens/src/send/NFTListScreen.query.tsx
  packages/ui/src/components/CollectionHeader.tsx
  packages/ui/src/components/NFTDetailView.tsx
  packages/ui/src/components/NFTSelectionBar.tsx
Due: eslint --cache --fix, prettier --write

fix: nft detail screen
  packages/ui/src/components/NFTDetailView.tsx
Due: eslint --cache --fix, prettier --write

fix: mobile padding
  packages/screens/src/send/SendToScreen.query.tsx
  packages/ui/src/components/AddressBookSection.tsx
  packages/ui/src/components/NFTCard.tsx
  packages/ui/src/components/NFTGrid.tsx
  packages/ui/src/components/ProfileList.tsx
  packages/ui/src/components/RecipientItem.tsx
  packages/ui/src/components/RecipientList.tsx
Due: eslint --cache --fix, prettier --write

fix: gap for profilelist
  packages/ui/src/components/ProfileList.tsx
  packages/ui/src/components/RecipientItem.tsx
Due: eslint --cache --fix, prettier --write

feat: add payer api for codegen
  packages/api/js_swagger.json
  packages/api/src/codegen/goService.generated.ts
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

feat: add surgemodal ui
  packages/icons/assets/alert-triangle.svg
  packages/icons/src/react-native/AlertTriangle.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/AlertTriangle.generated.tsx
  packages/icons/src/web/index.generated.ts
  packages/ui/src/components/Surge/SurgeBanner.tsx
  packages/ui/src/components/Surge/SurgeModal.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: add payerstatus api
  packages/api/src/codegen/service.generated.ts
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/stores/src/payerStatusStore.query.ts
  packages/types/src/query/QueryDomain.ts
  packages/ui/src/components/Surge/SurgeModal.tsx
Due: eslint --cache --fix, prettier --write

fix: export payer status
  packages/stores/src/index.ts
Due: eslint --cache --fix, prettier --write

Create migrate-secrets.yml
  .github/workflows/migrate-secrets.yml
Due: prettier --write

Update migrate-secrets.yml
  .github/workflows/migrate-secrets.yml
Due: prettier --write

feat: new payer signature
  apps/extension/package.json
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/tsconfig.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

chore: fix type error of swagger
  packages/api/js_swagger.json
  packages/api/src/codegen/service.generated.ts
Due: eslint --cache --fix, prettier --write

fix: use fetch query
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/bridge/ExtensionNavigation.ts
  apps/extension/src/core/service/openapi.ts
  apps/extension/src/core/service/userWallet.ts
  apps/extension/src/ui/views/InnerRoute.tsx
  packages/stores/src/index.ts
  packages/stores/src/payerStatusStore.query.ts
Due: eslint --cache --fix, prettier --write

fix: toast bridge with title
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/BridgeModels.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
Due: none

fix: comment out useToast
  packages/screens/src/send/SendSummaryScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: update payerfunction
  apps/extension/src/bridge/PlatformImpl.ts
  packages/stores/src/index.ts
  packages/stores/src/payerStatusStore.query.ts
Due: eslint --cache --fix, prettier --write

ci: add release note for android
  .github/workflows/android.yml
Due: prettier --write

ci: fix incorrect format on ci
  .github/workflows/android.yml
Due: prettier --write

ci: update android ci
  .github/workflows/android.yml
Due: prettier --write

ci: update android ci trigger way
  .github/workflows/android.yml
Due: prettier --write

ci: add push trigger for debugging
  .github/workflows/android.yml
Due: prettier --write

ci: add missing file
  .github/workflows/android.yml
Due: prettier --write

ci: update android ci
  .github/workflows/android.yml
  docs/Android-CI-CD.md
Due: prettier --write

ci: upload apk and aab to artifacts
  .github/workflows/android.yml
  docs/Android-CI-CD.md
Due: prettier --write
