Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, node scripts/optimize-images.js

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,webp}": ["node scripts/optimize-images.js"]
}

chore: update styles
  apps/extension/src/ui/views/Dashboard/index.tsx
  packages/ui/src/components/UpdateDialog.tsx
  packages/ui/src/components/UpdateDialog.web.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

Adding SAST-SCA
  apps/react-native/ios/.github/workflows/code-analysis.yml
  apps/react-native/ios/.github/workflows/dependency-review.yml
Due: prettier --write

Updates to branch
  apps/react-native/ios/.github/workflows/code-analysis.yml
  apps/react-native/ios/.github/workflows/dependency-review.yml
Due: prettier --write

feat: Are there multiple backups
  apps/react-native/ios/FRW/Modules/Profile/ProfileView.swift
  apps/react-native/ios/FRW/Modules/Profile/ProfileViewModel.swift
Due: none

feat: show coa first when it has asset
  apps/react-native/ios/FRW/Modules/Browser/View/Auth/AuthnViewModel.swift
Due: none

feat: fetch error on transfer list
  apps/react-native/ios/FRW/Modules/MultiBackup/ViewModel/BackupListViewModel.swift
  apps/react-native/ios/FRW/Modules/TransactionList/TransferListHandler.swift
Due: none

fix: disable swipe-back gesture on sensitive onboarding screens
  apps/react-native/src/navigation/AppNavigator.tsx
Due: eslint --cache --fix, prettier --write

feat: remove backupTypeDidChanged on profile
  apps/react-native/ios/FRW/Modules/Profile/ProfileViewModel.swift
Due: none

fix: prevent Android back button during account creation using beforeRemove listener
  packages/screens/src/onboarding/ConfirmRecoveryPhraseScreen.query.tsx
  packages/screens/src/onboarding/SecureEnclaveScreen.query.tsx
Due: eslint --cache --fix, prettier --write

1082 - onboarding testing feedback (#2380)
  app/src/main/java/com/flowfoundation/wallet/manager/account/AccountManager.kt
  app/src/main/java/com/flowfoundation/wallet/manager/account/AccountWalletManager.kt
  app/src/main/java/com/flowfoundation/wallet/manager/key/CryptoProviderManager.kt
  app/src/main/java/com/flowfoundation/wallet/manager/wallet/WalletCreationHelper.kt
  app/src/main/java/com/flowfoundation/wallet/page/profile/ProfileFragment.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/BridgeModels.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/handlers/AuthBridgeHandler.kt
Due: none

feat: add new icons
  apps/react-native/src/navigation/AppNavigator.tsx
  packages/icons/assets/link_backup.svg
  packages/icons/assets/lock_backup.svg
  packages/icons/assets/settings.svg
  packages/icons/src/react-native/LinkBackup.generated.tsx
  packages/icons/src/react-native/LockBackup.generated.tsx
  packages/icons/src/react-native/Settings.generated.tsx
  packages/icons/src/web/LinkBackup.generated.tsx
  packages/icons/src/web/LockBackup.generated.tsx
  packages/icons/src/web/Settings.generated.tsx
  packages/screens/src/backup/BackupTipScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: add new backup and settings icons
  packages/icons/assets/link_backup.svg
  packages/icons/assets/lock_backup.svg
  packages/icons/assets/settings.svg
  packages/icons/src/react-native/LinkBackup.generated.tsx
  packages/icons/src/react-native/LockBackup.generated.tsx
  packages/icons/src/react-native/Settings.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/LinkBackup.generated.tsx
  packages/icons/src/web/LockBackup.generated.tsx
  packages/icons/src/web/Settings.generated.tsx
  packages/icons/src/web/index.generated.ts
Due: eslint --cache --fix, prettier --write

chore: clean up
  packages/screens/src/backup/backup.types.ts
  packages/screens/src/backup/index.ts
Due: eslint --cache --fix, prettier --write

feat: keystore migration screen
  packages/icons/src/web/index.generated.ts
  packages/screens/src/backup/KeystoreMigrationScreen.query.tsx
  packages/screens/src/backup/index.ts
  packages/screens/src/locales/en.json
  packages/screens/src/locales/es.json
  packages/screens/src/locales/jp.json
  packages/screens/src/locales/ru.json
  packages/screens/src/locales/zh.json
Due: eslint --cache --fix, prettier --write

Fix checkout action version and enable dev & main branch scanning
  apps/react-native/ios/.github/workflows/code-analysis.yml
  apps/react-native/ios/.github/workflows/dependency-review.yml
Due: prettier --write

feat: parse pdf with password
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
  apps/react-native/ios/FRW/Modules/Login/PrivateKeyLoginView.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/PrivateKeyLoginViewModel.swift
  apps/react-native/ios/FRW/Modules/PDFParse/BloctoPDFExtractor.swift
  apps/react-native/ios/FRW/Modules/PDFParse/PDFParser.swift
  apps/react-native/ios/FRW/Services/Manager/Alert/PDFPasswordAlertView.swift
  apps/react-native/ios/Podfile.lock
Due: none

feat: dump version
  apps/react-native/ios/FRW.xcodeproj/project.pbxproj
Due: none

feat: handle import PDF with password on keystore
  apps/react-native/ios/FRW/Modules/Login/PrivateKeyLoginView.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/KeyStoreLoginViewModel.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/PrivateKeyLoginViewModel.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/RestoreWalletViewModel.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap.swift
Due: none

feat: parse line by line
  apps/react-native/ios/FRW/Modules/PDFParse/PDFParser.swift
Due: none

feat： keystore skip to private key
  apps/react-native/ios/FRW/Modules/Login/KeyStoreLoginView.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/KeyStoreLoginViewModel.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/PrivateKeyLoginViewModel.swift
  apps/react-native/ios/FRW/Modules/Login/ViewModel/RestoreWalletViewModel.swift
  apps/react-native/ios/FRW/Services/Router/RouteMap.swift
Due: none

feat: format json
  apps/react-native/ios/FRW/Modules/Login/ViewModel/KeyStoreLoginViewModel.swift
Due: none

feat: update podfile lock
  apps/react-native/ios/Podfile.lock
Due: none

chore: pull from dev
  app/src/main/res/values-zh-rHK/strings.xml
  app/src/main/res/values-zh-rSG/strings.xml
Due: none

chore: pull from dev
  app/src/main/java/com/flowfoundation/wallet/page/restore/keystore/viewmodel/KeyStoreRestoreViewModel.kt
  app/src/main/java/com/flowfoundation/wallet/page/token/detail/presenter/TokenDetailPresenter.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
Due: none

feat: update migrate files
  packages/icons/assets/lock-migrate.svg
  packages/icons/assets/migrate-illustrate.svg
  packages/icons/src/react-native/Lock.generated.tsx
  packages/icons/src/react-native/LockMigrate.generated.tsx
  packages/icons/src/react-native/MigrateIllustrate.generated.tsx
  packages/icons/src/react-native/index.generated.ts
  packages/icons/src/web/Lock.generated.tsx
  packages/icons/src/web/LockMigrate.generated.tsx
  packages/icons/src/web/MigrateIllustrate.generated.tsx
  packages/icons/src/web/index.generated.ts
  packages/screens/src/locales/en.json
  packages/screens/src/migration/InfoScreen.query.tsx
  packages/screens/src/migration/MigrationScreen.query.tsx
  packages/ui/src/components/AccountCard.tsx
  packages/ui/src/components/ConfirmationAnimationSection.tsx
  packages/ui/src/components/migration/MigrationAccountCard.tsx
  packages/ui/src/index.ts
Due: eslint --cache --fix, prettier --write

feat: json import with encrypted pdf
  apps/extension/package.json
  apps/extension/src/ui/components/PopupModal/pdfPasswordDialog.tsx
  apps/extension/src/ui/components/import-components/JsonImport.tsx
Due: eslint --cache --fix, prettier --write

feat: add upload button in privatekey also
  apps/extension/src/ui/components/import-components/ImportTabs.tsx
  apps/extension/src/ui/components/import-components/JsonImport.tsx
  apps/extension/src/ui/components/import-components/KeyImport.tsx
  apps/extension/src/ui/components/import-components/PdfUpload.tsx
Due: eslint --cache --fix, prettier --write

fix: inject
  apps/extension/src/content-script/index.ts
Due: eslint --cache --fix, prettier --write

fix: update ui and swap link
  apps/extension/src/ui/components/import-components/JsonImport.tsx
  apps/extension/src/ui/components/import-components/KeyImport.tsx
  apps/extension/src/ui/components/import-components/PdfUpload.tsx
  apps/extension/src/ui/utils/url-constants.ts
  apps/extension/src/ui/views/TokenDetail/TokenInfoCard.tsx
Due: eslint --cache --fix, prettier --write

fix: ui position
  apps/extension/src/ui/components/import-components/JsonImport.tsx
  apps/extension/src/ui/components/import-components/KeyImport.tsx
Due: eslint --cache --fix, prettier --write

feat: add identifier in the end
  apps/extension/src/ui/utils/url-constants.ts
  apps/extension/src/ui/views/TokenDetail/TokenInfoCard.tsx
Due: eslint --cache --fix, prettier --write
