Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --cache --fix"],
  "*.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}": ["prettier --write"]
}

feat: replace gorhom/bottom-sheet by react-native-modal
  apps/react-native/package.json
  apps/react-native/src/components/ConfirmationBottomSheet.tsx
  apps/react-native/src/components/SendBottomSheet.tsx
  apps/react-native/src/components/ui/modals/AccountSelectorModal.tsx
  apps/react-native/src/contexts/ConfirmationDrawerContext.tsx
Due: eslint --cache --fix, prettier --write

fix: correct clean:rn:auto command syntax
  apps/react-native/package.json
  package.json
Due: prettier --write

fix: status of first of HoldToSendButton is error
  apps/react-native/src/screens/Send/Confirmation/components/HoldToSendButton.tsx
Due: eslint --cache --fix, prettier --write

fix: minHeight to 70%
  apps/react-native/src/components/ConfirmationBottomSheet.tsx
Due: eslint --cache --fix, prettier --write

feat: sheet height adapt
  apps/react-native/src/components/ui/modals/AccountSelectorModal.tsx
Due: eslint --cache --fix, prettier --write

feat: search remove maxWidth
  apps/react-native/src/screens/Send/SendTo/components/AddressSearchBox.tsx
Due: eslint --cache --fix, prettier --write

feat: close confirm
  apps/react-native/src/contexts/ConfirmationDrawerContext.tsx
Due: eslint --cache --fix, prettier --write

feat: height of EVM
  apps/react-native/src/components/ui/feedback/EVMChip.tsx
Due: eslint --cache --fix, prettier --write

chore: update nft components styles
  packages/ui/src/components/NFTCard.tsx
  packages/ui/src/components/NFTCollectionRow.tsx
  packages/ui/src/components/NFTGrid.tsx
  packages/ui/src/components/NFTPropertiesGrid.tsx
  packages/ui/src/components/NFTPropertyTag.tsx
  packages/ui/src/components/NFTSelectionBar.tsx
  packages/ui/src/components/NFTSendPreview.tsx
  packages/ui/src/foundation/Button.tsx
  packages/ui/src/theme.ts
Due: eslint --cache --fix, prettier --write

fix: crash by i18n
  apps/react-native/src/App.tsx
  apps/react-native/src/lib/i18n.ts
Due: eslint --cache --fix, prettier --write

feat: feedback + code update
  packages/ui/src/components/StorageExceededAlert.tsx
  packages/ui/src/components/ToAccountSection.tsx
  packages/ui/src/components/TokenAmountInput.tsx
Due: eslint --cache --fix, prettier --write

feat: recover max feature
  apps/extension/src/ui/views/SendTokensScreen/index.tsx
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

feat: remove uncommented code
  packages/ui/src/components/StorageExceededAlert.tsx
  packages/ui/src/components/TokenAmountInput.tsx
Due: eslint --cache --fix, prettier --write

feat: update src code of extension
  apps/extension/src/ui/views/NFT/CollectionDetail.tsx
  apps/extension/src/ui/views/NFT/Detail.tsx
  apps/extension/src/ui/views/NFT/index.tsx
Due: eslint --cache --fix, prettier --write

feat: add Circle CI configuration for React Native builds
  .circleci/config.yml
  docs/CIRCLE-CI-SETUP.md
Due: prettier --write

fix: remove uncertified react-native orb from Circle CI config
  .circleci/config.yml
Due: prettier --write

ci: update circle ci url path
  .circleci/config.yml
  .claude/settings.local.json
Due: prettier --write

ci: remove not ready ci setup
  .circleci/config.yml
  docs/CIRCLE-CI-SETUP.md
Due: prettier --write

feat: support custom language
  apps/react-native/src/App.tsx
  apps/react-native/src/lib/i18n.ts
Due: eslint --cache --fix, prettier --write

feat: move init i18n before instabug
  apps/react-native/src/App.tsx
Due: eslint --cache --fix, prettier --write

fix: fix rn scrollview issue
  .npmrc
  pnpm-lock.yaml
Due: prettier --write

fix: refactor SendTokensScreen extension to use bridge pattern with correct account handling
  apps/extension/src/background/controller/wallet.ts
  apps/extension/src/bridge/ExtensionNavigation.ts
  apps/extension/src/bridge/PlatformContext.tsx
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/ui/views/SendTokensScreen/index.tsx
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/TransactionConfirmationModal.tsx
Due: eslint --cache --fix, prettier --write

fix: import dependency
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/ExtensionHeader.tsx
Due: eslint --cache --fix, prettier --write

fix: react native issue on ui package
  .npmrc
  apps/react-native/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: temp ignore i18n in rn
  .claude/settings.local.json
  apps/react-native/src/navigation/AppNavigator.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: resolve React Native inconsistencies across ui, workspace, and apps
  packages/icons/src/web/WalletCard.generated.tsx
Due: eslint --cache --fix, prettier --write

revert: restore original WalletCard.generated.tsx with figma attributes
  packages/icons/src/web/WalletCard.generated.tsx
Due: eslint --cache --fix, prettier --write

fix: send token import
  packages/screens/src/send/SendTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: use correct get jwtmethod
  apps/extension/src/bridge/PlatformImpl.ts
Due: eslint --cache --fix, prettier --write

feat: update “select token” to “Send”
  apps/react-native/src/locales/en.json
  apps/react-native/src/locales/es.json
  apps/react-native/src/locales/ja.json
  apps/react-native/src/locales/ru.json
  apps/react-native/src/locales/zh.json
Due: prettier --write

update rn setting
  app/build.gradle
  app/proguard-rules.pro
  app/src/main/java/com/flowfoundation/wallet/FlowWalletApplication.kt
  gradlew
Due: none

feat: add NFT detail wip
  apps/extension/src/bridge/ExtensionNavigation.ts
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/ui/views/InnerRoute.tsx
  apps/extension/src/ui/views/NFTScreen/NFTListScreen.tsx
  packages/screens/src/send/SelectTokensScreen.tsx
  packages/stores/src/sendStore.ts
  packages/stores/src/tokenStore.ts
  packages/stores/src/types.ts
  pnpm-workspace.yaml
Due: eslint --cache --fix, prettier --write

fix: update code-push version
  .editorconfig
  apps/react-native/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: update jwt get and selecttoken display
  apps/extension/src/background/index.ts
  apps/extension/src/bridge/ExtensionNavigation.ts
  apps/extension/src/bridge/PlatformImpl.ts
  apps/extension/src/ui/views/SelectTokensScreenView/index.tsx
  packages/screens/src/send/SelectTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

fix: get coin structure
  apps/extension/src/bridge/PlatformContext.tsx
  packages/screens/src/send/SelectTokensScreen.tsx
Due: eslint --cache --fix, prettier --write

feat: git feedback updated
  packages/screens/src/send/SendTokensScreen.tsx
  packages/ui/src/components/StorageExceededAlert.tsx
  packages/ui/src/components/StorageWarning.tsx
  packages/ui/src/components/TokenAmountInput.tsx
Due: eslint --cache --fix, prettier --write

fix: debugging build
  apps/react-native/babel.config.js
  apps/react-native/metro-combined-transformer.js
  apps/react-native/metro.config.js
  apps/react-native/package.json
  packages/icons/.gitignore
  pnpm-lock.yaml
Due: eslint --cache --fix, prettier --write

fix: debug build
  gradle.properties
Due: none
