Repository onflow/FRW-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

ci: update android ci file
  .github/workflows/android.yml
Due: prettier --write

feat: surge ui
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/Surge/SurgeFeeSection.tsx
  packages/ui/src/components/Surge/SurgeWarning.tsx
Due: eslint --cache --fix, prettier --write

feat: surge ui
  packages/ui/src/components/Surge/SurgeFeeSection.tsx
  packages/ui/src/components/Surge/SurgeWarning.tsx
Due: eslint --cache --fix, prettier --write

feat: surge ui
  packages/ui/src/components/Surge/PriceBreakdown.tsx
  packages/ui/src/components/Surge/SurgeFeeSection.tsx
Due: eslint --cache --fix, prettier --write

feat: surge ui
  packages/ui/src/components/Surge/SurgeFeeSection.tsx
Due: eslint --cache --fix, prettier --write

feat: surge ui
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/Surge/SurgeFeeSection.tsx
Due: eslint --cache --fix, prettier --write

feat: surge ui
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/Surge/SurgeFeeConfirmationSection.tsx
Due: eslint --cache --fix, prettier --write

feat: surge ui
  packages/screens/src/send/SendSummaryScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: surge ui
  packages/ui/src/components/ConfirmationDrawer.tsx
  packages/ui/src/components/Surge/SurgeFeeSection.tsx
  packages/ui/src/components/Surge/SurgeInfo.tsx
Due: eslint --cache --fix, prettier --write

feat: surge ui
  packages/ui/src/components/Surge/SurgeInfo.tsx
Due: eslint --cache --fix, prettier --write

feat: surge ui
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/ui/src/components/Surge/SurgeInfo.tsx
Due: eslint --cache --fix, prettier --write

feat: surge ui
  packages/screens/src/send/SendSummaryScreen.query.tsx
  packages/ui/src/components/Surge/SurgeFeeSection.tsx
  packages/ui/src/components/Surge/SurgeInfo.tsx
Due: eslint --cache --fix, prettier --write

ci: update android ci
  .github/workflows/android.yml
Due: prettier --write

fix: fetch queries with cache
  packages/screens/src/send/SendTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: integrate api
  packages/screens/src/send/SendTokensScreen.query.tsx
  packages/ui/src/components/Surge/SurgeFeeSection.tsx
  packages/ui/src/components/Surge/SurgeInfo.tsx
  packages/ui/src/components/Surge/SurgeWarning.tsx
Due: eslint --cache --fix, prettier --write

fix: profile name font size
  packages/ui/src/components/ProfileList.tsx
Due: eslint --cache --fix, prettier --write

fix: use toast
  packages/screens/src/send/SendSummaryScreen.query.tsx
Due: eslint --cache --fix, prettier --write

fix: update user evm to use random avatar
  apps/extension/src/core/service/userWallet.ts
Due: eslint --cache --fix, prettier --write

fix: font size
  packages/ui/src/components/ProfileList.tsx
Due: eslint --cache --fix, prettier --write

fix: window inject function name
  apps/extension/src/content-script/pageProvider/eth/index.ts
Due: eslint --cache --fix, prettier --write

feat: add bridge for get watch address for React Native (#1764)
  apps/react-native/ios/FRW/Foundation/Bridge/BridgeModels.swift
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
Due: none

feat: add watch address #335
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/send/SelectTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

docs: update android ci doc
  docs/Android-CI-CD.md
Due: prettier --write

ci: simplify ci scripts
  .github/workflows/android.yml
  docs/Android-CI-CD.md
Due: prettier --write

fix: profile list font size
  packages/ui/src/components/ProfileList.tsx
Due: eslint --cache --fix, prettier --write

update android ci configuration
  app/build.gradle
  build.gradle
Due: none

Feat/add custom watch address rn (#1769)
  apps/react-native/ios/FRW/Foundation/Bridge/RCTNativeFRWBridge.mm
  apps/react-native/ios/FRW/Foundation/Bridge/TurboModuleSwift.swift
Due: none

feat: replace getWatchAddress with getDebugAddress
  apps/extension/src/bridge/PlatformImpl.ts
  apps/react-native/src/bridge/NativeFRWBridge.ts
  apps/react-native/src/bridge/PlatformImpl.ts
  packages/context/src/interfaces/PlatformSpec.ts
  packages/screens/src/send/SelectTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: validate debugAddress
  packages/screens/src/send/SelectTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

feat: trim address
  packages/screens/src/send/SelectTokensScreen.query.tsx
Due: eslint --cache --fix, prettier --write

Update NativeFRWBridge.kt
  app/src/main/java/com/flowfoundation/wallet/reactnative/bridge/NativeFRWBridge.kt
Due: none

Path conditions:
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: any of: *.{json,js,ts,jsx,tsx,html,md,mdx,mjs,yml,yaml}
